<script class="dialog_loaded"></script>

<div class="row-fluid">

    <form id='payment_form'
          class='form-horizontal'
          role='form'
          method="post"
            >
        <div class="row-fluid">

            {# Amount #}
            <div class="control-group">
                <label class="span3 control-label"
                       for="amount">Amount</label>
                <div class="span9">
                    <input id="amount"
                           class='input-block-level'
                           name='amount'
                           type="number"
                           placeholder="Amount"
                           required>
                </div>
            </div>
            {# Unit #}
            <div class="control-group">
                <label class="span3 control-label"
                       for="unit">Unit</label>
                <div class="span9">
                    <select id='unit'
                               class='input-block-level'
                               name='unit'>
                            <option value='TL'>TL</option>
                            <option value='window.jQuery'>window.jQuery</option>
                        </select>
                </div>
            </div>

            {#Description #}
            <div class="control-group'">
                <label for="budget_description"
                       class="span3 control-label">Description</label>
                <div class="span9">
                    <textarea id="budget_description"
                              name='description'
                              class="autosize-transition"
                              style="overflow: hidden;
                                     word-wrap: break-word;
                                     resize: horizontal;
                                     height: 50px;"
                            ></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/bootstrap-datepicker.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/daterangepicker.min.js") }}'></script>#}
<script type="text/javascript">

    function init_dialog() {

        console.debug('starting to initialize invoice dialog!!!');

        var dialog_label = window.jQuery('#dialog_template_label');
        dialog_label.find('span').remove();
        dialog_label.append('<span>{{mode}} Payment</span>');



        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = window.jQuery('#dialog_template_submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');
            var payment_form = window.jQuery('#payment_form');

            var url = '/payments/create';
            {% if mode=='Update' %}
                url='/payments/{{ invoice.id }}/update';
            {% endif %}

            window.jQuery.post(
                url,
                payment_form.serialize() + '&' +
                window.jQuery.param({
                    'invoice_id': {{ invoice.id }}
                })
            ).done(function (jqXHR) {
                //window.jQuery('#new_outputs_storage').text(JSON.stringify(jqXHR));
                window.location.reload();
            }).fail(function (jqXHR) {
                bootbox.alert(jqXHR.responseText);
                submit_button.button('reset');
            });
        });

        console.debug('finished initializing the budget dialog!')
    }
</script>

<script type="text/javascript">
    function destruct_dialog() {
{#        window.jQuery('#budget_name').unbind();#}
{#        window.jQuery('#budget_description').unbind();#}
{#        window.jQuery('#dialog_template_submit_button').unbind();#}
{##}
{#        window.jQuery('#dialog_template').data('modal', null);#}
    }
</script>



