{% extends "base.jinja2" %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    {% set page_title='Permissions' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}


{# MODALS #}
{% block modals %}

    {% include 'modals/dialog_template.jinja2' %}

{% endblock modals %}

{# SIDEBAR #}
{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{# PAGE-CONTENT #}
{% block page_content %}
    {% set page_title='Permissions' %}

    {% include 'page_header.jinja2' %}

    <div class="row-fluid">
        {#        {% include 'group/list/list_group_permissions.jinja2' %}#}

        <div >
            <table id="permission" class="table table-striped table-bordered table-hover dataTable">
                <thead>
                <tr>
                    <th>Action Name</th>
                    <th>Create</th>
                    <th>Read</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th>List</th>
                </tr>
                </thead>
                <tbody>




                </tbody>
            </table>
        </div>
    </div>
    {#    </div>#}

{% endblock page_content %}

{% block extrascripts %}


    {% if entity.tasks | count > 0 %}

        {% if has_permission('Update_User') or logged_in_user.id == entity.id %}


            {% set event_type='TimeLog' %}

        {% endif %}

    {% endif %}

    {% include 'charts/chart_extrascripts.jinja2' %}


    {% include 'charts/bar_chart.jinja2' %}
    {% include 'calendar/calendar.jinja2' %}
    {% include 'charts/infobox.jinja2' %}

    {% raw %}
    <script id="tmpl_permission" type="text/x-dot-template">
        <tr>
            <td>{{=it.label }}</td>
            <td>
                <label>
                    <input name="form-field-checkbox" type="checkbox"
                           checked="{{=it.Create }}"
                           class="ace ace-checkbox-2">
                    <span class="lbl"></span>
                </label>
            </td>
            <td>
                <label>
                    <input name="form-field-checkbox" type="checkbox"
                           checked="{{=it.Read }}"
                           class="ace ace-checkbox-2">
                    <span class="lbl"></span>
                </label>
            </td>
            <td>
                <label>
                    <input name="form-field-checkbox" type="checkbox"
                           checked="{{=it.Update }}"
                           class="ace ace-checkbox-2">
                    <span class="lbl"></span>
                </label>
            </td>
            <td>
                <label>
                    <input name="form-field-checkbox" type="checkbox"
                           checked="{{=it.Delete }}"
                           class="ace ace-checkbox-2">
                    <span class="lbl"></span>
                </label>
            </td>
            <td>
                <label>
                    <input name="form-field-checkbox" type="checkbox"
                           checked="{{=it.List }}"
                           class="ace ace-checkbox-2">
                    <span class="lbl"></span>
                </label>
            </td>

        </tr>
    </script>
    {% endraw %}

    <script type="text/javascript">
        $(document).ready(function () {

            $.getJSON('/groups/{{ entity.id }}/permissions/').then(function (data) {

                var permission_template = doT.template($('#tmpl_permission').html());

                 var table_body = $('#permission>tbody');

                for (var i = 0; i < data.length; i++) {

                    console.log(data[i].Update)

                    table_body.append(permission_template(data[i]));



                }


            });
        });
    </script>

{% endblock extrascripts %}
