{# Render Task Side Bar #}

{% set task=entity %}

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        {% if has_permission('Update_Task') %}
            <button data-target="#dialog_template"
                    data-toggle="modal"
                    data-keyboard="false"
                    href='{{ request.route_url("update_task_dialog", id=entity.id) }}'
                    class="btn btn-small btn-info tooltip-info"
                    data-rel="tooltip" data-placement="bottom"
                    title="Update Task">
                <i class="icon-pencil"></i>
            </button>
        {% else %}
            <button disabled="true"
                    class="btn btn-small btn-info tooltip-info"
                    data-rel="tooltip" data-placement="bottom"
                    title="Update Task">
                <i class="icon-pencil"></i>
            </button>
        {% endif %}

        {% if logged_in_user in entity.resources  and entity.status.code == 'WIP' %}
            <button id='task_request_review_button'
                    class="btn btn-small btn-warning tooltip-success"
                    data-rel="tooltip"
                    data-placement="bottom"
                    title="Request Review"
                    data-target="#dialog_template"
                    data-toggle="modal"
                    data-keyboard="false"
                    href='/tasks/{{ task.id }}/request_review'
                    >
                <i class="icon-comment-alt"></i>
            </button>
        {% else %}
            <button disabled="true"
                    class="btn btn-small btn-warning tooltip-success"
                    data-rel="tooltip" data-placement="bottom"
                    title="Request Review">
                <i class="icon-comment-alt"></i>
            </button>
        {% endif %}

        {% if entity.responsible == logged_in_user and entity.status.code == 'PREV' %}
            <button id='task_review_button'
                    class="btn btn-small btn-success tooltip-success"
                    data-rel="tooltip"
                    data-placement="bottom"
                    title="Review Task"
                    data-target="#dialog_template"
                    data-toggle="modal"
                    data-keyboard="false"
                    href='{{ request.route_url("review_task_dialog", id=entity.id) }}'
                    >
                <i class="icon-comments"></i>
            </button>
        {% else %}
            <button disabled="true"
                    class="btn btn-small btn-success tooltip-success"
                    data-rel="tooltip" data-placement="bottom"
                    title="Review Task">
                <i class="icon-comments"></i>
            </button>
        {% endif %}
        {% if has_permission('Update_Task') %}
            <button class="btn btn-small btn-danger tooltip-success"
                    data-rel="tooltip"
                    data-placement="bottom"
                    title="Delete Task">
                <i class="icon-trash"></i>
            </button>
        {% else %}
            <button disabled="true"
                    class="btn btn-small btn-danger tooltip-success"
                    data-rel="tooltip"
                    data-placement="bottom"
                    title="Delete Task">
                <i class="icon-trash"></i>
            </button>
        {% endif %}
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!--#sidebar-shortcuts-->

<ul id="sidebar_list" class='nav nav-list'>


</ul>

<script type="text/javascript">
    $(function () {
        $.getJSON('/entities/{{ entity.id }}/references/count/').then(function (data) {
            $('#reference_count').text(data);

            menu_of('References',
                    "
            {%- if request.current_route_path() == request.route_path('list_task_references', id=task.id) -%}
                'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_task_references', id=task.id) }}',
                    'icon-user',
                    data
            )
        });
    });
</script>

<script type="text/javascript">


    $(document).ready(function () {

        menu_of('Dashboard',
                "
        {%- if request.current_route_path() == request.route_path('view_task', id=task.id) -%}
            'active',{%- else -%},{%- endif -%}",
        '{{ request.route_url('view_task', id=task.id) }}',
                'icon-dashboard',
                ''
        )


        menu_of('Tasks',
                "
        {%- if request.current_route_path() == request.route_path('list_entity_tasks', id=task.id) -%}
            'active',{%- else -%},{%- endif -%}",
        '{{ request.route_url('list_entity_tasks', id=task.id) }}',
                'icon-tasks',
                '{{ task.tasks | count }}'
        )

        menu_of('Versions',
                "
        {%- if request.current_route_path() == request.route_path('list_task_versions', id=task.id) -%}
            'active',{%- else -%},{%- endif -%}",
        '{{ request.route_url('list_task_versions', id=task.id) }}',
                'icon-sitemap',
                '{{ task.versions | count }}'
        )


    })
</script>


