{% extends "base.jinja2" %}

{#PRE-HEADER #}
{% block pre_header %}

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/fullcalendar.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-timepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/datepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/jquery-ui-1.10.3.custom.min.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/select2.css") }}'/>
    {% include 'charts/chart_preheader.jinja2' %}

{% endblock pre_header %}

{#SIDEBAR#}
{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    {% set page_title='Dashboard' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{#PAGE-CONTENT#}
{% block page_content %}


    <div class="widget-box transparent invoice-box">

        <div class="widget-header widget-header-large ">
            <h4 id='task_header' class="position-relative "></h4>
    
            <div class="widget-toolbar no-border invoice-info">
{#                <span class="invoice-info-label">Status:</span>#}
                <span class="label label-large label-status_{{ entity.status.code.lower() }}"> {{ entity.status.name }}
                </span>
                    {% if has_permission('Create_Review') and entity.is_leaf%}
                        <div class="inline position-relative">
                            <button class="btn btn-minier bigger dropdown-toggle btn-status_{{ entity.status.code.lower() }}"
                                    data-toggle="dropdown">
                                <i class="icon-angle-down icon-only bigger-120"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                                {% if (entity.status.code == 'WIP' or entity.status.code == 'HREV') %}
                                    <li>
                                        <a href="/tasks/{{entity.id}}/force_status/CMPL/dialog?came_from={{ request.current_route_path() }}"
                                           class="tooltip-success"
                                           data-rel="tooltip"
                                           title="Force Complete"
                                           data-target="#dialog_template"
                                           data-toggle="modal"
                                           data-keyboard=false
                                           data-placement="top">
                                               <span class="status_cmpl-text">
                                                   <i class="icon-ok bigger-110"></i>Force Complete
                                               </span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if entity.status.code == 'WIP'%}
                                    <li>
                                        <a href="/tasks/{{entity.id}}/force_status/STOP/dialog?came_from={{ request.current_route_path() }}"
                                           class="tooltip-success"
                                           data-rel="tooltip"
                                           title="Stop Task"
                                           data-target="#dialog_template"
                                           data-toggle="modal"
                                           data-keyboard=false
                                           data-placement="top">
                                               <span class="status_stop-text">
                                                   <i class="icon-stop bigger-110"></i>Stop Task
                                               </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/tasks/{{entity.id}}/force_status/OH/dialog?came_from={{ request.current_route_path() }}"
                                           class="tooltip-success"
                                           data-rel="tooltip"
                                           title="Hold Task"
                                           data-target="#dialog_template"
                                           data-toggle="modal"
                                           data-keyboard=false
                                           data-placement="top">
                                               <span class="status_oh-text">
                                                   <i class="icon-pause bigger-110"></i>Hold Task
                                               </span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if entity.status.code == 'STOP' or entity.status.code == 'OH' %}
                                    <li>
                                        <a href="/tasks/{{entity.id}}/resume/dialog?came_from={{ request.current_route_path() }}"
                                           class="tooltip-success"
                                           data-rel="tooltip"
                                           title="Resume"
                                           data-target="#dialog_template"
                                           data-toggle="modal"
                                           data-keyboard=false
                                           data-placement="top">
                                               <span class="wip-text">
                                                   <i class="icon-play bigger-110"></i>Resume
                                               </span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                <br>
    
                <div class="progress progress-mini progress-success progress-striped {% if entity.status.code == 'WIP' %}active{% endif %}"
                     style="width: 120px;"
                     data-percent="{{ "%2.1f" | format(entity.percent_complete) }}%">
                    <div class="bar"
                         style="width: {{ entity.percent_complete }}%;"></div>
                </div>
            </div>
            <div class="widget-toolbar">
                    <a id='watch_or_unwatch_task_button'
                       class="btn btn-inverse btn-small"
                        {% if logged_in_user in entity.watchers %}
                           title='Unwatch this task'
                           href="/tasks/{{ entity.id }}/unwatch"
                           watching='true'>
                            <i class="icon-eye-close"></i>
                        {% else %}
                           title='Watch this task'
                           href="/tasks/{{ entity.id }}/watch"
                           watching='false'>
                            <i class="icon-eye-open"></i>
                        {% endif %}
                    </a>
                <a id='refresh_task_button'  title='Fix Task Status' href="/tasks/{{ entity.id }}/fix/statuses/"
                   class="btn btn-inverse btn-small">
                    <i class="icon-refresh"></i>
                </a>
            </div>
        </div>
{#        <div class="row-fluid">#}
{#            {% include 'pillsbar.jinja2' %}#}
{#        </div>#}

        <div class="widget-body">
            <div class="widget-main">

                <div class="row-fluid">
                    <div class="span8">
                        <div class="row-fluid">
                            <div class="row-fluid">
                                <div class="span2">
                                    {% if has_permission('Update_' + entity.entity_type)  %}
                                        {% include 'components/avatar.jinja2' %}
                                    {% else %}
                                        <div class="profile-picture"
                                             style="text-align: center; overflow: hidden; width: 150px">
                                            <img id="entity_avatar"
                                                 alt="Avatar"
                                                 style="height: 100%; width: 100%; display: inline;
                                                        position: relative; left: 100%; margin-left: -200%"
                                                 src="{%- if entity.thumbnail -%}
                                                        /{{ entity.thumbnail.full_path }}
                                                    {%- else -%}
                                                        {{ request.static_url("stalker_pyramid:static/stalker/images/T_NO_IMAGE.gif") }}
                                                    {%- endif -%}"/>
                                        </div>
                                    {% endif %}
                                </div>
    
                                <div class="span7">
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Name</div>
    
                                            <div class="profile-info-value">
                                                <span class="editable"
                                                  id="editable_entity_name">{{ entity.name }}</span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Type</div>
    
                                            <div class="profile-info-value">
                                                <span class="editable"
                                                  id="editable_entity_type">{{ entity.type.name }}</span>
                                            </div>
                                        </div>
    
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Created By</div>
                                            <div class="profile-info-value">
                                                <span>{{ entity.created_by.name }}</span>
                                                <span id="task_date_created"></span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Updated By</div>
                                            <div class="profile-info-value">
                                                <span>{{ entity.updated_by.name }}</span>
                                                <span id="task_date_updated"></span>
                                            </div>
                                        </div>
                
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Timing</div>
                                            <div class="profile-info-value">
                                                <strong>
                                                    <span class="date">{{ entity.start }}</span>
                                                    <i class="icon-long-arrow-right blue"></i>
                                                    <span class="date">{{ entity.end }}</span>
                                                </strong>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Priority</div>
                                            <div class="profile-info-value">

                                                <span class="editable"
                                                  id="editable_entity_priority">{{ entity.priority }}</span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
    
                                <div class="span3">
                                    {% if entity.is_leaf %}
                                        {% include 'task/view/task_timing.jinja2' %}
                                    {% elif entity.entity_type == 'Shot'%}
                                        {% include 'shot/view/shot_cut_timing.jinja2' %}

                                    {% endif %}
                                </div>
                            </div>
                            <div class="space-8"></div>
                            <div class="row-fluid">
                                <div class="widget-box">
                                    <div class="widget-header widget-header-small header-color-dark">
                                        <h5 class="smaller">
                                            <i class="icon-file"></i>Description
                                        </h5>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                                        </div>
                                        <div class="widget-toolbar no-border">
                                            <button class="btn btn-danger btn-mini" id="entity_description_edit_trigger">
                                                <i class="icon-pencil bigger-125"></i>
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class='editableform-loading center hide'
                                                 id="description_loading">
                                                <i class='light-blue icon-2x icon-spinner icon-spin'></i>
                                            </div>
                                            <div class="space-8"></div>
                                            <span id="editable_entity_description">{{ entity.description | replace('\n', '<br/>') | safe }}</span>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="space-18"></div>

                        <div class="row-fluid">
                            <div class="tabbable"
                                 style="background-color: rgba(255,255,255,.7)">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#messages-tab">
                                            <i class="green icon-list-alt bigger-120"></i>
                                            Messages
                                        </a>
                                    </li>
                                    <li class="">
                                        <a id="calendar_tab" data-toggle="tab" href="#calendar-tab">
                                            <i class="orange icon-calendar bigger-120"></i>
                                            Calendar
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content no-border no-padding">
                                    <div class="space-24"></div>
                                    <div id="messages-tab"
                                         class="tab-pane in active">

                                        <form id="add_note_form">

                                            <div class="form-actions">
{#                                                <div class="itemdiv">#}
{#                                                    <div class="user">#}
{#                                                        <img alt=""#}
{#                                                             src="{%- if logged_in_user.thumbnail -%}/{{ logged_in_user.thumbnail.full_path }}{%- else -%}{{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}{%- endif -%}"/>#}
{#                                                    </div>#}
{#                                                </div>#}
                                                <div class="control-group">
{#                                                    <input placeholder="Type your message here ..."#}
{#                                                           type="text" class="width-90"#}
{#                                                           name="message"/>#}
                                                    <div class="wysiwyg-editor" id="note_editor"></div>
                                                    <button id="add_note_button"
                                                            class="btn btn-small btn-info no-radius">
                                                        <i class="icon-share-alt"></i>
                                                        <span class="hidden-phone">Send</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                        {% include 'note/list/list_notes.jinja2' %}

                                    </div>
                                    <!--/#calendar-tab-->
                                    <div id="calendar-tab" class="tab-pane">
                                        <div id="calendar"></div>
                                    </div>
                                    <!--/#calendar-tab-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="span4">
                        <div class="entityview-item clearfix">

                            {% if entity.is_leaf %}
                                <div class="row-fluid">
                                    {% include 'review/view/review_card.jinja2' %}
                                </div>
                            {% else %}
                                {% if entity.entity_type == 'Asset' or entity.entity_type == 'Shot' or entity.entity_type == 'Task' %}
                                    {% if entity.type.name == 'Scene' or entity.entity_type == 'Shot'%}
                                        {% include 'asset/list/list_task_related_assets.jinja2' %}
                                    {% endif %}
                                    <div class="row-fluid">
                                        {% include 'entity/entity_children_progress.jinja2' %}
                                    </div>
                                {% endif %}
                            {% endif %}

                            <div class="space-4"></div>

                            <div class="row-fluid">

                                {% if entity.is_leaf %}
                                    {% set add_button_address = request.route_path('change_task_users_dialog', id=entity.id, user_type='Resources', _query={'came_from': request.current_route_path()}) %}
                                    {% set address=request.route_path('get_task_resources', id=entity.id) %}
                                    {% set list_item_type='Resource' %}
                                    {% include 'components/editable_list.jinja2' %}

                                {% else %}

                                    <div id="resources_box"
                                         class="widget-box  transparent">
                                        <div class="widget-header widget-header-small">
                                            <h4 class="smaller grey">
                                                <i class="icon-user orange"></i>Resources</h4>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div id="resource_tree"
                                                     class="tree"></div>
                                            </div>
                                        </div>
                                    </div>
                               {% endif %}
                            </div>

                            <div class="space-4"></div>

                            {% if entity.is_leaf %}
                                <div class="row-fluid">
                                    <div id="version_used_by_tasks"
                                         class="widget-box transparent">
                                        <div class="widget-header  widget-header-small">
                                            <h4 class="smaller">
                                                <i class="icon-long-arrow-down"></i>Versions are used in
                                            </h4>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div id="version_used_by_tasks_tree" class="tree"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="space-4"></div>

                                <div class="row-fluid">
                                    <div id="depends_box"
                                         style="width: 50%"
                                         class="span6 widget-box transparent">
                                        <div class="widget-header widget-header-small header-color-grey">
                                            <h4 class="smaller">
                                                <i class="icon-long-arrow-left"></i>Depends To
                                            </h4>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div id="depends_tree" class="tree"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="dependent_of_box"
                                         style="width: 50%"
                                         class="span6 widget-box transparent">
                                        <div class="widget-header widget-header-small header-color-grey">
                                            <h4 class="smaller">Dependent Of
                                                <i class="icon-long-arrow-right"></i>
                                            </h4>
                                        </div>
                                        <div class="widget-body">
                                            <div class="widget-main">
                                                <div id="dependent_of_tree" class="tree"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

{#EXTRA-SCRIPTS#}
{% block extrascripts %}
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.ui.touch-punch.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.gritter.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.slimscroll.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.hotkeys.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/select2.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.maskedinput.min.js") }}'></script>

    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/markdown/markdown.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/markdown/bootstrap-markdown.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.hotkeys.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/stalker/js/bootstrap-wysiwyg.js") }}'></script>
    
    {% if entity.children | count == 0 %}
        {% if entity.status.code in ['RTS','WIP','HREV','DREV']%}
            {% if logged_in_user in entity.resources  or logged_in_user in entity.responsible or has_permission('Update_User')%}
                {% set event_type='TimeLog' %}
            {% endif %}
        {% endif %}
    {% endif %}

    {% include 'components/tree.jinja2' %}
    {% include 'calendar/calendar.jinja2' %}

{#    <script type="text/javascript">#}
{#        // convert all dates to moment#}
{#        $('.date').each(function () {#}
{#            var date = moment.utc($(this).text());#}
{#            $(this).text(date.fromNow());#}
{#        });#}
{#    </script>#}

<script type="text/javascript">

    function showErrorAlert(reason, detail) {
        var msg = '';
        if (reason === 'unsupported-file-type') {
            msg = "Unsupported format " + detail;
        } else if (reason === 'big-file-size') {
            msg = "File is too big " + detail + ' bytes';
        } else {
            console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
    }

    $(function () {
        $('#refresh_task_button').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            $.post('/tasks/{{ entity.id }}/fix/statuses/').done(function (response_text) {
                window.location.reload();
            }).fail(function (jqXHR) {
                bootbox.alert(jqXHR.responseText);
            });
        });

        $('#watch_or_unwatch_task_button').on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var self = $(this);
            var url = self.attr('href');
            $.post(url).done(function(){
                // change icon
                if (self.attr('watching') === 'true') {
                    self.attr('watching', 'false');
                    self.find('i').removeClass('icon-eye-close').addClass('icon-eye-open');
                    flash_message({
                        title: 'Unwatch Task',
                        message: 'You are not watching this task anymore!',
                        type: 'error'
                    })
                } else {
                    self.attr('watching', 'true');
                    self.find('i').removeClass('icon-eye-open').addClass('icon-eye-close');
                    flash_message({
                        title: 'Watching Task',
                        message: 'You are now watching this task!',
                        type: 'success'
                    })
                }
            });
        });

    });


    $(function () {
        var icon_name = get_icon('{{ entity.entity_type.lower()}}');
        $('#task_header').append('<i class="' + icon_name + ' bigger-125"></i>{{ entity.name }}');

        {% if has_permission('Update_Task') %}
            var inline_update_url = '/tasks/{{ entity.id }}/update/inline';

            //editables
            $('#editable_entity_name').editable({
                type: 'text',
                name: 'name',
                success: function (response, newValue) {
{#                    console.log('newValue ' + newValue);#}

                    var params = $.param({
                        attr_name: 'name',
                        attr_value: newValue
                    });

                    $.post(
                        inline_update_url, params
                    ).done(function () {
{#                        console.log('done');#}
                    }).fail(function (jqXHR) {
                        bootbox.alert('<div id="message" class="alert alert-danger bigger-110">' + jqXHR.responseText + '</div>');
                    });
                }
            });
             $('#editable_entity_priority').editable({
                    type: 'spinner',
                    name: 'priority',
                    spinner : {
                        min : 500, max:1000, step:1
                    },
                    success: function (response, newValue) {

                        var params = $.param({
                            task_ids: [{{ entity.id }}],
                            priority: parseInt(newValue),
                            change_children_priority: 'false'
                        });

                        bootbox.dialog("Do you want to set children tasks' priority to same value? ", [{
                            "label" : "Yes!",
                            "class" : "btn-small btn-success",
                            "callback": function() {
                                params = $.param({
                                    task_ids: [{{ entity.id }}],
                                    priority: parseInt(newValue),
                                    change_children_priority: 'true'
                                });
                                $.post(
                                        '/tasks/change_priority', params
                                    ).done(function () {
                                        console.log('done');
                                    }).fail(function (jqXHR) {
                                        bootbox.alert('<div id="message" class="alert alert-danger bigger-110">' + jqXHR.responseText + '</div>');
                                    });
                            }
                            }, {
                            "label" : "No!",
                            "class" : "btn-small btn-danger",
                            "callback": function() {
                                params = $.param({
                                    task_ids: [{{ entity.id }}],
                                    priority: parseInt(newValue),
                                    change_children_priority: 'false'
                                });
                                $.post(
                                        '/tasks/change_priority', params
                                    ).done(function () {
                                        console.log('done');
                                    }).fail(function (jqXHR) {
                                        bootbox.alert('<div id="message" class="alert alert-danger bigger-110">' + jqXHR.responseText + '</div>');
                                    });
                            }
                            }]
                        );


                    }
                });

            $.getJSON('/types/?target_entity_type={{ entity.entity_type }}').then(function (available_types) {
                var entity_types = [];

                for (var i = 0; i < available_types.length; i++) {
                    entity_types.push({
                        id: available_types[i].id,
                        text: available_types[i].name
                    })
                }

                if (entity_types.length > 0) {
                    $('#editable_entity_type').editable({
                        type: 'select2',
                        value: '{% if entity.type %}{{ entity.type.id }}{% endif %}',
                        source: entity_types,
                        success: function (response, newValue) {

                            var params = $.param({
                                attr_name: 'type',
                                attr_value: newValue
                            });

                            $.post(
                                inline_update_url, params
                            ).done(function () {
{#                                console.log('done');#}
                            }).fail(function (jqXHR) {
                                bootbox.alert('<div id="message" class="alert alert-danger bigger-110">' + jqXHR.responseText + '</div>');

                            });
                        }
                    });
                }
                else {
                    $('#editable_entity_type').editable({
                        type: 'text',
                        value: '{{ entity.entity_type }}',
                        disabled: true
                    });
                }
            });

            $('#editable_entity_description').editable({
                mode: 'inline',
                type: 'wysiwyg',
                name: 'editable_entity_description',
                toggle:'manual',

                wysiwyg: {
                    maxFileSize: 2000000,
                    fileUploadError: showErrorAlert
                },

                success: function (response, newValue) {
                    $('#description_loading').show();

                    var params = $.param({
                        attr_name: 'description',
                        attr_value: newValue
                    });

                    $.post(inline_update_url, params).done(function () {

                        $.getJSON('{{request.route_url('get_task', id=entity.id) }}').then(
                            function (data) {
                                $('#editable_entity_description').val(data.description);
                                $('#description_loading').hide();
                            }
                        );

                    }).fail(function (jqXHR) {
                        bootbox.alert('<div id="message" class="alert alert-danger bigger-110">' + jqXHR.responseText + '</div>');
                        $('#description_loading').hide()

                    });
                }
            });

            $('#entity_description_edit_trigger').on('click', function(e){
                e.stopPropagation();
                $('#editable_entity_description').editable('toggle');
            });
            
        {% endif %}


        $('#add_note_button').on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            // disable the submit_button
            var submit_button = $(this);
            submit_button.button('loading');

            var editor = $('.wysiwyg-editor');
            var content = editor.cleanHtml();
            var content_as_text = editor.text();

            $.post(
                "/note/create",
                $.param({
                    content: content,
                    content_as_text: content_as_text,
                    type: "Simple Text",  {# TODO: it is not simple text anymore, update it. #}
                    entity_ids:{{ entity.id }}
                })
            ).done(function () {
                window.location.assign('{{ came_from }}');
{#                // just append the note to the top#}
{#                var note_simple_template = doT.template($('#tmpl_note_simple_text').html());#}
            }).fail(function (jqXHR) {
                bootbox.alert('<div id="message" class="alert alert-danger bigger-110">' + jqXHR.responseText + '</div>');
                submit_button.button('reset');
            });
        })

    });

    $.getJSON('/tasks/{{ entity.id }}/events/').then(function (data) {
        $(function () {
            var events = [];
            var resources = {};

            for (var i = 0; i < data.length; i++) {
                var start_date = new Date(parseInt(data[i].start));
                var end_date = new Date(parseInt(data[i].end));
                var title = data[i].title;

                if (data[i].entity_type == 'tasks') {
                    for (var k = 0; k < data[i].resources.length; k++) {
                        var prop_id = (data[i].resources[k].id).toString();
                        title += ' - ' + data[i].resources[k].name;

                        if (!resources [prop_id]) {
                            resources [prop_id] = {
                                'name': '<span><a href="/users/' + data[i].resources[k].id + '/view">' + data[i].resources[k].name + '  </a></span>',
                                'type': 'folder',
                                'icon-class': 'blue'
                            }
                        }

                        if (!resources[prop_id]['additionalParameters']) {
                            resources[prop_id]['additionalParameters'] = {};
                            resources[prop_id]['additionalParameters']['children'] = {};
                        }

                        var time_to_complete_str = '<span> ( ' +  meaningful_time_between(data[i].schedule_seconds, data[i].total_logged_seconds) + ') </span>';

                        var percent_complete_str = '<span class="label label-status_' + data[i].status_color + '">' + data[i].status + '</span>';

                        resources[prop_id]['additionalParameters']['children'][(data[i].id).toString()] = {name: '<span  class="pull-left"><a href="/tasks/' + data[i].id + '/view">' + data[i].title + '  </a></span>' + time_to_complete_str + percent_complete_str, type: 'item'}

                        $('#resources_box').show();
                    }
                }

                if (data[i].resource_name) {
                    title = data[i].title + ' - ' + data[i].resource_name;
                }

                var event = {
                    eId: data[i].id,
                    entity_type: data[i].entity_type,
                    title: title,
                    start: start_date,
                    end: end_date,
                    className: data[i].className,
                    allDay: data[i].allDay
                };
                events.push(event);
            }

            drawCalendar('calendar', events);
            drawTree('resource_tree', resources);
        });
    });


    var get_dependency = function (type) {
        $.getJSON('/tasks/{{ entity.id }}/dependency/' + type + '/').then(function (data) {

            var depends = {};
            for (var i = 0; i < data.length; i++) {

                var task_id = (data[i].id).toString();
                var time_to_complete_str = '<span> ( ' +  meaningful_time_between(data[i].schedule_seconds,data[i].total_logged_seconds) + ' )</span>';

                if (!depends[task_id]) {
                    depends[task_id] = {
                        'name': '<span><a href="/tasks/' + data[i].id + '/view">' + data[i].name + '  </a></span>' + time_to_complete_str,
                        'type': 'folder',
                        'icon-class': data[i].status_color
                    }
                }

                if (!depends[task_id]['additionalParameters']) {
                    depends[task_id]['additionalParameters'] = {};
                    depends[task_id]['additionalParameters']['children'] = {};
                }

                for (var k = 0; k < data[i].resources.length; k++) {
                    depends[task_id]['additionalParameters']['children'][(data[i].resources[k].id).toString()] = {
                        name: '<span  class="pull-left"><a href="/users/' + data[i].resources[k].id + '/view">' + data[i].resources[k].name + '  </a></span>',
                        type: 'item'
                    };
                }
            }

            drawTree(type + '_tree', depends);

            if (data.length == 0) {
                $('#' + type + '_tree').append('<div class="alert alert-warning">No tasks</div>');
            }
        });
    };

    $(function () {
        {% if entity.is_leaf %}
            get_dependency('depends');
            get_dependency('dependent_of');

        {% endif %}
    });

    $.getJSON('/entities/{{ entity.id }}/version/used_by/tasks/').then(function (data) {
        var tasks = {};
        for (var i = 0; i < data.length; i++) {

            var task_id = (data[i].id).toString();

            if (!tasks[task_id]) {
                tasks[task_id] = {
                    'name': '<span><a href="/tasks/' + data[i].id + '/view">' + data[i].name + '</a></span>',
                    'type': 'folder',
                    'icon-class': data[i].status_color
                }
            }

            if (!tasks[task_id]['additionalParameters']) {
                tasks[task_id]['additionalParameters'] = {};
                tasks[task_id]['additionalParameters']['children'] = {};
            }

            tasks[task_id]['additionalParameters']['children'][(data[i].resource_id).toString()] = {
                name: '<span  class="pull-left"><a href="/users/' + data[i].resource_id + '/view">' + data[i].resource_name + '  </a></span>',
                type: 'item'
            };
        }

        $(function () {
            drawTree('version_used_by_tasks_tree', tasks);

            if (data.length == 0) {
                $('#version_used_by_tasks_tree').append('<div class="alert alert-warning">No tasks</div>');
            }
        });
    });
</script>

<script>
        $.getJSON('/tasks/{{ entity.id }}/', function(data){
            $(function(){
                // update created and update time of the task
                $('#task_date_created').html(moment(data[0].date_created).format('YYYY-MM-DD HH:mm'));
                $('#task_date_updated').html(moment(data[0].date_updated).format('YYYY-MM-DD HH:mm'));
            })
        })
</script>

<script>
    // fix calendar not showing up
    $(function(){
        $('#calendar_tab').on('click', function(){
            // check if the title is visible
            // meaning that calendar tab is working (somebody clicked it before)
            var today_button = $('.fc-button-today');
            if (today_button.attr('fixed_visibility_bug') !== '1') {
                console.debug('calendar is not visible');
                // it is not shown yet
                // so trigger a click for the today button
                setTimeout(function(){
                    today_button.trigger('click');
                }, 0);
                today_button.attr('fixed_visibility_bug', '1');
            } else {
                console.debug('calendar is visible');
            }
        });
    });
</script>

<script type="text/javascript">

    function showErrorAlert(reason, detail) {
        var msg = '';
        if (reason === 'unsupported-file-type') {
            msg = "Unsupported format " + detail;
        } else if (reason === 'big-file-size') {
            msg = "File is too big " + detail + ' bytes';
        } else {
            console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
    }

    $(function(){
        $('#note_editor').ace_wysiwyg({
            toolbar: [
                'font',
                null,
                'fontSize',
                null,
                {name: 'bold', className: 'btn-info'},
                {name: 'italic', className: 'btn-info'},
                {name: 'strikethrough', className: 'btn-info'},
                {name: 'underline', className: 'btn-info'},
                null,
                {name: 'insertunorderedlist', className: 'btn-success'},
                {name: 'insertorderedlist', className: 'btn-success'},
                {name: 'outdent', className: 'btn-purple'},
                {name: 'indent', className: 'btn-purple'},
                null,
                {name: 'justifyleft', className: 'btn-primary'},
                {name: 'justifycenter', className: 'btn-primary'},
                {name: 'justifyright', className: 'btn-primary'},
                {name: 'justifyfull', className: 'btn-inverse'},
                null,
                {name: 'createLink', className: 'btn-pink'},
                {name: 'unlink', className: 'btn-pink'},
                null,
                {name: 'insertImage', className: 'btn-success'},
                null,
                'foreColor',
                null,
                {name: 'undo', className: 'btn-grey'},
                {name: 'redo', className: 'btn-grey'}
            ],
            'wysiwyg': {
                maxFileSize : 2000000,
                fileUploadError: showErrorAlert
            }
        }).prev().addClass('wysiwyg-style1');

        //Add Image Resize Functionality to Chrome and Safari
        //webkit browsers don't have image resize functionality when content is editable
        //so let's add something using jQuery UI resizable
        //another option would be opening a dialog for user to enter dimensions.
        if (typeof jQuery.ui !== 'undefined' && /applewebkit/.test(navigator.userAgent.toLowerCase())) {

            var lastResizableImg = null;

            function destroyResizable() {
                if (lastResizableImg == null) return;
                lastResizableImg.resizable("destroy");
                lastResizableImg.removeData('resizable');
                lastResizableImg = null;
            }

            var enableImageResize = function () {
                $('.wysiwyg-editor').on('mousedown', function (e) {
                    var target = $(e.target);
                    if (e.target instanceof HTMLImageElement) {
                        if (!target.data('resizable')) {
                            target.resizable({
                                aspectRatio: e.target.width / e.target.height
                            });
                            target.data('resizable', true);

                            if (lastResizableImg != null) {//disable previous resizable image
                                lastResizableImg.resizable("destroy");
                                lastResizableImg.removeData('resizable');
                            }
                            lastResizableImg = target;
                        }
                    }
                }).on('click', function (e) {
                    if (lastResizableImg != null && !(e.target instanceof HTMLImageElement)) {
                        destroyResizable();
                    }
                }).on('keydown', function () {
                    destroyResizable();
                });
            };

            enableImageResize();

{#            //or we can load the jQuery UI dynamically only if needed#}
{#            if (typeof jQuery.ui !== 'undefined') enableImageResize();#}
{#            else {//load jQuery UI if not loaded#}
{#                $.getScript($path_assets + "/js/jquery-ui-1.10.3.custom.min.js", function (data,#}
{#                                                                                           textStatus,#}
{#                                                                                           jqxhr) {#}
{#                    if ('ontouchend' in document) {//also load touch-punch for touch devices#}
{#                        $.getScript($path_assets + "/js/jquery.ui.touch-punch.min.js", function (data,#}
{#                                                                                                 textStatus,#}
{#                                                                                                 jqxhr) {#}
{#                            enableImageResize();#}
{#                        });#}
{#                    } else    enableImageResize();#}
{#                });#}
{#            }#}
        }

        // remove speech input
        $('.wysiwyg-speech-input').remove();

    });
</script>



{% endblock extrascripts %}
