{% extends "base.jinja2" %}

{% block pre_header %}
   {% include 'time_log/list/list_time_logs_preheader.jinja2' %}
{% endblock pre_header %}

{#{% block modals %}#}
{#     {% include 'modals/dialog_template.jinja2' %}#}
{#{% endblock modals%}#}

{% block breadcrumbs %}
    {% set page_title='Tasks' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{% block page_content %}
    {% set page_title='Tasks' %}
    {% include 'page_header.jinja2' %}
    <!--/.page-header-->
    {% include 'time_log/list/list_time_logs.jinja2' %}
    {% include 'modals/dialog_template.jinja2' %}
{% endblock page_content %}
