<div class="row-fluid">
    <div class="span12">
        <div class="alert alert-info bigger-110">

            <ul class="unstyled spaced">

                <li><strong>Task:</strong>
                    <a href="/tasks/{{ task.id }}/view"
                       target="_blank">{{ task.name }}</a>
                </li>
                <li><strong>File :</strong>
                    {% set file_name_split=version.full_path.split('/') %}
                    {% set full_path=file_name_split[file_name_split | count - 1 ] %}
                    <a href="javascript:copyToClipboard('{{ version.absolute_full_path }}')">{{ full_path }}</a>
                </li>
                <li><strong>Date :</strong> {{ version.date_updated }} (<span
                        class="date">{{ version.date_updated }}</span>)
                </li>
                <li><strong>Created by :</strong>
                    <a href="/users/{{ version.created_by.id }}/view"
                       target="_blank">{{ version.created_by.name }}</a>
                </li>
                <li><strong>Description :</strong> {{ version.description }}
                </li>

            </ul>
            <div id="outputs_alert" class="alert alert-danger bigger-110">
                    <a href="/versions/{{ version.id }}/view"
                       target="_blank">{{ version.take_name }} | {{ version.version_number }} has <span id="output_count"> 0 </span> outputs!</a>

            </div>

        </div>
    </div>
</div>

<script>
    $('.date').each(function () {

        var date = moment.utc($(this).text());
        $(this).text(date.fromNow());
    });

     $(document).ready(function () {
        $.getJSON('/tasks/{{ task.id }}/outputs/count/').then(function (data) {
            var badge = $('#output_count');
            var alert = $('#outputs_alert');
            if (data > 0){
                badge.text(data);
                alert.removeClass('alert-danger').addClass('alert-success');
            }
        });
     });

</script>