{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2014 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
{% set version=entity %}

{% extends "base.jinja2" %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    {% set listed_type=version.plural_class_name %}
    {% set page_title='version #'  %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{#SIDEBAR#}
{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{#PRE-HEADER #}
{% block pre_header %}
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/dropzone.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/stalker/css/Paginator.css") }}'/>

{% endblock pre_header %}

{#PAGE-CONTENT#}
{% block page_content %}

{#    {% set page_title=version.filename %}#}
{#    {% include 'page_header.jinja2' %}#}

    <div class="widget-box transparent invoice-box">

        <div class="widget-header widget-header-large ">
            <h4 id='version_header' class="position-relative "></h4>

            <div class="widget-toolbar no-border invoice-info">
               {% if version.is_published %}
                    <span class="label label-large label-success arrowed-in">Published</span>
               {% else %}
                    <span class="label label-large label-important arrowed-in">Unpublished</span>
               {% endif %}

            </div>
            <div class="widget-toolbar hidden-480">

            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="profile-user-info profile-user-info-striped">

                            <div class="profile-info-row">
                                <div class="profile-info-name">File</div>
                                <div class="profile-info-value">
                                    {% set file_name_split=version.full_path.split('/') %}
                                    {% set full_path=file_name_split[file_name_split | count - 1 ] %}
                                    <span><a href='javascript:copyToClipboard("{{ version.absolute_full_path }}")'>{{ full_path }}</a></span>
                                </div>
                            </div>
                            {% if version.parent %}
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Parent</div>
                                    <div class="profile-info-value">
                                        <span><a href="/versions/{{ version.parent.id }}/view">{{version.parent.take_name }} | {{version.parent.version_number }}</a></span>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="profile-info-row">
                                <div class="profile-info-name">Created By</div>
                                <div class="profile-info-value">
                                    <span><a href="/users/{{ version.created_by.id }}/view">{{ version.created_by.name }}</a></span>
                                </div>
                            </div>
                            {% if version.description %}
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Description</div>
                                    <div class="profile-info-value">
                                        <span>{{ version.description }}</span>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="profile-info-row">
                                <div class="profile-info-name">Download</div>
                                <div class="profile-info-value">
                                    <span><a href='{{ request.route_url('pack_version', id=version.id) }}'>Download as self contained ZIP file</a></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hr hr8 hr-double"></div>
                <div class="row-fluid">
                    {% include 'link/list_outputs.jinja2' %}
                </div>

            </div>
        </div>
    </div>

{% endblock page_content %}

{% block extrascripts %}
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.ui.touch-punch.min.js") }}'></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var icon_name = get_icon('version');
            $('#version_header').append('<i class="' + icon_name + ' bigger-125"></i>{{ version.take_name }} | {{ version.version_number }}');
        });

    </script>




{% endblock extrascripts %}
