<div class="row-fluid">
{% for client in entity.clients %}
    <div class="media span4">
        <a class="pull-left"
           href="/clients/{{ client.id }}/view"
           style="text-align: center; overflow: hidden; width: 60px">
            <img id="sidebar_avatar"
                 style="height: auto; width: 100%; max-width: none;
                      position: relative; left: 100%; margin-left: -200%"
                     class="img-thumbnail"
                     src={%- if client.thumbnail -%}/{{ client.thumbnail.full_path }}{%- else -%}{{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png")}}{%- endif -%}>
        </a>

        <div class="media-body">
            <h5 class="media-heading"><span style='color: #1f1f1f;'>{{client.name}}</span><br/>
                <small>{{client.type.name}}</small>
            </h5>
        </div>
    </div>
{% endfor %}
</div>

