{# Render Client Side Bar #}

{% set client=entity %}

<ul id="sidebar_list" class='nav nav-list'></ul>

<script>
    window.jQuery(function () {
        window.page_of('{{ client.name }}',
                '{{ client.login }}',
                '{%- if client.thumbnail -%}/{{ client.thumbnail.full_path }}{%- else -%}{{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png")}}{%- endif -%}',
                '{%- if has_permission('Update_Client') -%}/clients/{{ client.id }}/update/dialog{%- endif -%}'
        )

        window.menu_of(
            'Dashboard',
            "{%- if request.current_route_path() == request.route_path('view_client', id=client.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_client', id=client.id) }}',
            window.get_icon('dashboard'),
            ''
        );

        window.menu_of(
            'Users',
            "{%- if request.current_route_path() == request.route_path('list_entity_users', id=client.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_users', id=client.id) }}',
            window.get_icon('user'),
            '/entities/{{ client.id }}/users/count/'
        );

{#        window.menu_of(#}
{#            'Roles',#}
{#            "{%- if request.current_route_path() == request.route_path('list_entity_users_role', id=client.id) -%}'active',{%- else -%},{%- endif -%}",#}
{#            '{{ request.route_url('list_entity_users_role', id=client.id) }}',#}
{#            window.get_icon('user'),#}
{#            '/entities/{{ client.id }}/users/count/'#}
{#        );#}

        window.submenu_of('{{ client.id }}', 'Project');

        

    });
</script>



