<script class="dialog_loaded"></script>

<div class='row-fluid'>
    <div class='span12'>

        <div id="version_message">
            {% if version %}
                {% include 'version/view/version_card.jinja2' %}
            {%  endif %}
        </div>

        <div class="row-fluid">
            <div id="warning-message" class="alert alert-danger bigger-110">
            </div>
        </div>

        <div class="space"></div>
        <form id="force_task_status_form"
              class='form-horizontal'
              role='form'
              method='post'
              action="">

            {# Notes #}
            <div class='control-group'>
                <label class='span3 control-label'
                       for='note'>Note:</label>

                <div class='span9'>
                    <textarea id="note"
                              name='note'
                              class="autosize-transition span12"
                              style="overflow: hidden;
                                         word-wrap: break-word;
                                         resize: horizontal;
                                         height: 150px;"
                            ></textarea>
                </div>
            </div>

        </form>


    </div>
</div>

<script src='{{ request.static_url("stalker_pyramid:static/stalker/js/bootstrap-tag.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/chosen.jquery.min.js") }}'></script>

<script>

    function init_dialog() {
        console.debug('starting to initialize confirm dialog!!!');

        var dialog_template_label = $('#dialog_template_label');
        dialog_template_label.find('span').remove();
        dialog_template_label.append('<span class="green">Request Review Dialog</span>');

        $('#warning-message').append('{{ message | safe}}');

        var url = '{{ action }}';
{#        console.log('url : '+url);#}




        {# ***************************************************************** #}
        {# Submit Button #}
        $('#dialog_template_submit_button').on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            // disable the submit_button
            var submit_button = $(this);

            if (url){
                submit_button.button('loading');
                var force_task_status_form = $('#force_task_status_form');
                var force_task_status_form_data = force_task_status_form.serialize();

                $.post(url, force_task_status_form_data).done(function (response) {
                    $('#dialog_template').modal('hide');
                    // reload page
                    setTimeout(function () { // wait for hide event to finish
                        window.location.reload();
                    }, 0);
                }).fail(function (jqXHR) {
                    bootbox.alert('<h6 class="red"><i class="icon-warning-sign"></i> Failed</h6>' + jqXHR.responseText);
                    submit_button.button('reset');
                });
            }
            else {
                $('#dialog_template').modal('hide');
            }
        });

        console.debug('finished initializing the confirm dialog!')
    }
</script>


<script type="text/javascript">
    function destruct_dialog() {
        $('#dialog_template_submit_button').unbind();
        $('#dialog_template').data('modal', null);
    }
</script>
