# use glob syntax
syntax: glob

*~*
*.pyc
docs/html/*
docs/latex/*
docs/doctrees/*
docs/source/generated/*
docs/source/static_pyramid/stalker_design*.vue
docs/source/static_pyramid/design
data/*
frontend/node_modules/
frontend/ace/node_modules/
.coverage
.DS_Store
dist/*
build/*
stalker_pyramid.egg-info/*
lib/*
bin/*
include/*
local
*.swp
stalker_pyramid.db*
pyramid.log
pyramid.pid
anima.ini
yoyo.ini
home.ini
imaj.ini
local_production.ini
local_production2.ini
package-lock.json
frontend/dist/
stalker_pyramid/static/js/*
stalker_pyramid/static/css/*