# use glob syntax
syntax: glob

*~*
*.pyc
docs/html/*
docs/latex/*
docs/doctrees/*
docs/source/generated/*
docs/source/static_pyramid/stalker_design*.vue
docs/source/static_pyramid/design
data/*
.coverage
.DS_Store
dist/*
build/*
stalker_pyramid.egg-info/*
lib/*
bin/*
include/*
local
*.swp
stalker_pyramid.db*
.git/
pyramid.log
pyramid.pid
anima.ini
yoyo.ini
home.ini
imaj.ini
local_production.ini
local_production2.ini
