# use glob syntax
syntax: glob

*~*
*.pyc
*.swp
.DS_Store
.coverage
.git/
anima.ini
bin/*
build/*
data/*
dist/*
docs/doctrees/*
docs/html/*
docs/latex/*
docs/source/generated/*
docs/source/static_pyramid/design
docs/source/static_pyramid/stalker_design*.vue
frontend/node_modules
frontend/package-lock.json
home.ini
imaj.ini
include/*
lib/*
local
local_production.ini
local_production2.ini
pyramid.log
pyramid.pid
stalker_pyramid.db*
stalker_pyramid.egg-info/*
yoyo.ini
