{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz
 
 This file is part of Stalker Pyramid.
 
 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}


{#<div id='project_dialog' class="modal-form">#}

<div class="modal-body">
    <form class='form-horizontal' role='form'>
        {# Name #}
        <div class="row-fluid">
            <label for="project_name" class="span2 control-label">Name</label>
            <div class="span10">
                <input type="text" class="form-control" id="project_name" placeholder="Name">
            </div>
        </div>

        {# Code #}
        <div class="row-fluid">
            <label for="project_code" class="span2 control-label">Code</label>
            <div class="span10">
                <input id="project_name" type="text" class="form-control" placeholder="Code">
            </div>
        </div>

        {# Start & End Dates #}
        <div class="row-fluid">
            <label for="start_date_picker" class="span2 control-label">Date</label>
            <div class="span10 input-prepend">
                <input id='start_end_date_range_picker' type="text" data-date-format="yyyy-mm-dd" placeholder="Start & End Dates">
                <span class="add-on">
                    <i class="icon-calendar"></i>
                </span>
            </div>
        </div>

        {# Image Format #}
        <div class="row-fluid">
            <label for='image_format' class="span2 control-label">Image Format</label>
            <div class="span10">
                <select id='image_format' data-placeholder='Image Format'>
                    <option>Test 1</option>
                    <option>Test 2</option>
                    <option>Test 3</option>
                    <option>Test 4</option>
                    <option>Test 5</option>
                </select>
            </div>
        </div>

    </form>

</div>


{#</div>#}


<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.ui.touch-punch.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/chosen.jquery.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/bootstrap-datepicker.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/moment.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/daterangepicker.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootstrap-colorpicker.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.autosize-min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.inputlimiter.1.3.1.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.maskedinput.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootstrap-tag.min.js") }}'></script>

<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.validate.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/additional-methods.min.js") }}'></script>


<script type="text/javascript">
    console.debug('code is here 1');

    {# Start End Date Picker #}
    // initialize date picker
    var start_end_date_range_picker = $('#start_end_date_range_picker').daterangepicker();

    // fix z-index of the container
    start_end_date_range_picker.data().daterangepicker.container.css({'z-index': 1060});



    {# Image Format Select #}
    var image_format = $("#image_format");
    var original_width = image_format.width();
    image_format.chosen();
    // fix width
    image_format.data().chosen.container.css({width: original_width + 'px'});

    
    // cleanup vars
    delete window.start_end_date_range_picker, window.image_format,
            window.original_width;

    console.debug('code is here 2');
</script>

