{% extends "base.jinja2" %}

{# PRE-HEADER#}
{% block pre_header %}

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/fullcalendar.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-timepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/datepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/daterangepicker.css") }}'/>
{% endblock pre_header %}

{#SIDEBAR#}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}


{#BREADCRUMBS#}
{% block breadcrumbs %}

    {% set page_title='Vacations' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# MODALS #}
{#{% block modals %}#}
{##}
{#    {% include 'modals/dialog_template.jinja2' %}#}
{##}
{#{% endblock modals %}#}

{#PAGE-CONTENT#}
{% block page_content %}

    {% set page_title='Vacations' %}
    {% include 'page_header.jinja2' %}
    <!--/.page-header-->

    <div class="row-fluid">

        <div class="span12">
            <!--PAGE CONTENT BEGINS-->

            <div class="row-fluid">
                <div class="span9">

                    <div class="space"></div>
                    <div id="calendar"></div>

                </div>
            </div>
            <!--PAGE CONTENT ENDS-->
        </div>
        <!--/.span-->
    </div>

{% endblock page_content %}

<!--page specific plugin scripts-->
{#EXTRA-SCRIPTS#}
{% block extrascripts %}


    {% set event_type='Vacation' %}

    {% include 'calendar/calendar.jinja2' %}

    <script type="text/javascript">
        $(document).ready(function () {

            $.getJSON('/entities/{{ entity.id }}/events/?keys=vacation').then(function (data) {


                var events = [];

                for (var i = 0; i < data.length; i++) {

                    var start_date = new Date(parseInt(data[i].start));
                    var end_date = new Date(parseInt(data[i].end));


                    var event = {
                        eId: data[i].id,
                        entity_type: data[i].entity_type,
                        title: data[i].title,
                        start: start_date,
                        end: end_date,
                        className: data[i].className,
                        allDay: data[i].allDay
                    };



                    events.push(event);

                }

                drawCalendar('calendar', events);


            });
        });
    </script>


{% endblock extrascripts %}
