{% extends "base.jinja2" %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    {% set page_title='Projects' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{# PAGE-CONTENT #}
{% block page_content %}
{#    {% set page_title='Projects' %}#}
{#    {% include 'page_header.jinja2' %}#}


    {% set add_button_address=request.route_path('create_project_dialog', id=-1, _query={'mode': "Create" }) %}
    {% set address=request.route_path('get_entity_projects', id=entity.id) %}
    {% set list_item_type='Project' %}
    {% include 'components/data_table.jinja2' %}

{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}

    {% raw %}
    <script id="tmpl_itemThead" type="text/x-dot-template">

    <tr>
        <th>Thumbnail</th>
        <th>Project</th>
        <th>Lead</th>
        <th>Created By</th>
        <th>Users</th>
        <th>Type</th>
        <th>Completed</th>
        <th></th>
    </tr>
    </script>
    {% endraw %}

    {% raw %}
    <script id="tmpl_itemRow" type="text/x-dot-template">
        <tr>
            <td><img style='width:auto; height: 50px;'
                     class="img-thumbnail"
                     src="{{=it.thumbnail_full_path }}">
            </td>
            <td><a href='/projects/{{=it.id }}/view'>{{=it.name}}</a>
            </td>
            <td><a href='/users/{{=it.lead_id}}/view'>{{=it.lead_name}}</a>
            </td>
            <td><a href='/users/{{=it.created_by_id}}/view'>{{=it.created_by_name}}</a>
            </td>
            <td>{{=it.description}}</td>
            <td>{{=it.type_name}}</td>
            <td>
                <div>
                    <span>{{=it.status}}</span>
                </div>
                <div class="progress progress-success">
                    <div style="width:{{=it.completed}}%"
                         class="bar">
                        <span class="center">{{=it.percent_complete}}%</span>
                    </div>
                </div>

            </td>
            <td>
                {{ if (it.item_update_link) { }}
                <a  class="blue"
                    data-target="#dialog_template"
                    data-toggle="modal"
                    data-keyboard=false
                    href="{{=it.item_update_link}}">
                    <i class="icon-edit bigger-130"></i>
                </a>{{ } }}

                {{ if (it.item_duplicate_link) { }}
                <a  class="purple"
                    data-target="#dialog_template"
                    data-toggle="modal"
                    data-keyboard=false
                    href="{{=it.item_duplicate_link}}">
                    <i class="icon-copy bigger-130"></i>
                </a>{{ } }}

                {{ if (it.item_remove_link) { }}
                <a  class="red"
                    data-target="#dialog_template"
                    data-toggle="modal"
                    data-keyboard=false
                    href="{{=it.item_remove_link}}">
                    <i class="icon-trash bigger-130"></i>
                </a>{{ } }}
            </td>


        </tr>
    </script>
    {% endraw %}

    <script>
        let tableParameters = {};
        let sortingParameters = [[0, 'asc'], [1, 'desc']];
        let tableDataAddress = '{{ request.route_path('get_entity_projects', id=entity.id) }}';
   </script>

{% endblock extrascripts %}
