{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
{% extends "base.jinja2" %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    {% set page_title='Projects' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{# PAGE-CONTENT #}
{% block page_content %}
    {% set page_title='Projects' %}
    {% include 'page_header.jinja2' %}

    {% set projects=entity.projects %}

    {#    <div class="table-header transparent">#}
    {#        Projects#}
    {#    </div>#}

    <table id="projects_table"
           class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Project</th>
            <th>Lead</th>
            <th>Created By</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.dataTables.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.dataTables.bootstrap.js") }}'></script>

    {% raw %}
    <script id="tmpl_projectRow" type="text/x-dot-template">
        <tr>
            <td><img style='width:auto; height: 100px;'
                     class="img-thumbnail"
                     src="{{=it.thumbnail_full_path }}">
            </td>
            <td><a href='/projects/{{=it.project_id }}/view'>{{=it.project_name}}</a>
            </td>
            <td><a href='/users/{{=it.lead_id}}/view'>{{=it.lead_name}}</a>
            </td>
            <td><a href='/users/{{=it.created_by_id}}/view'>{{=it.created_by_name}}</a>
            </td>
            <td>
                <div>
                    <span>{{=it.status}}</span>
                </div>
                <div class="progress progress-success">
                    <div style="width:{{=it.completed}}%"
                         class="bar">
                        <span class="center">{{=it.percent_complete}}%</span>
                    </div>
                </div>

            </td>
        </tr>
    </script>
    {% endraw %}



    <script>
        // fill projects table with dynamic data
        $.getJSON('/entities/{{ entity.id }}/projects/').then(function (data) {


            var projects = data;
            var project_template = doT.template($('#tmpl_projectRow').html());

            // wait until document is ready
            $(function () {

                var i;
                var table_body = $('#projects_table>tbody');
                for (i = 0; i < data.length; i++) {
                    // fix dates
                    data[i].date_created = new Date(data[i].date_created).format('yyyy-mm-dd HH:MM');

                    if (data[i].thumbnail_full_path == null) {
                        data[i].thumbnail_full_path = '{{ request.static_url("stalker_pyramid:static/stalker/images/T_NO_IMAGE.gif") }}';
                    }
                    else {
                        data[i].thumbnail_full_path = '/' + data[i].thumbnail_full_path;
                    }

                    // append it to the table
                    table_body.append(project_template(data[i]));
                }

                var oTable1 = $('#projects_table').dataTable();

            });
        });

    </script>


{% endblock extrascripts %}
