<form class="form-inline">
    <select id="role_id"
           name='role_name'
           placeholder="Select a role"
           required></select>
    <select id="user_id"
           name='user_name'
           placeholder="Select a user"
           required></select>
    <button class="btn btn-info btn-small">
        <i class="icon-plus bigger-110"></i>
        ADD
    </button>
</form>

<script type="text/javascript">
    $(function () {

    });

</script>