<div class="widget-box">
    <div class="widget-header widget-header-small header-color-dark">
        <h5 class="smaller">
            <i class="icon-file"></i>Description
        </h5>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
        </div>
        <div class="widget-toolbar no-border">
            <button class="btn btn-danger btn-mini" id="entity_description_edit_trigger">
                <i class="icon-pencil bigger-125"></i>
                Edit
            </button>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class='editableform-loading center hide'
                 id="description_loading">
                <i class='light-blue icon-2x icon-spinner icon-spin'></i>
            </div>
            <div class="space-8"></div>
            <span id="editable_entity_description">{{ entity.description | replace('\n', '<br/>') | safe }}</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.jQuery(function () {
        {% if has_permission('Update_Entity')%}
            window.jQuery('#editable_entity_description').editable({
                    mode: 'inline',
                    type: 'wysiwyg',
                    name: 'editable_entity_description',
                    toggle:'manual',

                    wysiwyg: {
                        maxFileSize: 2000000,
                        fileUploadError: showErrorAlert
                    },

                    success: function (response, newValue) {
                        window.jQuery('#description_loading').show();

                        var params = window.jQuery.param({
                            attr_name: 'description',
                            attr_value: newValue
                        });

                        window.jQuery.post('{{inline_update_url}}', params).done(function () {
                                window.jQuery('#description_loading').hide();
                        }).fail(function (jqXHR) {
                            bootbox.alert('<div id="message" class="alert alert-danger bigger-110">' + jqXHR.responseText + '</div>');
                            window.jQuery('#description_loading').hide();

                        });
                    }
                });

                window.jQuery('#entity_description_edit_trigger').on('click', function(e){
                    e.stopPropagation();
                    window.jQuery('#editable_entity_description').editable('toggle');
                });

        {% endif %}
    });
</script>