{% raw %}
<script id="tmpl_infobox" type="text/x-dot-template">

    <div class="infobox infobox-{{=it.status_code }} infobox-dark" style="width:120px">
        <div class="infobox-icon" style="min-width:40px" id="status_button" ><i class="{{=it.status_icon }}"></i></div>
        <div class="infobox-data" style="min-width:60px">
            <span class="infobox-data-number">{{=it.tasks_count }}</span>
            <div class="infobox-content">
                {{ if (it.entity_type === 'Project'){ }}
                <a href="/projects/{{=it.entity_id }}/view?f_id={{=it.status_id }}"
                   class="white">{{=it.status_code }}</a>
                {{ } else { }}
                <a data-target="#html_template"
                   data-toggle="modal"
                   data-keyboard=false
                   href="/entities/{{=it.entity_id }}/tasks/filter/{{=it.status_id }}/list"
                   class="white">{{=it.status_code }}</a>
                {{ } }}
            </div>
        </div>
    </div>
</script>
{% endraw %}


<script>
    $(document).ready(function () {
        var infobox = $('#infobox');
        var infobox_template = doT.template($('#tmpl_infobox').html());

        $.getJSON(infobox.attr('address')).then(function (data) {
            var sorting_path = ['WFD','RTS','WIP', 'PREV','HREV', 'DREV', 'CMPL', 'OH','STOP'];
            var sorted_data = [];

            var index = -1;
            for (var i = 0; i < data.length; i++) {

                data[i].entity_id = '{{ entity.id }}';
                data[i].entity_type = '{{ entity.entity_type }}';
                if(data[i].status_icon == ''){
                   data[i].status_icon = get_icon(data[i].status_code);
                }

                index = sorting_path.indexOf(data[i].status_code.toString());
                if (index !== -1){
                    sorted_data[index] = data[i];
                }
                data[i].status_code = (data[i].status_code).toLowerCase();
            }

            for (var k = 0; k < sorted_data.length; k++) {
                if(sorted_data[k]){
                    infobox.append(infobox_template(sorted_data[k]));
                }
            }
        });
    });
</script>

