<!-- Don't touch this! -->

<script class="include" type="text/javascript"
        src='{{ request.static_url("stalker_pyramid:static/jqPlot/jquery.jqplot.min.js") }}'></script>
{#<script type="text/javascript"#}
{#        src='{{ request.static_url("stalker_pyramid:static/jqPlot/examples/syntaxhighlighter/scripts/shCore.min.js") }}'></script>#}
{#<script type="text/javascript"#}
{#        src='{{ request.static_url("stalker_pyramid:static/jqPlot/examples/syntaxhighlighter/scripts/shBrushJScript.min.js") }}'></script>#}
{#<script type="text/javascript"#}
{#        src='{{ request.static_url("stalker_pyramid:static/jqPlot/examples/syntaxhighlighter/scripts/shBrushXml.min.js") }}'></script>#}
<!-- End Don't touch this! -->
