 <link class="include" rel="stylesheet" type="text/css"
          href='{{ request.static_url("stalker_pyramid:static/jqPlot/jquery.jqplot.min.css") }}'/>
{#    <link type="text/css" rel="stylesheet"#}
{#          href='{{ request.static_url("stalker_pyramid:static/jqPlot/examples/syntaxhighlighter/styles/shCoreDefault.min.css") }}'/>#}
{#    <link type="text/css" rel="stylesheet"#}
{#          href='{{ request.static_url("stalker_pyramid:static/jqPlot/examples/syntaxhighlighter/styles/shThemejqPlot.min.css") }}'/>#}
