{% raw %}
<script id="tmpl_infobox" type="text/x-dot-template">
    <div class="infobox infobox-{{=it.color }}" style="width:190px">
        <div class="infobox-icon"><i class="{{=it.icon }}"></i></div>
        <div class="infobox-data"><span class="infobox-data-number">{{=it.count }}</span>

            <div class="infobox-content">{{=it.name }}</div>
        </div>
    </div>

</script>
{% endraw %}

<script class="code" type="text/javascript">
    $(document).ready(function () {

        var infobox = $('#infobox');
        var infobox_template = doT.template($('#tmpl_infobox').html());


        $.getJSON(infobox.attr('address')).then(function (data) {


            for (var i = 0; i < data.length; i++) {

                infobox.append(infobox_template(data[i]));

            }

        })

    });
</script>

