<script class="code" type="text/javascript">
    $(document).ready(function () {

      var infobox = $('#infobox');

      $.getJSON(infobox.attr('address')).then(function (data) {


        for(var i=0;i<data.length;i++){

          infobox.append('<div class="infobox infobox-'+ data[i].color+'"><div class="infobox-icon"><i class="'+data[i].icon+'"></i></div><div class="infobox-data"><span class="infobox-data-number">'+data[i].count+'</span><div class="infobox-content">'+data[i].name+'</div></div></div>');

        }

      })

    });
</script>

