<table class="table table-striped table-bordered">
    <thead>
        <tr style="background-color: #587a5c;">
            <th style="width:25%">Client</th>
            <th style="width:25%">Brand</th>
            <th style="width:25%">Product</th>
            <th style="width:25%">Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="grey" id="brand_name"></span></td>
            <td>{{ project.get_generic_text_attr("product_project_name") }}</td>
            <td>{{ project.get_generic_text_attr("mark_name") }}</td>
            <td><select id="contact"
                        name='contact'
                        placeholder="Contact"
                        required></select></td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered">
    <thead>
        <tr style="background-color: #297a7d;">
            <th style="width:25%">Agency</th>
            <th style="width:25%">Creative Director</th>
            <th style="width:25%">Customer Director</th>
            <th style="width:25%">Agency Producer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="grey" id="agency_name"></span></td>
            <td><select id="creative_director"
                        name='creative_director'
                        placeholder="Creative Director"
                        required></select></td>
            <td><select id="customer_director"
                        name='customer_director'
                        placeholder="Customer Director"
                        required></select></td>
            <td><select id="agency_producer"
                        name='agency_producer'
                        placeholder="Agency Producer"
                        required></select></td>
        </tr>
    </tbody>
</table>

<table class="table table-striped table-bordered">
    <thead>
        <tr style="background-color: #777b31;">
            <th style="width:20%">Production Company</th>
            <th style="width:20%">Director</th>
            <th style="width:20%">Producer</th>
            <th style="width:20%">Supervisor</th>
            <th style="width:20%">Coordinator</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="grey" id="production_firm_name"></span></td>
            <td><select id="director"
                        name='director'
                        placeholder="Director"
                        required></select></td>
            <td><select id="producer"
                        name='producer'
                        placeholder="Producer"
                        required></select></td>
            <td><select id="supervisor"
                        name='supervisor'
                        placeholder="Supervisor"
                        required></select></td>
            <td><select id="coordinator"
                        name='coordinator'
                        placeholder="Coordinator"
                        required></select></td>
        </tr>
    </tbody>
</table>

{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery-ui-1.10.3.custom.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.inputlimiter.1.3.1.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/additional-methods.min.js") }}'></script>#}

<script type="text/javascript">
    function get_project_client_by_type(client_type){
            var client_id = -1;
            var client_name = "";
            var client_type_name = '';

            {% for client in project.clients %}
                client_type_name = '{{ client.type.name }}';
                console.log("client_type_name: "+ client_type_name);
                if (client_type_name == client_type ){
                    client_id = '{{ client.id }}';
                    client_name = '{{ client.name }}';
                }
            {% endfor %}
            return {'id':client_id, 'name':client_name};
        }

    window.jQuery(document).ready(function () {

        function get_client_users(client_type, client_type_field_name, roles, users){
            var client_id = get_project_client_by_type(client_type)['id'];
            var client_name = get_project_client_by_type(client_type)['name'];

            if (client_id !== -1){
                window.jQuery('#'+client_type_field_name+'_name').append('<a class="green" href="/clients/'+client_id+'/view">'+client_name+'</a>');
                window.jQuery('#'+client_type_field_name+'_controls').show();

{#                window.jQuery.getJSON('/clients/'+client_id+'/users/').then(function (c_data) {#}

                var client_users = users;
                for (var i=0; i<roles.length; i++){

                    var field = window.jQuery('#'+roles[i].field_name);
                    chosen_searchable_field_creator_by_data(field, user_option_template, client_users);
                    field.attr('role_name', roles[i].role_name);
                    field.attr('client_id', client_id);
                    field.on('change', function () {
                        console.log("roles[i].role_name: "+window.jQuery(this).attr('role_name'));
                        var second_url = '/clients/'+window.jQuery(this).attr('client_id')+'/user/append?user_id='+window.jQuery(this).val()+'&role_name='+window.jQuery(this).attr('role_name')
                        set_user_role(window.jQuery(this).val(), window.jQuery(this).attr('role_name'), second_url);
                    });
                    set_field_value(field, '/entities/{{ project.id }}/role_user/?role_name='+roles[i].role_name);
                }

{#                });#}
            }
            else{
                 window.jQuery('#'+client_type_field_name+'_controls').hide();
            }
        }

        function set_user_role(user_id, role_name, second_post_url){
            console.log("role_name: "+ role_name);
            window.jQuery.post(
                '/entities/{{ project.id }}/users/update/',
                'id='+user_id+"&role="+role_name
            ).done (function (response_text) {
                flash_message({
                                    type: "success",
                                    title: "Success!",
                                    message: response_text
                                });
               if (second_post_url !== ""){
                    setTimeout(function () {
                        window.jQuery.post(
                            second_post_url
                        ).done(function (response_text) {
                               console.log("response_text" + response_text);
                               flash_message({
                                    type: "success",
                                    title: "Success!",
                                    message: response_text
                                });

                        }).fail(function (jqXHR) {
                            bootbox.alert('<div id="message" class="alert alert-danger bigger-110">'+jqXHR.responseText+'</div>');

                        });
                    }, 0);
                }
            }).fail(function (jqXHR) {
                bootbox.alert('<div id="message" class="alert alert-danger bigger-110">'+jqXHR.responseText+'</div>');
            });
        }

        function set_field_value(field, url){
            window.jQuery.getJSON(url).then(function (data) {
                field.val(data.id);
                {% if not has_permission('Update_Project') %}
                    field.attr('disabled', true);
                {% endif %}
                field.trigger('liszt:updated');
            });
        }

        {% raw %}
            var user_option_template = window.dot_template(
                '<option value={{=it.id}}>{{=it.name}}</option>'
            );
        {% endraw %}

        window.jQuery.getJSON('/entities/{{ studio.id }}/users/').then(function (p_data) {
            var studio_users = p_data;
            get_client_users("Brand","brand", [{'field_name':"contact", 'role_name':"Contact"}], studio_users);
            get_client_users("Agency","agency", [{'field_name':"creative_director", 'role_name':"Creative Director"},
                                        {'field_name':"customer_director", 'role_name':"Customer Director"},
                                        {'field_name':"agency_producer", 'role_name':"Agency Producer"}], studio_users);
            get_client_users("Production House","production_firm", [{'field_name':"director", 'role_name':"Director"},
                                        {'field_name':"producer", 'role_name':"Producer"},
                                        {'field_name':"supervisor", 'role_name':"Supervisor"},
                                        {'field_name':"coordinator", 'role_name':"Coordinator"}], studio_users);
        });

        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = window.jQuery('#submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');


            var project_form = window.jQuery('#project_form');

            var brand = window.jQuery('#brand');
            var production_firm = window.jQuery('#production_firm');
            var adv_agency = window.jQuery('#adv_agency');
            var product_project_name = window.jQuery('#product_project_name');

            var g_data = {
                 'product_project_name' : product_project_name.val()
             };
            var generic_text =  JSON.stringify(g_data);

            var _client_query = '';
            if (production_firm.val()){
                _client_query +="&client_ids="+production_firm.val();
            }
            if (adv_agency.val()){
                _client_query +="&client_ids="+adv_agency.val();
            }
            if (brand.val()){
                _client_query +="&client_ids="+brand.val();
            }
            console.log("project_form.serialize(): _client_query="+_client_query);

            if (project_form.validate()) {
                window.jQuery.post(
                    project_form.attr('action'),
                    project_form.serialize() + "&generic_text="+generic_text+_client_query
                ).done(function () {
                    window.location.reload();
                }).fail(function (jqXHR) {
                    bootbox.alert(jqXHR.responseText);
                    submit_button.button('reset');
                });
            }
        });
    });


</script>
