{% set project=entity %}
<script class="dialog_loaded"></script>

<div class="row-fluid padding-2">

    <div class="span12">
        {% include 'project/dialog/project_basic_information_form.jinja2' %}
    </div>

</div>

<script type="text/javascript">

    function init_dialog() {
        console.debug('starting to initialize project dialog!!!');

        var dialog_template_label = window.jQuery('#dialog_template_label');
        dialog_template_label.find('span').remove();
        dialog_template_label.append('<span>{{ mode }} Project</span>');

        {# ***************************************************************** #}
        {# Submit Button #}
        window.jQuery(document).ready(function () {
            var submit_button = window.jQuery('#dialog_template_submit_button');
            submit_button.on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();

                submit_button.button('loading');

                console.log('project_form');

                var project_form = window.jQuery('#project_form');

                var brand = window.jQuery('#brand');
                var production_house = window.jQuery('#production_house');
                var adv_agency = window.jQuery('#adv_agency');
                var product_project_name = window.jQuery('#product_project_name');
                var mark_name = window.jQuery('#mark_name');

                var g_data = {
                     'product_project_name' : product_project_name.val(),
                     'mark_name': mark_name.val()
                };
                var generic_text =  JSON.stringify(g_data);
{#                var _client_query = '';#}
{#                if (production_firm.val()){#}
{#                    _client_query +="&production_house="+production_house.val();#}
{#                }#}
{#                if (adv_agency.val()){#}
{#                    _client_query +="&agency="+adv_agency.val();#}
{#                }#}
{#                if (brand.val()){#}
{#                    _client_query +="&brand="+brand.val();#}
{#                }#}
{#                console.log("project_form.serialize(): _client_query="+_client_query);#}

                if (project_form.validate()) {
                    window.jQuery.post(
                        project_form.attr('action'),
                        project_form.serialize()+"&generic_text="+generic_text
                    ).done(function (new_url) {
                        window.location.assign(new_url);
                    }).fail(function (jqXHR) {
                        bootbox.alert(jqXHR.responseText);
                        submit_button.button('reset');
                    });
                }
            });
        });
        console.debug('finished initializing the project dialog!')
    }
</script>

<script type="text/javascript">

    function destruct_dialog() {
        window.jQuery('#project_form').unbind();
        window.jQuery('#project_name').unbind();
        window.jQuery('#project_login').unbind();
        window.jQuery('#project_email').unbind();
        window.jQuery('#project_password').unbind();
        window.jQuery('#project_password2').unbind();
        window.jQuery('#dialog_template_submit_button').unbind();

        window.jQuery('#dialog_template').data('modal', null);

    }
</script>



