{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2014 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
{% extends 'base.jinja2' %}

{# PRE-HEADER #}
{% block pre_header %}

    <meta name="description" content="3 styles with inline editable feature" />

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/chosen.min.css") }}'/>

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/jquery-ui-1.10.3.custom.min.css") }}'/>
{#    <link rel="stylesheet"#}
{#          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-editable.css") }}'/>#}
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/jquery.gritter.css") }}'/>
{#    <link rel="stylesheet"#}
{#          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-editable.css") }}'/>#}



{% endblock pre_header %}

{# SIDEBAR #}
{% block sidebar %}

    {% if entity %}
        {% include 'sidebar.jinja2' %}
    {% endif %}

{% endblock sidebar %}

{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title='Update' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# PAGE-CONTENT #}
{% block page_content %}

    {% set page_title='Update' %}
    {% include 'page_header.jinja2' %}

    {% set project=entity %}
    <div class="row-fluid">

        <div class="span5">
            <div class="widget-box">
                <div class="widget-header widget-header-small header-color-grey">
                    <h4 class="smaller">
                        <i class="icon-info-sign"></i>
                        Basic Information
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
{#                        {% set mode='Update' %}#}
                        {% include 'project/dialog/project_basic_information_form.jinja2' %}
                        <div class="form-actions">
                            <button id='submit_button' type="button"
                                    class="btn btn-info btn-primary">
                                <i class="icon-ok"></i>Ok
                            </button>
                            <button type="button" class="btn">
                                <i class="icon-remove"></i>Cancel
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="span7">
            <div class="widget-box">
                <div class="widget-header widget-header-small header-color-green">
                    <h4 class="smaller">
                        <i class="icon-info-sign"></i>
                        Users Information
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        {# Name #}
                        <form id='project_user_form'
                              class='form-horizontal'
                              role='form'
                              method="post"
                              >
                            <div class="row-fluid">
                                <div class="control-group">
                                    <label class="span2 control-label"
                                           for="creative_director">Yaratıcı Yönetmen</label>

                                    <div class="span10">
                                        <select id="creative_director"
                                               name='creative_director'
                                               placeholder="Yaratıcı Yönetmen"
                                               required></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="span2 control-label"
                                           for="customer_director">Müşteri Direktörü</label>

                                    <div class="span10">
                                        <select id="customer_director"
                                               name='customer_director'
                                               placeholder="Müşteri Direktörü"
                                               required></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="span2 control-label"
                                           for="agency_producer">Ajans Yapımcısı</label>
                                    <div class="span10">
                                        <select id="agency_producer"
                                               name='agency_producer'
                                               placeholder="Ajans Yapımcısı"
                                               required></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="span2 control-label"
                                           for="director">Yönetmen</label>
                                    <div class="span10">
                                        <select id="director"
                                               name='director'
                                               placeholder="Yönetmen"
                                               required></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="span2 control-label"
                                           for="producer">Yapımcı</label>
                                    <div class="span10">
                                        <select id="producer"
                                               name='producer'
                                               placeholder="Yapımcı"
                                               required></select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}

    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.inputlimiter.1.3.1.min.js") }}'></script>

    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/additional-methods.min.js") }}'></script>



<script type="text/javascript">


    $(document).ready(function () {

        function set_user_role(user_id, role_name){
            $.post(
                '/entities/{{ entity.id }}/users/update/',
                'id='+user_id+"&role="+role_name
            ).done (function (jqXHR) {
{#                    window.location.assign('{{ came_from }}');#}
            }).fail(function (jqXHR) {
                bootbox.alert('<div id="message" class="alert alert-danger bigger-110">'+jqXHR.responseText+'</div>');
            });
        }

        function set_field_value(field, url){
            $.getJSON(url).then(function (data) {
                field.val(data.id);
                field.trigger('liszt:updated');
            });
        }

        {% raw %}
            var user_option_template = doT.template(
                '<option value={{=it.id}}>{{=it.name}}</option>'
            );
        {% endraw %}
        $.getJSON('/projects/{{ entity.id }}/users/').then(function (p_data) {
            var project_users = p_data;
            $.getJSON('/clients/{{ entity.client.id }}/users/').then(function (c_data) {

                var client_users = c_data;

                var creative_director = $('#creative_director');
                chosen_searchable_field_creator_by_data(creative_director, user_option_template, project_users);
                creative_director.on('change', function () {
                    set_user_role($(this).val(), "Yaratici Yonetmen");
                });
                set_field_value(creative_director, '/entities/{{ entity.id }}/role_user/?role_name=Yaratici%20Yonetmen');

                var customer_director = $('#customer_director');
                chosen_searchable_field_creator_by_data(customer_director, user_option_template, project_users);
                customer_director.on('change', function () {
                    set_user_role($(this).val(), "Musteri Direktoru");
                });
                set_field_value(customer_director, '/entities/{{ entity.id }}/role_user/?role_name=Musteri%20Direktoru');

                var agency_producer = $('#agency_producer');
                chosen_searchable_field_creator_by_data(agency_producer, user_option_template, client_users);
                agency_producer.on('change', function () {
                    set_user_role($(this).val(), "Ajans Yapimcisi");
                });
                set_field_value(agency_producer, '/entities/{{ entity.id }}/role_user/?role_name=Ajans%20Yapimcisi');

                var director = $('#director');
                chosen_searchable_field_creator_by_data(director, user_option_template, project_users);
                director.on('change', function () {
                    set_user_role($(this).val(), "Yonetmen");
                });
                set_field_value(director, '/entities/{{ entity.id }}/role_user/?role_name=Yonetmen');

                var producer = $('#producer');
                chosen_searchable_field_creator_by_data(producer, user_option_template, project_users);
                producer.on('change', function () {
                    set_user_role($(this).val(), "Yapimci");
                });
                set_field_value(producer, '/entities/{{ entity.id }}/role_user/?role_name=Yapimci');
            });
        });

        {# ***************************************************************** #}

        {# Submit Button #}
        var submit_button = $('#submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');
            var project_form = $('#project_form');

            var production_firm = $('#production_firm');
            var adv_agency = $('#adv_agency');
            var product_project_name = $('#product_project_name');

            var g_data = {
             'production_firm': production_firm.val(),
             'adv_agency':adv_agency.val(),
             'product_project_name' : product_project_name.val()
            };
            var generic_text =  JSON.stringify(g_data);

            console.log("generic_text: " +generic_text);

            if (project_form.validate()) {
                $.post(
                    project_form.attr('action'),
                    project_form.serialize()+"&generic_text="+generic_text
                ).done (function (jqXHR) {
                    window.location.reload();
                    submit_button.button('reset');
                }).fail(function (jqXHR) {
                    bootbox.alert('<div id="message" class="alert alert-danger bigger-110">'+jqXHR.responseText+'</div>');

                    submit_button.button('reset');
                });
            }
        });
    });


</script>

{% endblock extrascripts %}

