{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2014 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
{% extends 'base.jinja2' %}

{# PRE-HEADER #}
{% block pre_header %}

    <meta name="description" content="3 styles with inline editable feature" />

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/chosen.min.css") }}'/>

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/jquery-ui-1.10.3.custom.min.css") }}'/>
{#    <link rel="stylesheet"#}
{#          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-editable.css") }}'/>#}
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/jquery.gritter.css") }}'/>
{#    <link rel="stylesheet"#}
{#          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-editable.css") }}'/>#}



{% endblock pre_header %}

{# SIDEBAR #}
{% block sidebar %}

    {% if entity %}
        {% include 'sidebar.jinja2' %}
    {% endif %}

{% endblock sidebar %}

{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title='Update' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# PAGE-CONTENT #}
{% block page_content %}

    {% set page_title='Update' %}
    {% include 'page_header.jinja2' %}

    {% set project=entity %}
    <div class="row-fluid">

        <div class="span5">
            <div class="widget-box">
                <div class="widget-header widget-header-small header-color-grey">
                    <h4 class="smaller">
                        <i class="icon-info-sign"></i>
                        Basic Information
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
{#                        {% set mode='Update' %}#}
                        {% include 'project/dialog/project_basic_information_form.jinja2' %}
                        <div class="form-actions">
                            <button id='submit_button' type="button"
                                    class="btn btn-info btn-primary">
                                <i class="icon-ok"></i>Ok
                            </button>
                            <button type="button" class="btn">
                                <i class="icon-remove"></i>Cancel
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="span7">
            <div class="widget-box">
                <div class="widget-header widget-header-small header-color-green">
                    <h4 class="smaller">
                        <i class="icon-info-sign"></i>
                        Users Information
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form id='project_user_form'
                              class='form-horizontal'
                              role='form'
                              method="post"
                              >
                            <div class="row-fluid">
                                <h4 class="header blue bolder smaller">Musteri:
                                    <span class="grey" id="brand_name"></span>
{#                                    <a data-target="#dialog_template"#}
{#                                       data-toggle="modal"#}
{#                                       data-keyboard=false#}
{#                                       href="{{ request.route_path('append_user_to_client_dialog', id=entity.client.id, _query={'came_from': request.current_route_path()})}}"#}
{#                                       class="green pull-right">#}
{#                                        <i class="icon-plus"></i>#}
{#                                            Add New User#}
{#                                    </a>#}
                                </h4>
                                <div id="brand_controls" class="hide">
                                     <div class="control-group">
                                        <label class="span2 control-label"
                                               for="contact">Contact</label>
                                        <div class="span10">
                                            <select id="contact"
                                                   name='contact'
                                                   placeholder="Contact"
                                                   required></select>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="header blue bolder smaller">Reklam Ajansi:
                                    <span class="grey" id="agency_name"></span>
{#                                    <a data-target="#dialog_template"#}
{#                                       data-toggle="modal"#}
{#                                       data-keyboard=false#}
{#                                       href="{{ request.route_path('append_user_to_client_dialog', id=entity.get_generic_text_attr('adv_agency'), _query={'came_from': request.current_route_path()})}}"#}
{#                                       class="green pull-right">#}
{#                                        <i class="icon-plus"></i>#}
{#                                            Add New User#}
{#                                    </a>#}
                                </h4>
                                <div id="agency_controls" class="hide">
                                    <div class="control-group">
                                        <label class="span2 control-label"
                                               for="director">Yaratici Yönetmen</label>
                                        <div class="span10">
                                            <select id="creative_director"
                                                   name='creative_director'
                                                   placeholder="Yaratici Yönetmen"
                                                   required></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="span2 control-label"
                                               for="customer_director">Müşteri Direktörü</label>

                                        <div class="span10">
                                            <select id="customer_director"
                                                   name='customer_director'
                                                   placeholder="Müşteri Direktörü"
                                                   required></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="span2 control-label"
                                               for="agency_producer">Ajans Yapımcısı</label>
                                        <div class="span10">
                                            <select id="agency_producer"
                                                   name='agency_producer'
                                                   placeholder="Ajans Yapımcısı"
                                                   required></select>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="header blue bolder smaller">Yapim Sirketi:
                                    <span class="grey" id="production_firm_name"></span>
{#                                    <a data-target="#dialog_template"#}
{#                                       data-toggle="modal"#}
{#                                       data-keyboard=false#}
{#                                       href="{{ request.route_path('append_user_to_client_dialog', id=entity.get_generic_text_attr('production_firm'), _query={'came_from': request.current_route_path()})}}"#}
{#                                       class="green pull-right">#}
{#                                        <i class="icon-plus"></i>#}
{#                                            Add New User#}
{#                                    </a>#}
                                </h4>
                                <div id="production_firm_controls" class="hide">
                                    <div class="control-group">
                                        <label class="span2 control-label"
                                               for="director">Yönetmen</label>
                                        <div class="span10">
                                            <select id="director"
                                                   name='director'
                                                   placeholder="Yönetmen"
                                                   required></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="span2 control-label"
                                               for="producer">Yapımcı</label>
                                        <div class="span10">
                                            <select id="producer"
                                                   name='producer'
                                                   placeholder="Yapımcı"
                                                   required></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="span2 control-label"
                                               for="supervisor">Supervisor</label>
                                        <div class="span10">
                                            <select id="supervisor"
                                                   name='supervisor'
                                                   placeholder="Supervisor"
                                                   required></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="span2 control-label"
                                               for="coordinator">Coordinator</label>
                                        <div class="span10">
                                            <select id="coordinator"
                                                   name='coordinator'
                                                   placeholder="Coordinator"
                                                   required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="header blue bolder smaller">{{ studio.name }}</h4>
                            <div class="control-group">
                                <label class="span2 control-label"
                                       for="studio_director">Yönetmen</label>
                                <div class="span10">
                                    <select id="studio_director"
                                           name='studio_director'
                                           placeholder="Yönetmen"
                                           required></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="span2 control-label"
                                       for="studio_producer">Yapımcı</label>
                                <div class="span10">
                                    <select id="studio_producer"
                                           name='studio_producer'
                                           placeholder="Yapımcı"
                                           required></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="span2 control-label"
                                       for="studio_supervisor">Supervisor</label>
                                <div class="span10">
                                    <select id="studio_supervisor"
                                           name='studio_supervisor'
                                           placeholder="Supervisor"
                                           required></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="span2 control-label"
                                       for="studio_coordinator">Coordinator</label>
                                <div class="span10">
                                    <select id="studio_coordinator"
                                           name='studio_coordinator'
                                           placeholder="Coordinator"
                                           required></select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}

    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.inputlimiter.1.3.1.min.js") }}'></script>

    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/additional-methods.min.js") }}'></script>



<script type="text/javascript">


    $(document).ready(function () {

        function get_client_users(client_type, client_type_field_name, roles){
            var client_id = get_project_client_by_type(client_type)['id'];
            var client_name = get_project_client_by_type(client_type)['name'];

            if (client_id != -1){
                $('#'+client_type_field_name+'_name').append('<a class="green" href="/clients/'+client_id+'/view">'+client_name+'</a>');
                $('#'+client_type_field_name+'_controls').show();

                $.getJSON('/clients/'+client_id+'/users/').then(function (c_data) {

                    var client_users = c_data;
                    for (var i=0; i<roles.length; i++){
                        var field = $('#'+roles[i].field_name);
                        chosen_searchable_field_creator_by_data(field, user_option_template, client_users);
                        field.attr('role_name', roles[i].role_name)
                        field.on('change', function () {
                            console.log("roles[i].role_name: "+$(this).attr('role_name'));
                            set_user_role($(this).val(), $(this).attr('role_name'));
                        });
                        set_field_value(field, '/entities/{{ entity.id }}/role_user/?role_name='+roles[i].role_name);
                    }

                });
            }
            else{
                 $('#'+client_type_field_name+'_controls').hide();
            }
        }

        function set_user_role(user_id, role_name){
            console.log("role_name: "+ role_name)
            $.post(
                '/entities/{{ entity.id }}/users/update/',
                'id='+user_id+"&role="+role_name
            ).done (function (jqXHR) {
{#                    window.location.assign('{{ came_from }}');#}
            }).fail(function (jqXHR) {
                bootbox.alert('<div id="message" class="alert alert-danger bigger-110">'+jqXHR.responseText+'</div>');
            });
        }

        function set_field_value(field, url){
            $.getJSON(url).then(function (data) {
                field.val(data.id);
                field.trigger('liszt:updated');
            });
        }

        {% raw %}
            var user_option_template = doT.template(
                '<option value={{=it.id}}>{{=it.name}}</option>'
            );
        {% endraw %}
        get_client_users("Brand","brand", [{'field_name':"contact", 'role_name':"Contact"}]);
        get_client_users("Agency","agency", [{'field_name':"creative_director", 'role_name':"Yaratici Yönetmen"},
                                    {'field_name':"customer_director", 'role_name':"Müşteri Direktörü"},
                                    {'field_name':"agency_producer", 'role_name':"Ajans Yapımcısı"}]);
        get_client_users("Production House","production_firm", [{'field_name':"director", 'role_name':"Yönetmen"},
                                    {'field_name':"producer", 'role_name':"Yapımcı"},
                                    {'field_name':"supervisor", 'role_name':"Supervisor"},
                                    {'field_name':"coordinator", 'role_name':"Coordinator"}]);


        $.getJSON('/entities/{{ studio.id }}/users/').then(function (p_data) {
            var studio_users = p_data;
            var studio_director = $('#studio_director');
            chosen_searchable_field_creator_by_data(studio_director, user_option_template, studio_users);
            studio_director.on('change', function () {
                set_user_role($(this).val(), "Studio Yonetmen");
            });
            set_field_value(studio_director, '/entities/{{ entity.id }}/role_user/?role_name=Studio%20Yonetmen');

            var studio_producer = $('#studio_producer');
            chosen_searchable_field_creator_by_data(studio_producer, user_option_template, studio_users);
            studio_producer.on('change', function () {
                set_user_role($(this).val(), "Studio Yapimci");
            });
            set_field_value(studio_producer, '/entities/{{ entity.id }}/role_user/?role_name=Studio%20Yapimci');

            var studio_supervisor = $('#studio_supervisor');
            chosen_searchable_field_creator_by_data(studio_supervisor, user_option_template, studio_users);
            studio_supervisor.on('change', function () {
                set_user_role($(this).val(), "Studio Supervisor");
            });
            set_field_value(studio_supervisor, '/entities/{{ entity.id }}/role_user/?role_name=Studio%20Supervisor');

            var studio_coordinator = $('#studio_coordinator');
            chosen_searchable_field_creator_by_data(studio_coordinator, user_option_template, studio_users);
            studio_coordinator.on('change', function () {
                set_user_role($(this).val(), "Studio Coordinator");
            });
            set_field_value(studio_coordinator, '/entities/{{ entity.id }}/role_user/?role_name=Studio%20Coordinator');
        });

        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = $('#submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');

            console.log('project_form');

            var project_form = $('#project_form');

            var brand = $('#brand');
            var production_firm = $('#production_firm');
            var adv_agency = $('#adv_agency');
            var product_project_name = $('#product_project_name');

            var g_data = {
                 'product_project_name' : product_project_name.val()
             };
            var generic_text =  JSON.stringify(g_data);


            var _client_query = '';
            if (production_firm.val()){
                _client_query +="&client_ids="+production_firm.val();
            }
            if (adv_agency.val()){
                _client_query +="&client_ids="+adv_agency.val();
            }
            if (brand.val()){
                _client_query +="&client_ids="+brand.val();
            }
            console.log("project_form.serialize(): _client_query="+_client_query);


            if (project_form.validate()) {
                $.post(
                    project_form.attr('action'),
                    project_form.serialize()+"&generic_text="+generic_text+_client_query
                ).done(function () {
                    window.location.reload();
                }).fail(function (jqXHR) {
                    bootbox.alert(jqXHR.responseText);
                    submit_button.button('reset');
                });
            }
        });
    });


</script>

{% endblock extrascripts %}

