/*PROJECT BOX*/
.projectBox {
    position: absolute;
    top: 0px;
    margin-top: 1px;
    z-index: 100;
}

.projectBox .layout {
    background-color: black;
    border-radius: 3px 3px 3px 3px;
    height: 18px;
}

.projectBox .layout .leftPin {
    top: 3px;
    position: absolute;
    width: 10px;
    height: 10px;
}

.projectBox .layout .rightPin {
    top: 3px;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
}

.projectBox .taskStatus {
    left: 5px;
    top: 4px;
    position: absolute;
    width: 10px;
    height: 10px;
}

.projectBox .layout .milestone.end {
    right: 0;
}

.projectBox .layout .milestone.active {
    display: block;
}

.projectBox.hasChild .layout {
    /*border:2px solid black;*/
}

.projectBox .taskProgress {
    height: 3px;
    position: absolute;
}

.projectBox .taskBid {
    height: 3px;
    position: absolute;
    /*border-radius: 3px;*/
    top: 3px;
}



/* ------------------------------------------------------- */


.task-bar {
    height: 15px;
    position: absolute;
    background-color: #0e0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #aaa;
}

.completed-bar {
    height: 15px;
    position: absolute;
    background-color: #0a0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dep-horizontal-line {
    height: 1px;
    background-color: #222;
    border: 1px solid #ddd;
}

.dep-vertical-line {
    width: 1px;
    top: 0px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #000;
}

.dgrid .dgrid-column-chart {
    position: relative;
    width: 560px;
    overflow: visible;
}

.down-arrow {
    background-position: -64px -32px;
}

.dep-horizontal-line, .dep-vertical-line, .down-arrow {
    position: absolute;
    z-index: 10;
}

.dgrid .dependency-row {
    position: absolute;
    width: 390px;
}

.dependencies {
    height: 300px;
}

th.dgrid-column-chart {
    padding: 0px;
}

th.dgrid-column-chart td {
    border: 1px solid #aaa;
    text-align: center;
}

th.dgrid-column-chart table {
    border-collapse: collapse;
    table-layout: fixed;
}

.dgrid-tree-container {
-webkit-transition-duration: 0.1s;
-moz-transition-duration: 0.1s;
-ms-transition-duration: 0.1s;
-o-transition-duration: 0.1s;
transition-duration: 0.1s;
overflow: hidden;
}
