.today {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 2px dotted red;
    z-index: 100;
}

.log_bar.layout {
    position: absolute;
    height: 26px;
    bottom: 0px;
    background-color: #87b87f !important;
}

.log_bar.log {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: #d15b47 !important;
    /*opacity: 0.5;*/
}

.data_bar {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.resource_chart .dgrid-column-chart {
    position: relative;
    overflow: visible;
}

.down-arrow {
    background-position: -64px -32px;
}

.dep-horizontal-line, .dep-vertical-line, .down-arrow {
    position: absolute;
    z-index: 10;
}

.resource_chart .dgrid .dependency-row {
    position: absolute;
    width: 390px;
}

.dependencies {
    height: 300px;
}

th.dgrid-column-chart {
    padding: 0px;
}

th.dgrid-column-chart td {
    border: 1px solid #afafaf;
    text-align: center;
}

th.dgrid-column-chart table {
    border-collapse: collapse;
    table-layout: fixed;
}

.dgrid-tree-container {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    overflow: hidden;
}

.resource_chart .dgrid {
    width: 100%;
    height: 100%;
}

.resource_chart .dgrid-column-action {
    width: 40px;
    text-align: center;
}

.resource_chart .dgrid-column-id {
    width: 40px;
    text-align: center;
}

.resource_chart .dgrid-column-name {
    width: 200px;
}

.resource_chart .dgrid-column-timing {
    width: 45px;
}

.resource_chart .dgrid-column-timing {
    width: 60px;
    text-align: center;
}

.resource_chart .dgrid-column-complete {
    width: 30px;
    text-align: center;
}

.resource_chart .dgrid-column-start {
    width: 105px;
}

.resource_chart .dgrid-column-end {
    width: 105px;
}

.resource_chart .dgrid-column-set-0 {
    width: 20%;
}

.resource_chart .dgrid-column-set-1 {
    width: 80%;
}


.resource_chart .dgrid-cell {
    text-overflow: clip;
    white-space: nowrap;
    height: 26px;
}

.resource_chart .resourceHead1 {
    overflow:hidden;
    text-overflow:clip;
    white-space:nowrap;
}

.resource_chart .resourceHead2 {
    overflow:hidden;
    text-overflow:clip;
    white-space:nowrap;
}

.resource_chart .headerCell {
    position: absolute;
    border: 1px none #AAA;
    border-left-style: solid;
    margin-left: -1px;
}

.resource_chart .logContainer {
    position: absolute;
}

.center {
    text-align: center;
}

.project {
    font-weight: bold;
}

.parent {
    font-weight: bold;
}
