html {
    min-height: 100%;
    position: relative
}

body {
    padding-bottom: 0;
    background-color: #e4e6e9;
    min-height: 100%;
    /*font-family: 'Open Sans';*/
    font-size: 13px;
    color: #393939
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #FFF
}

body.navbar-fixed {
    padding-top: 45px
}

body.breadcrumbs-fixed {
    padding-top: 86px
}

.main-container {
    padding: 0;
    position: relative
}

.main-content {
    margin-left: 190px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0
}

.page-content {
    background: #fff;
    margin: 0;
    padding: 8px 20px 24px
}

.page-content .page-header:first-child {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2
}

.page-content .page-header:first-child h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 24px;
    font-weight: lighter;
    color: #2679b5
}

.page-content .page-header:first-child h1 small {
    margin: 0 6px;
    font-size: 14px;
    font-weight: normal;
    color: #8089a0
}

[class*=" icon-"], [class^="icon-"] {
    display: inline-block;
    text-align: center
}

a:focus, a:active {
    text-decoration: none
}

h1 {
    font-size: 32px;
    font-weight: normal
}

h1.smaller {
    font-size: 31px
}

h1.bigger {
    font-size: 33px
}

h1.block {
    margin-bottom: 16px
}

h2 {
    font-size: 26px;
    font-weight: normal
}

h2.smaller {
    font-size: 25px
}

h2.bigger {
    font-size: 27px
}

h2.block {
    margin-bottom: 16px
}

h3 {
    font-size: 22px;
    font-weight: normal
}

h3.smaller {
    font-size: 21px
}

h3.bigger {
    font-size: 23px
}

h3.block {
    margin-bottom: 16px
}

h4 {
    font-size: 18px;
    font-weight: normal
}

h4.smaller {
    font-size: 17px
}

h4.bigger {
    font-size: 19px
}

h4.block {
    margin-bottom: 16px
}

h5 {
    font-size: 15px;
    font-weight: normal
}

h5.smaller {
    font-size: 14px
}

h5.bigger {
    font-size: 16px
}

h5.block {
    margin-bottom: 16px
}

h6 {
    font-size: 13px;
    font-weight: normal
}

h6.smaller {
    font-size: 12px
}

h6.bigger {
    font-size: 14px
}

h6.block {
    margin-bottom: 16px
}

li>ul.margin, li>ol.margin {
    margin-left: 18px
}

.unstyled>li>[class*="icon-"]:first-child, .inline>li>[class*="icon-"]:first-child {
    width: 20px;
    text-align: center
}

.spaced>li {
    margin-top: 9px;
    margin-bottom: 9px
}

.spaced2>li {
    margin-top: 15px;
    margin-bottom: 15px
}

li.divider {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 0;
    font-size: 0
}

.spaced>li.divider {
    margin-top: 5px;
    margin-bottom: 5px
}

.spaced2>li.divider {
    margin-top: 8px;
    margin-bottom: 8px
}

li.divider:before {
    content: "";
    display: inline-block
}

blockquote, blockquote.pull-right {
    border-color: #e5eaf1
}

.modal {
    border-radius: 0
}

.modal-footer {
    border-top-color: #e4e9ee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #eff3f8
}

.modal-header .close {
    font-size: 32px
}

.well {
    border-radius: 0
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
    margin-top: 0
}

.well h1, .well h2, .well h3 {
    line-height: 36px
}

.alert {
    font-size: 14px;
    border-radius: 0
}

.alert .close {
    font-size: 16px
}

.alert-block p+p {
    margin-top: 10px
}

.pagination ul>li>a, .pager>li>a, .pagination ul>li>span, .pager>li>span {
    border-width: 1px;
    border-radius: 0 !important
}

.pagination ul>li>a, .pager>li>a {
    color: #2283c5;
    background-color: #fafafa;
    margin: 0 -1px 0 0;
    border-color: #e0e8eb
}

.pagination ul>li>a:hover, .pager>li>a:hover {
    background-color: #eaeff2
}

.pagination ul>li.disabled>a, .pagination ul>li.disabled>a:hover, .pager>li.disabled>a, .pager>li.disabled>a:hover {
    background-color: #f9f9f9;
    border-color: #d9d9d9
}

.pagination ul>li.active>a, .pagination ul>li.active>a:hover {
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.lighter {
    font-weight: lighter
}

.bolder {
    font-weight: bolder
}

.inline {
    display: inline-block !important
}

.block {
    display: block !important
}

.center, .align-center {
    text-align: center !important
}

.align-left {
    text-align: left !important
}

.align-right {
    text-align: right !important
}

.middle {
    vertical-align: middle
}

.align-middle {
    vertical-align: middle !important
}

.align-top {
    vertical-align: top !important
}

.align-bottom {
    vertical-align: bottom !important
}

.position-relative {
    position: relative
}

.position-absolute {
    position: absolute
}

.dark {
    color: #333 !important
}

.white {
    color: #fff !important
}

.red {
    color: #dd5a43 !important
}

.light-red {
    color: #f77 !important
}

.blue {
    color: #478fca !important
}

.light-blue {
    color: #93cbf9 !important
}

.green {
    color: #69aa46 !important
}

.light-green {
    color: #b0d877 !important
}

.orange {
    color: #ff892a !important
}

.light-orange {
    color: #fcac6f !important
}

.orange2 {
    color: #feb902 !important
}

.purple {
    color: #a069c3 !important
}

.pink {
    color: #c6699f !important
}

.pink2 {
    color: #d6487e !important
}

.brown {
    color: #a52a2a !important
}

.grey {
    color: #777 !important
}

.light-grey {
    color: #bbb !important
}

.bigger-110 {
    font-size: 110%
}

.bigger-120 {
    font-size: 120%
}

.bigger-130 {
    font-size: 130%
}

.bigger-140 {
    font-size: 140%
}

.bigger-150 {
    font-size: 150%
}

.bigger-160 {
    font-size: 160%
}

.bigger-170 {
    font-size: 170%
}

.bigger-180 {
    font-size: 180%
}

.bigger-190 {
    font-size: 190%
}

.bigger-200 {
    font-size: 200%
}

.bigger-210 {
    font-size: 210%
}

.bigger-220 {
    font-size: 220%
}

.bigger-230 {
    font-size: 230%
}

.bigger-240 {
    font-size: 240%
}

.bigger-250 {
    font-size: 250%
}

.bigger-260 {
    font-size: 260%
}

.bigger-270 {
    font-size: 270%
}

.bigger-280 {
    font-size: 280%
}

.bigger-290 {
    font-size: 290%
}

.bigger-300 {
    font-size: 300%
}

.bigger-125 {
    font-size: 125%
}

.bigger-175 {
    font-size: 175%
}

.bigger-225 {
    font-size: 225%
}

.bigger-275 {
    font-size: 275%
}

.smaller-90 {
    font-size: 90%
}

.smaller-80 {
    font-size: 80%
}

.smaller-70 {
    font-size: 70%
}

.smaller-60 {
    font-size: 60%
}

.smaller-50 {
    font-size: 50%
}

.smaller-40 {
    font-size: 40%
}

.smaller-30 {
    font-size: 30%
}

.smaller-20 {
    font-size: 20%
}

.smaller-75 {
    font-size: 75%
}

.width-20 {
    width: 20% !important
}

.width-25 {
    width: 25% !important
}

.width-30 {
    width: 30% !important
}

.width-35 {
    width: 35% !important
}

.width-40 {
    width: 40% !important
}

.width-45 {
    width: 45% !important
}

.width-50 {
    width: 50% !important
}

.width-55 {
    width: 55% !important
}

.width-60 {
    width: 60% !important
}

.width-65 {
    width: 65% !important
}

.width-70 {
    width: 70% !important
}

.width-75 {
    width: 75% !important
}

.width-80 {
    width: 80% !important
}

.width-85 {
    width: 85% !important
}

.width-90 {
    width: 90% !important
}

.width-95 {
    width: 95% !important
}

.width-100 {
    width: 100% !important
}

.width-48 {
    width: 48% !important
}

.no-padding {
    padding: 0 !important
}

.no-padding-bottom {
    padding-bottom: 0 !important
}

.no-padding-top {
    padding-top: 0 !important
}

.no-padding-left {
    padding-left: 0 !important
}

.no-padding-right {
    padding-right: 0 !important
}

.no-margin {
    margin: 0 !important
}

.no-margin-bottom {
    margin-bottom: 0 !important
}

.no-margin-top {
    margin-top: 0 !important
}

.no-margin-left {
    margin-left: 0 !important
}

.no-margin-right {
    margin-right: 0 !important
}

.no-border {
    border: 0
}

.no-border-bottom {
    border-bottom: 0
}

.no-border-top {
    border-top: 0
}

.no-border-left {
    border-left: none
}

.no-border-right {
    border-right: 0
}

.no-underline {
    text-decoration: none !important
}

.no-hover-underline:hover {
    text-decoration: none !important
}

.no-shadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important
}

.overflow-hidden {
    overflow: hidden !important
}

.overflow-auto {
    overflow: auto !important
}

.overflow-scroll {
    overflow: scroll !important
}

.overflow-visible {
    overflow: visible !important
}

.hr {
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-top: 1px solid #e3e3e3;
    margin: 12px 0
}

.hr-double {
    height: 1px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3
}

.hr.dotted {
    border-top-style: dotted
}

.hr-double.dotted {
    border-bottom-style: dotted
}

.hr-32, .hr32 {
    margin: 32px 0
}

.hr-30, .hr30 {
    margin: 30px 0
}

.hr-28, .hr28 {
    margin: 28px 0
}

.hr-26, .hr26 {
    margin: 26px 0
}

.hr-24, .hr24 {
    margin: 24px 0
}

.hr-22, .hr22 {
    margin: 22px 0
}

.hr-20, .hr20 {
    margin: 20px 0
}

.hr-18, .hr18 {
    margin: 18px 0
}

.hr-16, .hr16 {
    margin: 16px 0
}

.hr-14, .hr14 {
    margin: 14px 0
}

.hr-12, .hr12 {
    margin: 12px 0
}

.hr-10, .hr10 {
    margin: 10px 0
}

.hr-8, .hr8 {
    margin: 8px 0
}

.hr-6, .hr6 {
    margin: 6px 0
}

.hr-4, .hr4 {
    margin: 4px 0
}

.hr-2, .hr2 {
    margin: 2px 0
}

.space, .vspace {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0
}

.vspace {
    display: none
}

.space-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 32px 0 31px
}

.vspace-32 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 32px 0 31px 0;
    display: none
}

.space-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 30px 0 29px
}

.vspace-30 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 30px 0 29px 0;
    display: none
}

.space-28 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 28px 0 27px
}

.vspace-28 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 28px 0 27px 0;
    display: none
}

.space-26 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 26px 0 25px
}

.vspace-26 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 26px 0 25px 0;
    display: none
}

.space-24 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 24px 0 23px
}

.vspace-24 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 24px 0 23px 0;
    display: none
}

.space-22 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 22px 0 21px
}

.vspace-22 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 22px 0 21px 0;
    display: none
}

.space-20 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 20px 0 19px
}

.vspace-20 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 20px 0 19px 0;
    display: none
}

.space-18 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 18px 0 17px
}

.vspace-18 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 18px 0 17px 0;
    display: none
}

.space-16 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 16px 0 15px
}

.vspace-16 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 16px 0 15px 0;
    display: none
}

.space-14 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 14px 0 13px
}

.vspace-14 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 14px 0 13px 0;
    display: none
}

.space-12 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 12px 0 11px
}

.vspace-12 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 12px 0 11px 0;
    display: none
}

.space-10 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 10px 0 9px
}

.vspace-10 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 10px 0 9px 0;
    display: none
}

.space-8 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 8px 0 7px
}

.vspace-8 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 8px 0 7px 0;
    display: none
}

.space-6 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 6px 0 5px
}

.vspace-6 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 6px 0 5px 0;
    display: none
}

.space-4 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 4px 0 3px
}

.vspace-4 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 4px 0 3px 0;
    display: none
}

.space-2 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 2px 0 1px
}

.vspace-2 {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
    margin: 2px 0 1px 0;
    display: none
}

.header {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #CCC
}

.header.blue {
    border-bottom-color: #d5e3ef
}

.header.green {
    border-bottom-color: #cce2c1
}

.header.purple {
    border-bottom-color: #e0d1ea
}

.header.orange {
    border-bottom-color: #fdd0ac
}

.header.orange2 {
    border-bottom-color: #fbd36b
}

.header.red {
    border-bottom-color: #f3cdc6
}

.header.grey {
    border-bottom-color: #c3c3c3
}

.header.pink {
    border-bottom-color: #f2e0eb
}

.header.pink2 {
    border-bottom-color: #e69eb9
}

.header.light-blue {
    border-bottom-color: #dceefc
}

.header.light-red {
    border-bottom-color: #fec5c5
}

.header.light-green {
    border-bottom-color: #d2e7b5
}

.header.brown {
    border-bottom-color: #df9393
}

.header>[class*="icon-"] {
    margin-right: 2px
}

.no-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important
}

.action-buttons a {
    margin: 0 2px;
    display: inline-block;
    opacity: .85;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s
}

.action-buttons a:hover {
    text-decoration: none;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1
}

/*.navbar {*/
/*margin-bottom: 0*/
/*}*/

/*.navbar {*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*margin-left: 0;*/
/*margin-right: 0*/
/*}*/

/*.navbar .navbar-inner {*/
/*border: 0;*/
/*-webkit-box-shadow: none;*/
/*-moz-box-shadow: none;*/
/*box-shadow: none;*/
/*-webkit-border-radius: 0;*/
/*-moz-border-radius: 0;*/
/*border-radius: 0;*/
/*margin: 0;*/
/*padding-left: 0;*/
/*padding-right: 0;*/
/*min-height: 45px;*/
/*position: relative;*/
/*background: #438eb9*/
/*}*/

/*.navbar .navbar-text, .navbar .navbar-link {*/
/*color: #fff*/
/*}*/

/*.navbar .brand {*/
/*color: #fff;*/
/*font-size: 24px;*/
/*text-shadow: none*/
/*}*/

/*.navbar .nav>li>a, .navbar .nav>li>a:hover, .navbar .nav>li>a:focus {*/
/*font-size: 13px;*/
/*text-shadow: none;*/
/*color: #fff*/
/*}*/

.ace-nav {
    height: 100%
}

.ace-nav>li {
    line-height: 45px;
    max-height: 45px;
    background: #2e6589;
    border-left: 1px solid #DDD;
    padding: 0;
    position: relative
}

.ace-nav>li:first-child {
    border-left: none
}

.ace-nav>li>a {
    position: relative;
    color: #EEE;
    display: block;
    height: 100%;
    padding: 0 8px !important;
    background-color: transparent
}

.ace-nav>li>a>[class*="icon-"] {
    font-size: 16px;
    color: #EEE;
    display: inline-block;
    width: 20px;
    text-align: center
}

.ace-nav>li>a>.badge {
    position: relative;
    top: -4px;
    left: 2px;
    padding-right: 5px;
    padding-left: 5px
}

.ace-nav>li.grey {
    background: #555
}

.ace-nav>li.purple {
    background: #892e65
}

.ace-nav>li.green {
    background: #2e8965
}

.ace-nav>li.light-blue {
    background: #62a8d1
}

.ace-nav>li.light-blue2 {
    background: #42a8e1
}

.ace-nav>li.red {
    background: #b74635
}

.ace-nav>li.light-green {
    background: #9abc32
}

.ace-nav>li.light-purple {
    background: #cb6fd7
}

.ace-nav>li.light-orange {
    background: #f79263
}

.ace-nav>li.light-pink {
    background: #f4dae5
}

.ace-nav>li.dark {
    background: #404040
}

.ace-nav>li.white-opaque {
    background: rgba(255, 255, 255, 0.8)
}

.ace-nav>li.dark-opaque {
    background: rgba(0, 0, 0, 0.2)
}

.ace-nav>li.no-border {
    border: 0
}

.ace-nav>li.margin-4 {
    margin-left: 4px
}

.ace-nav>li.margin-3 {
    margin-left: 3px
}

.ace-nav>li.margin-2 {
    margin-left: 2px
}

.ace-nav>li.margin-1 {
    margin-left: 1px
}

.ace-nav>li .dropdown-menu {
    z-index: 1031
}

.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 24px;
    border: 2px solid #FFF;
    max-width: 36px !important
}

.ace-nav li:last-child a [class^="icon-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center
}

.breadcrumbs {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    min-height: 40px;
    line-height: 39px;
    padding: 0 12px 0 0;
    display: block
}

.breadcrumbs.fixed, .breadcrumbs.breadcrumbs-fixed {
    position: fixed;
    right: 0;
    left: 190px;
    top: 45px;
    z-index: 1028
}

.breadcrumb {
    background-color: transparent;
    display: inline-block;
    line-height: 24px;
    margin: 0 22px 0 12px;
    padding: 0;
    font-size: 13px;
    color: #333;
    border-radius: 0
}

.breadcrumb>li, .breadcrumb>li.active {
    color: #555
}

.breadcrumb>li>.divider {
    padding: 0 4px
}

.breadcrumb>li>a {
    display: inline-block;
    padding: 0 4px;
    color: #4c8fbd
}

.breadcrumb .home-icon {
    margin-left: 4px;
    margin-right: 2px;
    font-size: 20px;
    position: relative;
    top: 2px
}

.breadcrumb .arrow-icon {
    height: 22px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 1px;
    font-size: 14px;
    color: #b2b6bf
}

.nav-search {
    position: absolute;
    top: 6px;
    right: 22px;
    line-height: 24px
}

.nav-search .form-search {
    margin-bottom: 0
}

.nav-search .nav-search-input {
    border-color: #6fb3e0;
    border-width: 1px;
    width: 120px;
    height: 18px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    font-size: 13px;
    color: #666 !important;
    z-index: 11;
    -webkit-transition: width ease .15s;
    -moz-transition: width ease .15s;
    -o-transition: width ease .15s;
    transition: width ease .15s
}

.nav-search .nav-search-input+.dropdown-menu {
    min-width: 0;
    left: 0;
    right: 0
}

.nav-search .nav-search-input:focus, .nav-search .nav-search-input:hover {
    border-color: #6fb3e0
}

.nav-search .nav-search-icon {
    color: #6fb3e0 !important;
    font-size: 14px !important;
    line-height: 24px !important
}

.nav-search.minimized .nav-search-input {
    width: 0;
    opacity: 0;
    max-width: 0
}

.nav-search.minimized:hover .nav-search-input, .nav-search.minimized .nav-search-btn:active+.nav-search-input, .nav-search.minimized .nav-search-input:focus, .nav-search.minimized .nav-search-input:hover, .nav-search.minimized .nav-search



.sidebar {
    width: 189px;
    position: relative;
    float: left;
    border-right: 1px solid #ccc;
    background-color: #f2f2f2;
}