{# DOJO COMPRESSED #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/dojo/resources/dojo.css") }}'/>
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/dijit/themes/claro/claro.css") }}'/>

{# DGRID GANTT #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/stalker/css/DiscreetDataGrid.css") }}'/>

{# DGRID #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/skins/claro.css") }}'/>
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/columnset.css") }}'/>
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/dgrid.css") }}'/>
{#<link rel='stylesheet' type='text/css' media='all' charset='utf-8'#}
{#  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/has-transforms3d.css") }}'/>#}

{# DOJO MODIFIED CSS #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/stalker/css/dojo_modified.css") }}'/>

