<div class="row-fluid">
    <div class="widget-box transparent">
        <div class="widget-header  widget-header-small">
             <h4 class="smaller grey">
                 <i class="icon-puzzle-piece blue"></i>Related Assets
             </h4>

             <div class="widget-toolbar">
                {% if has_permission('Update_Task') %}
                    &nbsp
                    <a data-target="#dialog_template"
                       data-toggle="modal"
                       data-keyboard=false
                       href="{{ request.route_url("add_related_assets_dialog", id=entity.id, _query={'project_id': entity.project.id }) }}"
                       class="white">
                        <i class="icon-plus"></i>
                        New
                    </a>
                    &nbsp&nbsp
                {% endif %}
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row-fluid">
                    <ul id="related_assets_list" class="ace-thumbnails">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space-4"></div>
{% raw %}
    <script id="tmpl_related_asset_item" type="text/x-dot-template">
        <li id="related_asset_{{=it.id}}">
            <div>
                <img alt="150x150" src={{=it.thumbnail_full_path  }} style="height: 80px; width: auto" />
                <div class="text">
                    <div class="inner">
                        <span>{{=it.name}}</span>

                        <br />
                        <a href="/assets/{{=it.id}}/view" data-rel="colorbox">
                            <i class="icon-zoom-in"></i>
                        </a>

                        <a data-rel="tooltip"
                               data-placement="bottom"
                               title="Remove Asset"
                               data-target="#dialog_template"
                               data-toggle="modal"
                               data-keyboard="false"
                               href="/entities/{{=it.e_id}}/assets/{{=it.id}}/remove/dialog" >
                            <i class="icon-trash"></i>
                        </a>

                    </div>
                </div>
            </div>
        </li>

     </script>
{% endraw %}


<script type="text/javascript">
    $(document).ready(function () {
        var related_asset_template = doT.template($('#tmpl_related_asset_item').html());
        var related_assets_list = $('#related_assets_list');
        $.getJSON('/tasks/{{ entity.id }}/related/Asset/').then(function (data) {
             for (var i = 0; i < data.length; i++) {

                 if (data[i].thumbnail_full_path == null) {
                    data[i].thumbnail_full_path = '{{ request.static_url("stalker_pyramid:static/stalker/images/T_NO_IMAGE.gif") }}';
                }
                else {
                    data[i].thumbnail_full_path = '/' + data[i].thumbnail_full_path;
                }
                data[i].e_id = '{{ entity.id }}'

                var related_asset_li = $('#related_asset_'+data[i].id);
                if (related_asset_li.length==0){
                    related_assets_list.append(related_asset_template(data[i]));
                }
             }
        })
    })

</script>