<!-- Stalker a Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
-->
<!DOCTYPE html>
<html>
<head>
    <title>Stalker Pyramid</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- CSS -->
    {#    <link rel="stylesheet" href="/deform_bootstrap/deform_bootstrap.css"#}
    {#          type="text/css"/>#}
    {#    <link rel="stylesheet" href="/deform_bootstrap/bootstrap-datepicker.css"#}
    {#          type="text/css"/>#}
    {#    <link rel="stylesheet" href="/deform_bootstrap/jquery_chosen/chosen.css"#}
    {#          type="text/css"/>#}
    {#    <link rel="stylesheet" href="/deform_bootstrap/chosen_bootstrap.css"#}
    {#          type="text/css"/>#}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/stalker/css/stalker_bootstrap.css">
    {#    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->#}
    {#    <!--[if lt IE 9]>#}
    {#      <script src="../assets/js/html5shiv.js"></script>#}
    {#    <![endif]-->#}


</head>
<body>
{% block content %}

    {% block navbar %}
        <div class='navbar navbar-inverse navbar-fixed-top'>
        <div class="navbar-inner">
            <div class='container-fluid'>
                <div class='navbar-header'>
                    <a class="brand" href="/">Stalker
                        <small>v{{ stalker_pyramid.__version__ }}</small>
                    </a>
                </div>
                <p class="navbar-text pull-right">Logged in as <a href="#"
                                                                  class="navbar-link">{{ logged_in_user.name }}</a>
                </p>

                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">Studio <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% if not studio %}#}
                                    {% if has_permission('Create_Studio') %}
                                        <li><a href="#">Create Studio</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    {% if has_permission('Read_Studio') %}
                                        <li>
                                            <a href="#">{{ studio.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">New</a>
                                    <ul class="dropdown-menu">

                                        {% if has_permission('Create_FilenameTemplate') %}

                                            <li>
                                                <a href="#">FilenameTemplate</a>
                                            </li>
                                        {% endif %}


                                        {% if has_permission('Create_ImageFormat') %}
                                            <li><a href="#">Image
                                                Format</a>
                                            </li>
                                        {% endif %}


                                        {% if has_permission('Create_Repository') %}
                                            <li><a href="#">Repository</a>
                                            </li>
                                        {% endif %}

                                        {% if has_permission('Create_Status') %}
                                            <li><a href="#">Status</a>
                                            </li>
                                        {% endif %}


                                        {% if has_permission('Create_StatusList') %}
                                            <li><a href="#">Status List</a>
                                            </li>
                                        {% endif %}


                                        {% if has_permission('Create_Structure') %}
                                            <li><a href="#">Structure</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">Crew <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu"
                                aria-labelledby="dropdownMenu">
                                {% if has_permission('List_User') %}
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Users</a>
                                        <ul class="dropdown-menu">

                                            {% for user in studio.users %}
                                                <li>
                                                    <a href='#'>{{ user.name }}
                                                        ({{ user.login }})</a>
                                                </li>
                                            {% endfor %}

                                            {% if has_permission('Create_User') %}
                                                <li class="divider"></li>
                                                <li>
                                                    <a href='#'>New
                                                        User</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if has_permission('List_Department') %}
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1"
                                           href="#">Departments</a>
                                        <ul class="dropdown-menu">

                                            {% for department in studio.departments %}
                                                <li class="dropdown-submenu">
                                                    <a tabindex="-1"
                                                       href="#">{{ department.name }}</a>
                                                    <ul class="dropdown-menu">
                                                        {% for user in department.users %}
                                                            <li>
                                                                <a href='#'>{{ user.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                        {% if has_permission('Create_User') %}
                                                            <li class="divider"></li>
                                                            <li>
                                                                <a href='#'>New
                                                                    User</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endfor %}

                                            {% if has_permission('Create_Department') %}
                                                <li class="divider"></li>
                                                <li>
                                                    <a href='#'>New
                                                        Department</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if has_permission('List_Group') %}
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1"
                                           href="#">Groups</a>
                                        <ul class="dropdown-menu">
                                            {% for group in groups %}
                                                <li class="dropdown-submenu">
                                                    <a tabindex="-1"
                                                       href="#">{{ group.name }}</a>
                                                    <ul class="dropdown-menu">
                                                        {% for user in group.users %}
                                                            <li>
                                                                <a href='#'>{{ user.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                        {% if has_permission('Create_User') %}
                                                            <li class="divider"></li>
                                                            <li>
                                                                <a href='#'>New
                                                                    User</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                            {% if has_permission('Create_Group') %}
                                                <li class="divider"></li>
                                                <li>
                                                    <a href='#'>New
                                                        Group</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if has_permission('List_Project') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown">Projects <b
                                        class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for project in projects %}
                                        <li>
                                            <a href='#'>{{ project.name }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if has_permission('Create_Project') %}
                                        <li class="divider"></li>
                                        <li>
                                            <a href='#'>New Project</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    {% endblock navbar %}

    <div class="container-fluid">
        {% block main_container %}

            <div class="row-fluid">
                <div class='span2'>
                    {% block sidebar %}
                    {% endblock sidebar %}
                </div>
            </div>


            <div class="row-fluid">
                <div class='span10'>
                    {% block main_content %}
                    {% endblock main_content %}
                </div>
            </div>

        {% endblock main_container %}
    </div>

    {% block footer %}
        <footer>
            <div id="footer" class='panel-footer'>
                <div class="container">
                    <p class="muted credit text-center">Stalker Pyramid
                        v{{ stalker_pyramid.__version__ }} &copy; 2013 Erkan
                        Ozgur Yilmaz.
                    </p>
                </div>
            </div>
        </footer>
    {% endblock footer %}


{% endblock content %}

<!-- JavaScript -->
<script type="text/javascript"
        src="/static/jquery/1.9.1/jquery.js"></script>

{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/jquery-ui-1.8.18.custom.min.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/jquery-ui-timepicker-addon-0.9.9.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/jquery.form-2.96.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/jquery.maskedinput-1.3.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform/scripts/deform.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/bootstrap-datepicker.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/bootstrap-typeahead.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/bootstrap-typeahead.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="deform_bootstrap/jquery_chosen/chosen.jquery.min.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="/deform_bootstrap/deform_bootstrap.js"></script>#}
<script type="text/javascript"
        src="/static/bootstrap/js/bootstrap.js"></script>


</body>
</html>
