<!-- Stalker a Production Asset Management System
 Copyright (C) 2009-2014 Erkan Ozgur Yilmaz

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% if entity %}
        <title>STALKER / {{ entity.name }}</title>
    {% else %}
        <title>Stalker Pyramid</title>
    {% endif %}

    {#    <meta name="description" content="with draggable and editable events"/>#}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {# special case for doT it needs to be the very first script to let Gantt Chart view #}
    <script src='{{ request.static_url("stalker_pyramid:static/doT/doT.min.js") }}'></script>

    {# PRE-HEADER #}
    {% block pre_header %}
    {% endblock pre_header %}


    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/chosen.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/datepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-timepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/daterangepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/colorpicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/jquery-ui-1.10.3.custom.min.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-editable.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/ui.jqgrid.css") }}'/>
    <link rel="stylesheet"
              href='{{ request.static_url("stalker_pyramid:static/jqPlot/syntaxhighlighter/styles/shCoreDefault.min.css") }}'/>
    <link rel="stylesheet"
              href='{{ request.static_url("stalker_pyramid:static/jqPlot/syntaxhighlighter/styles/shThemejqPlot.min.css") }}'/>
    <link rel="stylesheet"
             href='{{ request.static_url("stalker_pyramid:static/jqPlot/jquery.jqplot.min.css") }}' />




    <!--basic styles-->

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap.min.css") }}'>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-responsive.min.css") }}'>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/font-awesome.min.css") }}'>




    <!--[if IE 7]>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/font-awesome-ie7.min.css") }}'/>
    <![endif]-->

    <!--page specific plugin styles-->
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/jquery.gritter.css") }}'>

    <!--fonts-->
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/stalker/css/stalker_bootstrap.css") }}'>
    {#    <link rel="stylesheet"#} {#
          href='{{ request.static_url("stalker_pyramid:static/stalker/css/ace-fonts.css") }}'/#}
    <!--ace styles-->
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/css/ace.css") }}'>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/ace-responsive.min.css") }}'>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/uncompressed/ace-skins.css") }}'>

    <!--[if lte IE 8]>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/ace-ie.min.css") }}'/>
    <![endif]-->

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/stalker/css/colorbox.css") }}'>

{#    <script class="include" type="text/javascript" src="{{ request.static_url("stalker_pyramid:static/jquery/jquery-1.11.1.min.js") }}"></script>#}
    <style>
        .spinner-preview {
            width: 100px;
            height: 100px;
            text-align: center;
            margin-top: 100px;
        }

        .dropdown-preview {
            margin: 0 5px;
            display: inline-block;
        }

        .dropdown-preview  > .dropdown-menu {
            display: block;
            position: static;
            margin-bottom: 5px;
        }

        .modal-body {
            max-height: 90% {# 650px #};
        }

        {# fix for autocomplete and jquery-ui#}
        .ui-front {
            z-index: 1100;
        }

    </style>


    {# POST-HEADER #}
    {% block post_header %}
    {% endblock post_header %}

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/stalker/css/stalker.css") }}'/>

    {# TODO: some scripts need to be here - will fix later #}
    <script src='{{ request.static_url("stalker_pyramid:static/jquery/jquery-2.1.1.min.js") }}'></script>
    <!--ace settings handler-->
    <script src='{{ request.static_url("stalker_pyramid:static/stalker/js/jquery.colorbox-min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/ace-extra.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/moment/moment.min.js") }}'></script>

    {# TEMPLATES #}
    {% block templates %}
    {% endblock templates %}

</head>

<body class="navbar-fixed breadcrumbs-fixed skin-1">

<script id="tmpl_flash_message" type="text/x-messages">
    {% for message in request.session.pop_flash() %}
        {% set message_type=message.split(':')[0] %}
        {% set message_content=message.split(':')[1] %}
        <div type='{{ message_type }}' title='{{ message_type.title() }}!'>
            {{ message_content|safe }}
        </div>
    {% endfor %}
</script>


{% raw %}
<script id="tmpl_sidebar_media" type="text/x-dot-template">
    <li>
        <div class="media">
            <a class="pull-left"
               href="#"
               style="text-align: center; overflow: hidden; width: 100px">
                <img id="sidebar_avatar"
                     style="height: auto; width: 100%; max-width: none;
                      position: relative; left: 100%; margin-left: -200%"
                     class="img-thumbnail"
                     src={{=it.thumbnail_full_path}}>
            </a>

            <div class="media-body">
                <h5 class="media-heading"><span style='color: #b1bac1;'>{{=it.name}}</span>
                    <small>{{=it.code}}</small>
                </h5>
                {{ if (it.update_link) { }}
                    <a href={{=it.update_link}}
                       class="menu-text">
                        <i class="icon-edit"></i>
                        Update
                    </a>
                {{ } }}
            </div>
        </div>
    </li>
</script>
{% endraw %}

{% raw %}
<script id="tmpl_sidebar_tree_link" type="text/x-dot-template">
    <li>
        <a href="#" class="dropdown-toggle">
            <i class={{=it.icon}}></i>
            <span class="menu-text">{{=it.title}} </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul id='{{=it.title}}_sublink' class="submenu">

        </ul>
    </li>

</script>
{% endraw %}

{% raw %}
<script id="tmpl_sidebar_tree_sublink" type="text/x-dot-template">

    <li class="{{=it.state}}">
        <a href={{=it.link}}>
            <i class="icon-double-angle-right"></i>
            {{=it.name }}
        </a>
    </li>

</script>
{% endraw %}

{% raw %}
<script id="tmpl_sidebar_link" type="text/x-dot-template">
    <li class={{=it.state}}>
        <a href={{=it.link}}>
            <i class={{=it.icon}}></i>
            <span class="menu-text">{{=it.title}}</span>
            <span id="{{=it.title }}_count"
                  class="badge {{ if (it.count > 0) { }}badge-important{{ } else { }}badge-success{{ } }}">{{=it.count}}</span>
        </a>
    </li>
</script>
{% endraw %}

{% raw %}
<script id="tmpl_pillsbar_link" type="text/x-dot-template">
    <li class="{{=it.state}}" link={{=it.link}}>
        <a data-toggle="tab" href="" >
            <i class={{=it.icon}}></i>
            <span class="menu-text">{{=it.title}}</span>
            <span id="{{=it.title }}_count"
                  class="badge {{ if (it.count > 0) { }}badge-important{{ } else { }}badge-success{{ } }}">{{=it.count}}</span>
        </a>
    </li>
</script>
{% endraw %}


<script></script>


<script>
    var menu_of = function (title, state, address, icon, count) {
        var sidebar_list = $('#sidebar_list');
        var link_template = doT.template($('#tmpl_sidebar_link').html());

        var options = {
            'title': title,
            'state': state,
            'link': address,
            'icon': icon,
            'count': typeof(count) === 'number' ? count : 0
        };

        var rendered_template = $($.parseHTML(link_template(options)));
        sidebar_list.append(rendered_template);

        var badge = rendered_template.find('.badge');

        // update the badge
        if ( typeof(count) === 'string' ) {
            // it is the address of the source
            $.getJSON(count).then(function (data) {
                count = data;
                // now update the side bar badge
                if (count > 0){
                    badge.text(count).removeClass('badge-success').addClass('badge-important');
                }
            });
        }
    }
</script>

<script>
    var submenu_of = function (id, treeItemType) {
        $.getJSON('/entities/' + id + '/' + treeItemType.toLowerCase() + 's/').then(function (data) {
            $(function () {
                var sidebar_list = $('#sidebar_list');
                var tree_link_template = doT.template($('#tmpl_sidebar_tree_link').html());
                var data_counts = data.length;

                if (data_counts > 0) {
                    sidebar_list.append(tree_link_template({
                        'title': treeItemType + 's',
                        'icon': get_icon(treeItemType.toLowerCase())
                    }));
                }

                var item_sublink = $('#' + treeItemType + 's_sublink');
                var tree_sublink_template = doT.template($('#tmpl_sidebar_tree_sublink').html());

                for (var i = 0; i < data_counts; i++) {
                    data[i].link = '/' + treeItemType.toLowerCase() + 's/' + data[i].id + '/view';
                    item_sublink.append(tree_sublink_template(data[i]));
                }
            });
        });
    }
</script>

<script>
    var menus_under_title = function (title, icon, menuItems) {
        $(function () {
            var sidebar_list = $('#sidebar_list');
            var tree_link_template = doT.template($('#tmpl_sidebar_tree_link').html());
            var data_counts = menuItems.length;

            if (data_counts > 0) {
                sidebar_list.append(tree_link_template({
                    'title': title,
                    'icon': get_icon(icon)
                }));
            }

            var item_sublink = $('#' + title + '_sublink');
            var tree_sublink_template = doT.template($('#tmpl_sidebar_tree_sublink').html());

            for (var i = 0; i < data_counts; i++) {
                item_sublink.append(tree_sublink_template(menuItems[i]));
            }
        });
    }
</script>

<script>
    // cache user ids and names
    var all_users = [];
    var all_projects = [];

    $.getJSON('/users/').then(function (data) {
        all_users = data;
    });

    $.getJSON('/projects/').then(function (data) {
        all_projects = data;
    });

    var get_entity_name = function(id, entity_list){
        var user = objectFindByKey(entity_list, 'id', id);
        if(user != null){
            return user.name;
        }
        return id;
    };

    function objectFindByKey(array, key, value) {
        for (var i = 0; i < array.length; i++) {
            if (array[i][key] == value){
                return array[i];
            }
        }
        return null;
    }

    var get_user_name = function(id){
        return get_entity_name(id, all_users);
    };

    var get_project_name = function(id){
        return get_entity_name(id, all_projects);
    };
</script>


{# CONTENT #}
{% block content %}

    {# NAV-BAR #}
    {% block navbar %}
        {% include 'navbar.jinja2' %}
    {% endblock navbar %}

    <div class="main-container container-fluid">

        {# MAIN-CONTAINER #}
        {% block main_container %}

            {# SIDEBAR #}
            {% block sidebar %}
            {% endblock sidebar %}

            {# MAIN-CONTENT #}
            {% block main_content %}
                <div class="main-content">

                    {# BREADCRUMBS #}
                    {% block breadcrumbs %}
                    {% endblock breadcrumbs %}


                    <div class='page-content'>

                        {# PAGE-CONTENT #}
                        {% block page_content %}
                        {% endblock page_content %}

                    </div>

                </div>
            {% endblock main_content %}

        {% endblock main_container %}
    </div>
{% endblock content %}

{# MODALS #}
{% block modals %}
    {% include 'modals/html_template.jinja2' %}
    {% include 'modals/dialog_template.jinja2' %}
{% endblock modals %}

{# SCRIPTS #}
{% block scripts %}
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.full.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.ui.touch-punch.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootstrap.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/ace-elements.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/uncompressed/ace.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootbox.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/x-editable/bootstrap-editable.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/x-editable/ace-editable.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/stalker/js/date.format.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/stalker/js/date.stalker.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.gritter.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/stalker/js/utils.js") }}'></script>

    <script type="text/javascript">
        // choose default skin
        $(function () {
            var skin_class = 'skin-1';
            var body = $(document.body);
            body.removeClass('skin-1 skin-2 skin-3');
            body.addClass(skin_class);
            $('.ace-nav > li.grey').addClass('dark');
        });
        
        // if it is smaller resize the page content to the window height
        var resize_page_content = function () {
            var page_content = $('.page-content');
            var page_content_height = page_content.height();
            var window_height = $(window).height() - 118;
            {# 230 #}
            var new_height = Math.max(window_height, page_content_height);
            if (page_content_height < window_height) {
                page_content.css({'min-height': window_height});
            }
        };

        // resize .page-content to window size
        {#        $(window).on('resize', function(){#}
        {#            resize_page_content();#}
        {#        });#}
        $(function () {
            resize_page_content();
        });
    </script>

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.mobile.custom.min.js") }}'>" + "<" + "/script>");
    </script>

    {# Ace Settings Box #}
    <script type="text/javascript">
        $(function () {
            // hide ace-settings bar
            $('#ace-settings-box').toggleClass('open');
        });
    </script>

    {# copyToClipboard #}
    <script type="text/javascript">
        var copyToClipboard = function (text) {
            window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
        };
    </script>

    {# Pop Flash Messages #}
    <script type='text/javascript'>
        var flash_message = function (settings) {
            settings.container = settings.container || 'body';
            settings.title = settings.title || '';
            settings.message = settings.message || '';
            settings.type = settings.type || 'success'; // success, warning, error

            $.gritter.add({
                title: settings.title,
                text: settings.message,
                class_name: 'gritter-' + settings.type
            });
        };

        // flash all session messages as gritter
        $(function () {
            var item, title, type, message;
            var all_messages = $.parseHTML($('#tmpl_flash_message').text());
            for (var i=0; i < all_messages.length; i++){
                item = $(all_messages[i]);
                title = item.attr('title');
                type = item.attr('type');
                message = item.text();
                if (title !== undefined && type !== undefined) {
                    flash_message({
                        type: type,
                        title: title,
                        message: message
                    });
                }
            }
        });
    </script>

    {# Add came_from attribute to all a's #}
    <script type='text/javascript'>
        $(function () {
            $('a.dialog').each(function (i) {
                var href = this.getAttribute('href');
                if (href != '#') {
                    this.setAttribute('href', href + '?came_from={{ request.path }}')
                }
            });
        });
    </script>

    {# Gantt Chart Scroll #}
    <script type="text/javascript">
        var scrollToTaskItem = function (start) {
            $("#gantt_scroll_to_button").attr('start', start).trigger('click');
        };
    </script>

    {# Event Dialog Initialize #}
    <script type="text/javascript">
        $(function () {
            var event_dialog = $('#dialog_template');

            var init_them_all = function(){
                if (event_dialog.find('script.dialog_loaded')[0] !== undefined){
                    try {
                        setTimeout(function(){
                            // init_dialog() will be loaded with the dialog itself
                            init_dialog();
                        });
                    } catch (e) {
                        console.log(e);
                    }
                } else {
                    setTimeout(init_them_all, 500);
                }
            };

            event_dialog.on('shown', function (e) {
                $('#dialog_template_delete_button').hide();
                e.stopPropagation();
                e.preventDefault();
                init_them_all();
            });

            event_dialog.on('hidden', function (e) {
                e.stopPropagation();
                e.preventDefault();
                try {
                    setTimeout(function(){
                        // destruct_dialog() will be loaded with the dialog itself
                        destruct_dialog();
                    });
                } catch (e) {
                    console.log(e);
                }
            });
        })
    </script>

    {# HTML Dialog Initialize #}
    <script type="text/javascript">
        $(function () {
            var html_dialog = $('#html_template');
            html_dialog.on('shown', function (e) {
                e.stopPropagation();
                e.preventDefault();
                try {
                    init_html_modal();
                } catch (e) {
                    console.log(e)
                }
            });
            html_dialog.on('hidden', function (e) {
                e.stopPropagation();
                e.preventDefault();

                try {
                    destruct_html_modal();
                } catch (e) {
                    console.log(e)
                }
            });
        })
    </script>

    {# Inline Edits #}
    <script>
        $(function () {
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editableform.loading = "<div class='editableform-loading'><i class='light-blue icon-2x icon-spinner icon-spin'></i></div>";
            $.fn.editableform.buttons = '<button type="submit" class="btn btn-info editable-submit"><i class="icon-ok icon-white"></i></button>'+
                                        '<button type="button" class="btn editable-cancel"><i class="icon-remove"></i></button>';
        });
    </script>

{% endblock scripts %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}
{% endblock extrascripts %}

</body>
</html>
