<div class='navbar navbar-fixed-top'>
    <div class="navbar-inner">
        <div class='container-fluid'>
            <a class="brand" href="/">Stalker</a>
            <ul class="nav navbar-nav" style="z-index: 1040;">
                <li>
                    <a href="{{ request.route_url('view_user', id=logged_in_user.id) }}">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">Studio <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if not studio %}
                            <li><a href="#">Create Studio</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ request.route_url('view_studio', id=studio.id) }}">{{ studio.name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">Crew <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu"
                        aria-labelledby="dropdownMenu">
                            <li>
                                <a href="{{ request.route_url('list_studio_users', id=studio.id) }}">Users</a>
                            </li>
                            <li>
                                <a tabindex="-1"
                                   href="{{ request.route_url('list_studio_departments', id=studio.id) }}">Departments</a>
                            </li>
                            <li>
                                <a tabindex="-1"
                                   href="{{ request.route_url('list_groups') }}">Groups</a>
                            </li>
                            <li>
                                <a tabindex="-1"
                                   href="{{ request.route_url('list_studio_clients', id=studio.id) }}">Clients</a>
                            </li>
                    </ul>
                </li>
                

                {% if has_permission('List_Project') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">Projects <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#" tabindex="-1">Planning</a>
                                <ul class="dropdown-menu dropdown-danger">
                                    {% for project in projects %}
                                        {% if project.status.code == 'PLN'  %}
                                            <li>
                                                <a href="{{ request.route_url('view_project', id=project.id) }}">{{ project.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" tabindex="-1">New</a>
                                <ul class="dropdown-menu dropdown-danger">
                                    {% for project in projects %}
                                        {% if project.status.code == 'NEW'  %}
                                            <li>
                                                <a href="{{ request.route_url('view_project', id=project.id) }}">{{ project.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" tabindex="-1">Wip</a>
                                <ul class="dropdown-menu dropdown-danger">
                                    {% for project in projects %}
                                        {% if project.status.code == 'WIP'  %}
                                            <li>
                                                <a href="{{ request.route_url('view_project', id=project.id) }}">{{ project.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a href="#" tabindex="-1">Completed</a>
                                <ul class="dropdown-menu dropdown-danger">
                                    {% for project in projects %}
                                        {% if project.status.code == 'CMPL'  %}
                                            <li>
                                                <a href="{{ request.route_url('view_project', id=project.id) }}">{{ project.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ request.route_url('list_studio_projects', id=studio.id) }}">ALL</a>
                            </li>
                            {% if has_permission('Create_Project') %}
                                <li class="divider"></li>
                                <li>
                                    <a data-target="#dialog_template"
                                       data-toggle="modal"
                                       data-keyboard=false
                                       href="{{ request.route_path('create_project_dialog', id=-1, _query={'mode': "Create" }) }}"
                                       >
                                        <i class="icon-plus"></i>
                                            New Project
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>


            <ul class="nav ace-nav pull-right">

{#                <li class="grey red">#}
{##}
{#                    <a data-target="#dialog_template"#}
{#                       data-toggle="modal"#}
{#                       data-keyboard=false#}
{#                       href="{{ request.route_url("user_general_time_log_dialog", id=logged_in_user.id  ) }}"#}
{#                       class="white">#}
{#                       <i class="icon-calendar"></i>#}
{#                       Magic Timelog#}
{#                    </a>#}
{#                </li>#}
                <li id="tasks_of_logged_in_user" class="grey red">
                    <a  href="{{ request.route_path('list_user_tasks', id=logged_in_user.id) }}">
                        <i class="icon-tasks"></i>
                        <span id="nav_bar_task_count" class="badge badge-grey badge-yellow"></span>
                    </a>
                </li>

                <li id="notifications" class="purple"></li>
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img id="logged_in_user_avatar" class="nav-user-photo"
                             src="{%- if logged_in_user.thumbnail -%}/{{ logged_in_user.thumbnail.full_path }}{%- else -%}{{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}{%- endif -%}">
                        {{ logged_in_user.name }}
                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                        <li>
                            <a href="{{ request.route_url('update_user_dialog', id=logged_in_user.id, mode='update') }}">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="{{ request.route_url('view_user_profile', id=logged_in_user.id) }}">
                                <i class="icon-user"></i>
                                Profile
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="/logout">
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>

{% raw %}
<script id="tmpl_task_nav_bar_row" type="text/x-dot-template">
    <li>
        <a href="/tasks/{{=it.id }}/view">
            <div class="clearfix">
                <span class="pull-left">{{=it.name }}</span>
            </div>

            <div class="progress progress-mini ">
                <div class="bar"
                     style="width:{{=it.percent_complete }}%"></div>
            </div>
        </a>
    </li>
</script>
{% endraw %}

{% raw %}
<script id="tmpl_notificationRow" type="text/x-dot-template">
    <li>
        <a href="/tickets/{{= it.id }}/view">
            <img src="/{{=it.created_by_thumbnail ? it.created_by_thumbnail : 'static/stalker/images/Placeholder_0.png' }}"
                 class="msg-photo"/>
            <span class="msg-body">
                <span class="msg-title">
                    <span class="blue">{{=it.created_by_name }}:</span>
                    {{=it.summary }}
                    </span>
                <span class="msg-time">
                    <i class="icon-time"></i>
                    <span class="date">{{=it.date_updated }}</span>
                </span>
            </span>
        </a>
    </li>
</script>
{% endraw %}


<script type="text/javascript">
    $(() => {
        let logged_in_user_id = {{ logged_in_user.id }};
        let notification_url = "{{ request.route_path('list_entity_tickets', id=logged_in_user.id) }}";

        window.stalker.update_open_ticket_count(logged_in_user_id, notification_url);
        window.stalker.update_user_tasks_count(logged_in_user_id);
    });
</script>
