<div class='navbar navbar-inverse navbar-fixed-top'>
    <div class="navbar-inner">
        <div class='container-fluid'>
            <div class='navbar-header'>
                <a class="brand" href="/">Stalker
                    <small>v{{ stalker_pyramid.__version__ }}</small>
                </a>
            </div>
            <p class="navbar-text pull-right">Logged in as <a href="#"
                                                              class="navbar-link">{{ logged_in_user.name }}</a>
            </p>

            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">Studio <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if not studio %}#}
                                {% if has_permission('Create_Studio') %}
                                    <li><a href="#">Create Studio</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if has_permission('Read_Studio') %}
                                    <li>
                                        <a href="#">{{ studio.name }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">New</a>
                                <ul class="dropdown-menu">

                                    {% if has_permission('Create_FilenameTemplate') %}
                                        <li>
                                            <a href="#">FilenameTemplate</a>
                                        </li>
                                    {% endif %}

                                    {% if has_permission('Create_ImageFormat') %}
                                        <li><a href="#">Image
                                            Format</a>
                                        </li>
                                    {% endif %}

                                    {% if has_permission('Create_Repository') %}
                                        <li><a href="#">Repository</a>
                                        </li>
                                    {% endif %}

                                    {% if has_permission('Create_Status') %}
                                        <li><a href="#">Status</a>
                                        </li>
                                    {% endif %}

                                    {% if has_permission('Create_StatusList') %}
                                        <li><a href="#">Status List</a>
                                        </li>
                                    {% endif %}

                                    {% if has_permission('Create_Structure') %}
                                        <li><a href="#">Structure</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">Crew <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu"
                            aria-labelledby="dropdownMenu">
                            {% if has_permission('List_User') %}
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Users</a>
                                    <ul class="dropdown-menu">

                                        {% for user in studio.users %}
                                            <li>
                                                <a href='#'>{{ user.name }}
                                                    ({{ user.login }})</a>
                                            </li>
                                        {% endfor %}

                                        {% if has_permission('Create_User') %}
                                            <li class="divider"></li>
                                            <li> <a href='#'>New User</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if has_permission('List_Department') %}
                                <li class="dropdown-submenu">
                                    <a tabindex="-1"
                                       href="#">Departments</a>
                                    <ul class="dropdown-menu">

                                        {% for department in studio.departments %}
                                            <li>
                                                <a tabindex="-1" href="#">{{ department.name }}</a>
                                            </li>
                                        {% endfor %}

                                        {% if has_permission('Create_Department') %}
                                            <li class="divider"></li>
                                            <li><a href='#'>New Department</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if has_permission('List_Group') %}
                                <li class="dropdown-submenu">
                                    <a tabindex="-1"
                                       href="#">Groups</a>
                                    <ul class="dropdown-menu">
                                        {% for group in groups %}
                                            <li>
                                                <a tabindex="-1" href="#">{{ group.name }}</a>
                                            </li>
                                        {% endfor %}
                                        {% if has_permission('Create_Group') %}
                                            <li class="divider"></li>
                                            <li>
                                                <a href='#'>New Group</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if has_permission('List_Project') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown">Projects <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for project in projects %}
                                    <li>
                                        <a href='#'>{{ project.name }}</a>
                                    </li>
                                {% endfor %}
                                {% if has_permission('Create_Project') %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href='#'>New Project</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
