<div class="page-header position-relative">
    <h1>
        {{ page_title }}
        {% if page_desc %}
            <small>
                <i class="icon-double-angle-right"></i>
                {{ page_desc }}
            </small>
        {% endif %}
    </h1>
</div>