<div class="page-header position-relative">
    <h1>
        {{ page_title }}
        <small>
            <i class="icon-double-angle-right"></i>
            {{ entity.name }}
        </small>
    </h1>
</div>