    {% if entity.entity_type == 'User' %}
        {% set user=entity %}
        {% include 'auth/view/user_pillsbar.jinja2' %}
    {% elif entity.entity_type == 'Asset'or entity.entity_type == 'Shot'or entity.entity_type == 'Sequence'or entity.entity_type == 'Task'%}
        {% set task=entity %}
        {% include 'task/view/task_pillsbar.jinja2' %}
    {% else %}
        {% if entity.entity_type =='Project' %}
            {% set project=entity %}
        {% endif %}
        {% include '%(entity_type)s/view/%(entity_type)s_pillsbar.jinja2' % ({'entity_type': entity.entity_type.lower() }) %}
    {% endif %}