{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
{% extends "base.jinja2" %}

{# PRE-HEADER#}
{% block pre_header %}

    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/fullcalendar.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/bootstrap-timepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/datepicker.css") }}'/>
    <link rel="stylesheet"
          href='{{ request.static_url("stalker_pyramid:static/ace/css/daterangepicker.css") }}'/>



{% endblock pre_header %}

{#SIDEBAR#}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}


{#BREADCRUMBS#}
{#{% block breadcrumbs %}#}
{##}
{#    {% set page_title='Versions' %}#}
{#    {% include 'breadcrumbs.jinja2' %}#}
{##}
{#{% endblock breadcrumbs %}#}

{# MODALS #}
{% block modals %}

    {% include 'modals/dialog_template.jinja2' %}

{% endblock modals %}

{#PAGE-CONTENT#}
{% block page_content %}

    {% set page_title='Versions' %}

    {% include 'page_header.jinja2' %}
    <!--/.page-header-->

    <div class="row-fluid" id="version_table_row"></div>
    <!--PAGE CONTENT ENDS-->

{% endblock page_content %}

<!--page specific plugin scripts-->
{#EXTRA-SCRIPTS#}
{% block extrascripts %}
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.dataTables.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.dataTables.bootstrap.js") }}'></script>


    {# ***************************************************************************************#}
    {# Table Template#}

    {% raw %}
    <script id="tmpl_version_table" type="text/x-dot-template">
        <div class="span12">
            <div class="widget-container-span">
                <div class="widget-box">
                    <div class="widget-header widget-header-small header-color-{{=it.table_title_color }}">
                        <h4 class="smaller">
                            <i class="icon-list"></i>
                            {{=it.table_title }}
                        </h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <div id="{{=it.table_spinner_id }}"
                                 class="well well-sm">

                                <div class="inline middle blue bigger-110"><i
                                        class="icon-spinner icon-spin orange bigger-125"></i>
                                    Loading
                                    content...
                                </div>
                            </div>

                            <table id="{{=it.table_id }}"
                                   class="table table-striped table-bordered table-hover hide"
                                    >
                                <thead>
                                <tr>
                                    <th>Parent Name</th>
                                    <th>Task Name</th>
                                    <th>#</th>
                                    <th>Is Published</th>
                                    <th>Name</th>
                                    <th>Path</th>
                                    <th>Created By</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    {% endraw %}

    {# ***************************************************************************************#}
    {# Task Row Template#}

    {% raw %}
    <script id="tmpl_versionRow" type="text/x-dot-template">

        <tr>
            <td>{{=it.parent_name }}</td>
            <td>{{=it.name }}</td>
            <td>{{=it.id }}</td>
            <td>{{=it.is_published }}</td>
            <td>{{=it.name }}</td>
            <td>{{=it.absolute_full_path }}</td>
            <td>
                <a href="">{{=it.created_by_name}}</a>
            </td>
        </tr>
    </script>
    {% endraw %}



    {# ***************************************************************************************#}
    {# Table Creation#}

    <script>

        // fill projects table with dynamic data
        $(document).ready(function () {
            var loadTableData = function (address, tableId, spinnerId) {

                $.getJSON(address).then(function (data) {

                    alert('loaded')

                    var version_template = doT.template($('#tmpl_versionRow').html());

                    // wait until document is ready
                    $(function () {
                        var i;
                        var table_body = $('#' + tableId + '>tbody');

                        for (i = 0; i < data.length; i++) {

                            // append it to the table


                            table_body.append(version_template(data[i]));
                        }

                        var oTable1 = $('#' + tableId).dataTable();

                    });
                    $('#' + tableId).show();
                    $('#' + spinnerId).hide();


                });


            }

            var table_template = doT.template($('#tmpl_version_table').html());
            $('#version_table_row').append(table_template({'table_title_color': 'red', 'table_title': 'Versions', 'table_id': 'versions', 'table_spinner_id': 'loading_spinner_for_versions'}));

{#            //loadTableData('/entities/{{ entity.id }}/versions/', 'versions', 'loading_spinner_for_versions');#}
        });

    </script>


{% endblock extrascripts %}

