{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<li id="Reference_{{ reference.id }}">
    <a href="/{{reference.full_path}}"
       title="{{reference.original_filename}}"
       data-rel="colorbox"
       class="cboxElement">
        <div style="text-align: center; overflow: hidden; width: 150px">
            <img alt="150x150"
                 style="height: 150px; width: auto; max-width: none;
                        position: relative; left: 100%; margin-left: -200%;"
                 src="{%- if reference.thumbnail -%}
                        /{{ reference.thumbnail.full_path }}
                    {%- else -%}
                        {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}
               {%- endif -%}">
            <div class="tags">
              {% for tag in reference.tags %}
                <span class="label label-info">{{ tag.name }}</span>
              {% endfor %}
            </div>
        </div>
    </a>

    <div class="tools">
        <a href="/{{reference.full_path}}" target="_blank">
            <i class="icon-link"></i>
        </a>

{#        <a href="#">#}
{#            <i class="icon-paper-clip"></i>#}
{#        </a>#}
{##}
{#        <a href="#">#}
{#            <i class="icon-pencil"></i>#}
{#        </a>#}

        <a class='reference-deleter' ref_id="{{reference.id}}" href="#">
            <i class="icon-remove red"></i>
        </a>
    </div>
</li>
