{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2013 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}
<div class="row-fluid">
    <div class="span12">
        <!--PAGE CONTENT BEGINS-->
        <div class="row-fluid">
        </div>
        <!--PAGE CONTENT ENDS-->

        <button data-target="#dialog_template"
                data-toggle="modal"
                data-keyboard="false"
                href="{{ request.route_url('upload_entity_reference_dialog', id=entity.id) }}"
                class="btn btn-small btn-danger">
            <i class="icon-cloud-upload bigger-120"></i>
            Upload References
        </button>

        <ul class="ace-thumbnails">
            {% for reference in references %}
                {% include 'link/list_item_reference.jinja2' %}
            {% endfor %}
        </ul>
    </div>
    <!--/.span-->
</div>

<script type="text/javascript">
    jQuery(function ($) {
        var colorbox_params = {
            reposition: true,
            scalePhotos: true,
            scrolling: false,
            previous: '<i class="icon-arrow-left"></i>',
            next: '<i class="icon-arrow-right"></i>',
            close: '&times;',
            current: '{current} of {total}',
            maxWidth: '100%',
            maxHeight: '100%',
            title: function(){
                var url = $(this).attr('href');
                var original_title = $(this).attr('title');
                return '<a href="' + url + '" target="_blank">' + original_title + ' (Open In New Window)</a>';
            },
            onOpen: function () {
                document.body.style.overflow = 'hidden';
            },
            onClosed: function () {
                document.body.style.overflow = 'auto';
            },
            onComplete: function () {
                $.colorbox.resize();
            }
        };


        $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
        $("#cboxLoadingGraphic").append("<i class='icon-spinner orange'></i>");//let's add a custom loading icon

        /**$(window).on('resize.colorbox', function() {
            try {
                //this function has been changed in recent versions of colorbox, so it won't work
                $.fn.colorbox.load();//to redraw the current frame
            } catch(e){}
        });*/

        $('.reference-deleter').on('click', function(e){
            e.preventDefault();
            e.stopPropagation();
            var self = $(this);
            bootbox.confirm('Delete ?', function(response){
                if(response){
                    var ref_id = self.attr('ref_id');
                    console.debug('will delete ' + ref_id);
                    // remove the reference in the server
                    var url = '/references/' + ref_id + '/delete';
                    $.post(url).done(function(response_text){
                        // use he response text and give info
                        
                        // and also delete the HTML element
                        
                        $('#Reference_' + ref_id).toggle('slow', function(){
                            $(this).remove();
                        })
                    }).fail(function(jqXHR){
                        // us the jqXHR.response_text and inform user about what is wrong
                    });
                }
            });
        });
    });
</script>
