<div class="row-fluid">
    {% if entity.entity_type != 'Project' %}
        <button data-target="#dialog_template"
            data-toggle="modal"
            data-keyboard="false"
            href="{{ request.route_url('upload_entity_version_output_dialog', id=version.id) }}"
            class="pull-left btn btn-small btn-primary">
            <i class="icon-cloud-upload bigger-120"></i>
            Upload Output
        </button>
    {% endif %}
</div>
<div class="space-8"></div>
<div class="row-fluid">
    <div class="row-fluid ">

        <div class="span6">
            <div class="pagination" style="margin: 0"></div>
        </div>

        <div class="span6">
            <div class="search pull-right" id="output-search">
                <form class="form-search">
                    <input id="output_search_field" type="text" class="input-medium search-query"/>
                    <button class="btn btn-purple btn-small"
                            id="output_do_search_button">
                        Search
                        <i class="icon-search icon-on-right bigger-110"></i>
                    </button>
                </form>
            </div>
        </div>

    </div>

    <div class="row-fluid">
        <div id="new_outputs_storage" class="hidden"></div>
        <ul class="ace-thumbnails"></ul>
    </div>
</div>