<li>
    <a href="#"
       title="Photo Title" data-rel="colorbox"
       class="cboxElement">
        <img alt="150x150" style="height: 150px"
             src="{%- if reference.thumbnail -%}
                    /{{ reference.thumbnail.full_path }}
                {%- else -%}
                    {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}
           {%- endif -%}">
        <div class="tags">
          {% for tag in reference.tags %}
            <span class="label label-info arrowed-in">{{ tag.name }}</span>
          {% endfor %}
        </div>
    </a>

    <div class="tools">
        <a href="#">
            <i class="icon-link"></i>
        </a>

        <a href="#">
            <i class="icon-paper-clip"></i>
        </a>

        <a href="#">
            <i class="icon-pencil"></i>
        </a>

        <a href="#">
            <i class="icon-remove red"></i>
        </a>
    </div>
</li>