<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.ui.touch-punch.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/fullcalendar.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootbox.min.js") }}'></script>


<!--inline scripts related to this page-->

<script type="text/javascript">
    $(function () {

        /* initialize the external events
         -----------------------------------------------------------------*/

        $('#external-events div.external-event').each(function () {

// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
// it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };

// store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);

// make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });


        $.getJSON($('#calendar').attr('address')).then(function (data) {


            var events = [];
            for (var i = 0; i < data.length; i++) {


                var start_date = new Date(parseInt(data[i].start));
                var end_date = new Date(parseInt(data[i].end));


                var event = {
                    eId: data[i].id,
                    entity_type: data[i].entity_type,
                    title: data[i].title,
                    start: start_date,
                    end: end_date,
                    className: data[i].className,
                    allDay: data[i].allDay
                };

                events.push(event);

            }


            /* initialize the calendar
             -----------------------------------------------------------------*/


            var calendar = $('#calendar').fullCalendar({
                buttonText: {
                    prev: '<i class="icon-chevron-left"></i>',
                    next: '<i class="icon-chevron-right"></i>'
                },

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: events,
                editable: true,
                droppable: false, // this allows things to be dropped onto the calendar !!!

                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {

{#                    var event_dialog = $('#event_dialog');#}
{##}
{#                    event_dialog.modal({'remote': "/users/{{ entity.id }}/time_logs/create/dialog"});#}
{##}
{##}
{#                    event_dialog.on('shown', function () {#}
{##}
{#                        init_event_dialog(start, end, allDay);#}
{##}
{#                    });#}
{##}
{#                    event_dialog.on('hidden', function () {#}
{##}
{#                        destruct_event_dialog();#}
{##}
{#                    });#}


                    bootbox.dialog({'defaultHref':"/users/{{ entity.id }}/time_logs/create/dialog"});
{#                    bootbox.prompt("New Event Title:", function (title) {#}
{#                        if (title !== null) {#}
{#                            calendar.fullCalendar('renderEvent',#}
{#                                    {#}
{#                                        title: title,#}
{#                                        start: start,#}
{#                                        end: end,#}
{#                                        allDay: allDay#}
{#                                    },#}
{#                                    true // make the event "stick"#}
{#                            );#}
{#                        }#}
{#                    });#}

                    calendar.fullCalendar('unselect');

                },
                eventClick: function (calEvent, jsEvent, view) {

                    var event_dialog = $('#event_dialog');

                    event_dialog.modal({'remote': "/" + calEvent.entity_type + "/" + calEvent.eId + "/update/dialog"});


                    event_dialog.on('shown', function () {

                        init_event_dialog(0, 0, 0);

                    });

                    event_dialog.on('hidden', function () {

                        destruct_event_dialog();

                    });


                }

            });

        });
    });
</script>