<div id='event_dialog'
     aria-labelledby="event_dialog_label"
     class='modal hide fade'
     tabIndex='-1'
     zIndex='2'
     role='dialog'
     aria-hidden="true"
      >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h3 id="event_dialog_label"></h3>
    </div>
    <div class="modal-body" style="height: 400px"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-small" data-dismiss="modal">
            <i class="icon-remove"></i>
            Cancel
        </button>
        <button id='event_dialog_submit_button'
                type="button" class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Ok
        </button>
    </div>
</div>