{% extends "base.jinja2" %}

{% block breadcrumbs %}
    {% set page_title='Tasks' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{% block page_content %}

    <div class="widget-box {{ collapsed }}">
        <div class="widget-header widget-header-small header-color-grey }}">
            <h5 id="items_header" class="smaller"></h5>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                {% set query_str='resource_id=%s&status=RTS&status=WIP&status=WFD&status=HREV' % entity.id %}
                {% include 'task/list/list_entity_tasks_by_filter.jinja2' %}
            </div>
        </div>
    </div>

{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}

    {% raw %}
    <script id="tmpl_itemThead" type="text/x-dot-template">
        <tr>
            <th>Start</th>
            <th>Project</th>
            <th>Name</th>
            <th>Resource</th>
            <th>Type</th>
            <th>Completed</th>
            <th>Status</th>
            <th></th>
        </tr>
    </script>
    {% endraw %}

    {% raw %}
    <script id="tmpl_itemRow" type="text/x-dot-template">
        <tr>
            <td>{{=it.start}}</td>
            <td><a href='/projects/{{=it.project_id}}/view'>{{=it.project_name}}</a>
            </td>
            <td><a href='/tasks/{{=it.id}}/view'>{{=it.full_path}}</a></td>
            <td>{{ for(var i=0;i<it.resources.length;i++){ }}<a href='/users/{{=it.resources[i].id}}/view'>{{=it.resources[i].name}}</a>{{ } }}</td>

            <td>{{=it.task_type}}</td>
            <td data-sType="num-html">
                <div class="progress progress-success">
                    <div style="width:{{=it.completed}}%"
                         class="bar">
                        <span class="pull-left">{{= it.completed.toFixed(0) }}%</span>
                    </div>
                </div>
            </td>
            <td>
                <span class="label label-status_{{=it.status}}">{{=it.status}}</span>
            </td>
            <td>
                <div class="hidden-phone visible-desktop action-buttons">
                    <a class="blue" href='/tasks/{{=it.id}}/view'>
                        <i class="icon-zoom-in bigger-130"></i>
                    </a>

                    <a id='update_task_item'
                       data-target="#dialog_template"
                       data-toggle="modal"
                       data-keyboard=false
                       href="/tasks/{{=it.id}}/update/dialog"
                       tabindex="-1">
                        <i class="icon-pencil bigger-120">&nbsp</i>
                    </a>


                </div>
            </td>

        </tr>
    </script>
    {% endraw %}

    <script>
        $(function () {
            init_html_modal()
        })
    </script>

{% endblock extrascripts %}
