{% extends "base.jinja2" %}

{% block breadcrumbs %}
    {% set page_title='Sequences' %}
    {% include 'breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{% block page_content %}

    {% set page_title='Sequences' %}
    {% include 'page_header.jinja2' %}

    {% set sequences=entity.sequences %}

    {% for sequence in sequences %}

      {% if (loop.index0 % 6) == 0 %}
           <div class="row-fluid">
      {% endif %}

      {% include 'sequence/list_item_sequence.jinja2' %}


      {% if (loop.index0 % 6) == 5 %}
          </div>
          <div class="space"></div>
      {% endif %}
    {% endfor %}
{% endblock page_content %}
