{# Render Group Side Bar #}

{% set department=entity %}


<ul id="sidebar_list" class='nav nav-list'>


</ul>

<script type="text/javascript">
    window.jQuery(document).ready(function () {
        window.page_of(
            '{{ department.name }}',
            '',
            "{%- if department.thumbnail -%}/{{ department.thumbnail.full_path }}{%- else -%}{{ request.static_url("stalker_pyramid:static/stalker/images/T_NO_IMAGE.gif") }}{%- endif -%}",
            '{%- if has_permission('Update_Department') -%}/departments/{{ department.id }}/update/dialog{%- endif -%}'
        );

        window.menu_of(
            'Dashboard',
            "{%- if request.current_route_path() == request.route_path('view_department', id=department.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_department', id=department.id) }}',
            window.get_icon('dashboard'),
            0
        );

        window.menu_of(
            'Resources',
            "{%- if request.current_route_path() == request.route_path('list_entity_resources', id=department.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_resources', id=department.id) }}',
            window.get_icon('resource'),
            0
        );

        window.menu_of(
            'Tasks',
            "{%- if request.current_route_path() == request.route_path('list_entity_tasks', id=department.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_tasks', id=department.id) }}',
            window.get_icon('task'),
            {{ department.tasks | count }}
        );

{#        window.menu_of('Projects',#}
{#                "{%- if request.current_route_path() == request.route_path('list_department_projects', id=department.id) -%}'active',{%- else -%},{%- endif -%}",#}
{#                '{{ request.route_url('list_department_projects', id=department.id) }}',#}
{#                window.get_icon('project'),#}
{#                {{ department.projects | count }})#}

        window.menu_of(
            'Users',
            "{%- if request.current_route_path() == request.route_path('list_entity_users', id=department.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_users', id=department.id) }}',
            window.get_icon('user'),
            {{ department.users | count }}
        );

        window.menu_of(
            'Reports',
            "{%- if request.current_route_path() == request.route_path('view_department_reports', id=department.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_department_reports', id=department.id) }}',
            window.get_icon('report'),
            ''
        );

        window.menu_of(
            'Results',
            "{%- if request.current_route_path() == request.route_path('view_entity_result', id=department.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_entity_result', id=department.id) }}',
            window.get_icon('report'),
            ''
        );



{#        window.menu_of('Vacations',#}
{#                    "{%- if request.current_route_path() == request.route_path('list_entity_vacations', id=department.id) -%}'active',{%- else -%},{%- endif -%}",#}
{#                    '{{ request.route_url('list_entity_vacations', id=department.id) }}',#}
{#                    window.get_icon('vacation'),#}
{#                    {{ department.vacations | count }})#}


    })
</script>
