{% extends "base.jinja2" %}

{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title='Dashboard' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# PRE-HEADER #}
{% block pre_header %}



{% endblock pre_header %}



{# PAGE-CONTENT #}
{% block page_content %}

    <div id="resources_box"
         class="widget-box  transparent">
        <div class="widget-header widget-header-small">
            <h4 class="smaller grey">
                <i class="icon-user orange"></i>Resources</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div id="resource_tree"
                     class="tree"></div>
            </div>
        </div>
    </div>

{% endblock page_content %}

{#EXTRA-SCRIPTS#}
{% block extrascripts %}
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.ui.touch-punch.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.gritter.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.slimscroll.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.hotkeys.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootstrap-wysiwyg.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/select2.min.js") }}'></script>
{#    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/bootstrap-datepicker.min.js") }}'></script>#}
{#    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/fuelux/fuelux.spinner.min.js") }}'></script>#}
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.maskedinput.min.js") }}'></script>



    {% include 'components/tree.jinja2' %}

    <script type="text/javascript">
        $(document).ready(function () {

            $.getJSON('/entities/{{ entity.id }}/users/').then(function (data) {
                var resources = {};
                console.log('loaded')
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i].name)
                    var prop_id = (data[i].id).toString();

                    if (!resources [prop_id]) {
                        resources [prop_id] = {
                            'name': '<span><a href="/users/' + data[i].id + '/view">' + data[i].name + '  </a></span>',
                            'type': 'folder',
                            'icon-class': 'blue'
                        }
                    }

                    if (!resources[prop_id]['additionalParameters']) {
                        resources[prop_id]['additionalParameters'] = {};
                        resources[prop_id]['additionalParameters']['children'] = {};
                    }

                    $.getJSON('/tasks/?has_resource=1&leaf_only=1&resource_id='+data[i].id+'&status="WIP"').then(function (tdata) {
                         console.log('loaded2')
                        for (var k = 0; k < tdata.length; k++) {
                             console.log(tdata[i].name)
                            var time_to_complete_str = '<span> ( ' +  meaningful_time_between(tdata[k].schedule_seconds, tdata[k].total_logged_seconds) + ') </span>';
                            var percent_complete_str = '<span class="label label-' + tdata[k].status + '">' + tdata[k].status + '</span>';
                            resources[tdata[k].resources[0].id]['additionalParameters']['children'][(tdata[k].id).toString()] = {name: '<span  class="pull-left"><a href="/tasks/' + tdata[k].id + '/view">' + tdata[k].full_path + '  </a></span>' + time_to_complete_str + percent_complete_str, type: 'item'}
                        }
                    });

                }
                $('#resources_box').show();
                drawTree('resource_tree', resources);

            });
        });




    </script>



{% endblock extrascripts %}
