{% extends "base.jinja2" %}

{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title='Users' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# PAGE-CONTENT #}
{% block page_content %}

{#    {% set page_title='Users' %}#}
{#    {% include 'page_header.jinja2' %}#}

    {% set add_button_address=request.route_path('append_user_to_entity_dialog', id=entity.id, _query={'came_from': request.current_route_path()}) %}

    {% set list_item_type='User' %}
    {% include 'components/data_table.jinja2' %}

{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}
    {% raw %}
    <script id="tmpl_itemThead" type="text/x-dot-template">
        <tr>
            <th>Thumbnail</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </script>
    {% endraw %}

    {% raw %}
    <script id="tmpl_itemRow" type="text/x-dot-template">
        <tr>
            <td><img style='width:auto; height: 100px;'
                     class="img-thumbnail"
                     src="{{=it.thumbnail_full_path }}">
            </td>
            <td><a href='/users/{{=it.id}}/view'>{{=it.name}}</a>
            </td>
            <td><a href='/users/{{=it.id}}/view'>{{=it.email}}</a>
            </td>
            <td>{{=it.role}}
            </td>
            <td>
                {{ if (it.update_user_action) { }}
                <a class="blue" href="{{=it.update_user_action}}">
                    <i class="icon-edit bigger-130"></i>
                </a>
                {{ } }}

                {{ if (it.delete_user_action) { }}
                <a class="red"
                   data-target="#dialog_template"
                   data-toggle="modal"
                   data-keyboard=false
                   href="{{=it.delete_user_action}}?came_from={{=it.came_from }}">
                    <i class="icon-trash bigger-130"></i>
                </a>
                {{ } }}
            </td>
        </tr>
    </script>
    {% endraw %}

    <script>

        var tableParameters = {"aoColumns": [null, null, null, null, null]};
        var sortingParameters = [[0, 'asc']];
        var tableDataAddress = '{{ request.route_path('get_client_users', id=entity.id) }}';

    </script>

{% endblock extrascripts %}

