{# Stalker Pyramid a Web Base Production Asset Management System
 Copyright (C) 2009-2014 Erkan Ozgur Yilmaz

 This file is part of Stalker Pyramid.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation;
 version 2.1 of the License.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA
#}

{% extends "base.jinja2" %}

{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title='Users' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# PAGE-CONTENT #}
{% block page_content %}

{#    {% set page_title='Users' %}#}
{#    {% include 'page_header.jinja2' %}#}


    {% if entity.entity_type == 'Studio' %}
        {% set add_button_address=request.route_path('create_user_dialog') %}
    {% elif entity.entity_type == 'Client' %}
        {% set add_button_address=request.route_path('append_user_to_client_dialog', id=entity.id, _query={'came_from': request.current_route_path()}) %}
    {% else %}
        {% set add_button_title='Add' %}
        {% set add_button_address=request.route_url('append_entities_to_entity_dialog', id=entity.id, entities='User', _query={'came_from': request.current_route_path()}) %}
    {% endif %}


    {% set list_item_type='User' %}
    {% include 'components/jgrid_table.jinja2' %}

{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}
    <script>

        var colNames = ['', 'ID','Name', 'Rate', 'Task Count'];
        var colModel = [{name:'myac',index:'', width:70, fixed:true, sortable:false, resize:false,
                        formatter:'actions',
                        formatoptions:{
                            keys:false,
                            delbutton:false
{#                                        delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback}#}
{#                                        //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}#}
                        }
                    },
                    {name:'id',index:'id', width:90, sortable:true, editable: false},
                    {name:'name',index:'name', width:200, sortable:true, editable: false, formatter:resourceLabelFormatter},
                    {name:'role',index:'role',  width:100, editable: true, editoptions:{size:"20", maxlength:"30"}},
                    {name:'tasksCount',index:'tasksCount',  width:100, editable: false}
                ];
        var sortingParameters = [[0, 'asc']];
        var tableDataAddress;
        {% if entity.entity_type == 'Studio' %}
            tableDataAddress = '{{ request.route_path('get_users') }}';
        {% else %}
            tableDataAddress = '{{ request.route_path('get_entity_users', id=entity.id) }}';
        {% endif %}

        function resourceLabelFormatter(cellvalue, options, rowObject){
            return '<a href="/users/'+rowObject.id+'/view">'+cellvalue+'</a>';
        }

    </script>

{% endblock extrascripts %}

