<li>
    <a href="{{ request.route_url('view_user', id=user.id) }}"
       title="Photo Title" data-rel="colorbox"
       class="cboxElement">
        <img alt="150x150" style="height: 150px"
             src="{%- if user.thumbnail -%}
                    /{{ user.thumbnail.full_path }}
                {%- else -%}
                    {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}
           {%- endif -%}">

        <div class="tags">
            <span class="label label-warning arrowed-in">{{ user.name }}</span>
        </div>
    </a>
    {% if has_permission('Update_User') %}
        <div class="tools">

            <a href="/users/{{ user.id }}/update/dialog">
                <i class="icon-pencil"></i>
            </a>

            <a href="{{ request.route_url('remove_entity_from_entity', id=user.id, entity_id=entity.id) }}?came_from={{ request.current_route_path() }}">
                <i class="icon-remove red"></i>
            </a>
        </div>
    {% endif %}
</li>
