{# Render Budget Side Bar #}

<ul id="sidebar_list" class='nav nav-list'></ul>

<script>
    $(function () {
        page_of('{{ entity.name }}',
                '{{ entity.project.name }}',
                '',
                '{%- if has_permission('Update_Budget')-%}/budgets/{{ entity.id }}/update/dialog{%- endif -%}'
        )
        menu_of(
            'Dashboard',
            "{%- if request.current_route_path() == request.route_path('view_budget', id=entity.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_budget', id=entity.id) }}',
            get_icon('dashboard'),
            ''
        );
        menu_of(
            'Takvim',
            "{%- if request.current_route_path() == request.route_path('view_budget_calendar', id=entity.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_budget_calendar', id=entity.id) }}',
            get_icon('timelog'),
            ''
        );
        menu_of(
            'Bütçe',
            "{%- if request.current_route_path() == request.route_path('view_budget_table_summary', id=entity.id, mode='table_summary') -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_budget_table_summary', id=entity.id, mode='table_summary') }}',
            get_icon('budget'),
            ''
        );
{#        menu_of(#}
{#            'Faturalar',#}
{#            "{%- if request.current_route_path() == request.route_path('list_budget_invoices', id=entity.id) -%}'active',{%- else -%},{%- endif -%}",#}
{#            '{{ request.route_url('list_budget_invoices', id=entity.id) }}',#}
{#            get_icon('budget'),#}
{#            ''#}
{#        );#}
{##}
{#        menu_of(#}
{#            'Rapor',#}
{#            "{%- if request.current_route_path() == request.route_path('view_budget_report', id=entity.id) -%}'active',{%- else -%},{%- endif -%}",#}
{#            '{{ request.route_url('view_budget_report', id=entity.id) }}',#}
{#            get_icon('budget'),#}
{#            ''#}
{#        );#}
    });
</script>



