<div class="totals" id="totals">
    <script type="text/javascript">
        try {
            ace.settings.check('totals', 'fixed')
        } catch (e) {
        }
    </script>
    <table class="table table-striped table-bordered">
        <thead>
            <tr style="background-color: #2fafc6; color:#FFFFFF">
                <th style="width:16%">ARA TOPLAM</th>
                <th style="width:16%">%15 YAPIMEVİ SERVİSİ</th>
                <th style="width:16%">NET TOPLAM</th>
                <th style="width:16%">ONAYLANAN NET TUTAR</th>
                <th style="width:16%">%18 KDV</th>
                <th style="width:20%">BRÜT TOPLAM</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td id="ara_toplam">-</td>
                <td id="yapimevi_servisi">-</td>
                <td id="net_toplam">-</td>
                <td id="onaylanan_net_tutar">-</td>
                <td id="kdv">-</td>
                <td id="brut_toplam">-</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr style="background-color: #f15821; color:#FFFFFF">
                <th style="width:16%">ÖNGÖRÜLEN MALIYET</th>
                <th style="width:16%">GERÇEKLEŞEN MALIYET</th>
                <th style="width:16%">ÖNGÖRÜLEN KAR</th>
                <th style="width:16%">GERCEKLESEN KÂR</th>
                <th style="width:16%">ÖNGÖRÜLEN KÂR YÜZDESİ</th>
                <th style="width:20%">KÂR YÜZDESİ</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td id="ongorulen_maliyet">-</td>
                <td id="gerceklesen_maliyet">-</td>
                <td id="ongorulen_kar">-</td>
                <td id="gerceklesen_kar">-</td>
                <td id="ongorulen_kar_yuzdesi">-</td>
                <td id="kar_yuzdesi">-</td>
            </tr>
        </tbody>
    </table>
</div>

<script src='{{ request.static_url("stalker_pyramid:static/stalker/js/accounting.min.js") }}'></script>
<script type="text/javascript">


    function calculateSummaryTotals(tMsrp, tCost, tPrice, aTotalPrice){
        console.log("calculateSummaryTotals")
        $('#ara_toplam').text(accounting.formatMoney(tPrice, { symbol: "TL",  format: "%v %s" }));
        let yapimevi_servisi = tPrice*0.15;
        $('#yapimevi_servisi').text(accounting.formatMoney(yapimevi_servisi, { symbol: "TL",  format: "%v %s" }));
        let net_toplam = tPrice+yapimevi_servisi;
        $('#net_toplam').text(accounting.formatMoney(net_toplam, { symbol: "TL",  format: "%v %s" }));
        let onaylanan_net_tutar = parseInt(aTotalPrice);
        $('#onaylanan_net_tutar').text(accounting.formatMoney(aTotalPrice, { symbol: "TL",  format: "%v %s" }));

        let son_tutar = net_toplam;
        if(onaylanan_net_tutar>0){
            son_tutar = onaylanan_net_tutar;
        }

        let kdv = son_tutar*0.18;
        $('#kdv').text(accounting.formatMoney(kdv, { symbol: "TL",  format: "%v %s" }));
        let brut_toplam = son_tutar + kdv;
        $('#brut_toplam').text(accounting.formatMoney(brut_toplam, { symbol: "TL",  format: "%v %s" }));

        let ongorulen_maliyet = tMsrp;
        $('#ongorulen_maliyet').text(accounting.formatMoney(ongorulen_maliyet, { symbol: "TL",  format: "%v %s" }));
        let gerceklesen_maliyet = 0;
        $('#gerceklesen_maliyet').text(gerceklesen_maliyet);
        let ongorulen_kar = son_tutar - ongorulen_maliyet;

        $('#ongorulen_kar').text(accounting.formatMoney(ongorulen_kar, { symbol: "TL",  format: "%v %s" }));
        let gerceklesen_kar = son_tutar - gerceklesen_maliyet;
        $('#gerceklesen_kar').text(accounting.formatMoney(gerceklesen_kar, { symbol: "TL",  format: "%v %s" }));
        console.log("onaylanan_net_tutar: "+ onaylanan_net_tutar);
        console.log("son_tutar: "+ son_tutar);
        console.log("net_toplam: "+ net_toplam);
        let ongorulen_kar_yuzdesi = (100*(ongorulen_kar/ son_tutar)).toFixed(2);
        if (isNaN(ongorulen_kar_yuzdesi)){
            ongorulen_kar_yuzdesi = 0;
        }
        $('#ongorulen_kar_yuzdesi').text(ongorulen_kar_yuzdesi+"%");
        let kar_yuzdesi = (100*(gerceklesen_kar/ son_tutar)).toFixed(2);
        if (isNaN(kar_yuzdesi)){
            kar_yuzdesi = 0;
        }
        $('#kar_yuzdesi').text(kar_yuzdesi+"%");

    }

    $(document).ready(function () {
        {% if budget %}
            let total_msrp = parseInt({{ budget.get_generic_text_attr('total_msrp') }});
            let total_cost = parseInt({{ budget.get_generic_text_attr('total_cost') }});
            let total_price = parseInt({{ budget.get_generic_text_attr('total_price') }});
            let approved_total_price = parseInt({{ budget.get_generic_text_attr('approved_total_price') }});

            calculateSummaryTotals(total_msrp, total_cost, total_price, approved_total_price);
        {% endif %}
    });
</script>