{# Render Budget Side Bar #}

{% set budget=entity %}

<ul id="sidebar_list" class='nav nav-list'></ul>

<script>
    $(function () {
        page_of('{{ budget.name }}',
                '{{ budget.project.client.name }}',
                '',
                '{%- if has_permission('Update_Budget')-%}/budgets/{{ budget.id }}/update/dialog{%- endif -%}'

        )
        menu_of(
            'Dashboard',
            "{%- if request.current_route_path() == request.route_path('view_budget', id=budget.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_budget', id=budget.id) }}',
            get_icon('dashboard'),
            ''
        );
        menu_of(
            'Calendar',
            "{%- if request.current_route_path() == request.route_path('view_budget_calendar', id=budget.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_budget_calendar', id=budget.id) }}',
            get_icon('timelog'),
            ''
        );
        menu_of(
            'Table',
            "{%- if request.current_route_path() == request.route_path('view_budget_table', id=budget.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_budget_table', id=budget.id) }}',
            get_icon('budget'),
            ''
        );
    });
</script>



