{% extends "base.jinja2" %}

{% block pre_header %}
{#    <link rel="stylesheet"#}
{#          href='{{ request.static_url("stalker_pyramid:static/dhtmlx/dhtmlxgantt.css") }}'/>#}
{#    <link rel="stylesheet" href='{{ request.static_url("stalker_pyramid:static/dhtmlx/skins/dhtmlxgantt_terrace.css") }}' type="text/css" media="screen" title="no title" charset="utf-8">#}
{% endblock pre_header %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{#SIDEBAR#}
{% block sidebar %}
    {% set budget=entity %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{#PAGE-CONTENT#}
{% block page_content %}

    <div class="widget-box transparent invoice-box">
        <div class="widget-header widget-header-large">
           {% set budget=entity %}
           {% include 'budget/view/budget_header.jinja2' %}
        </div>
        <div class="widget-body">
            <div class="widget-main">
               {% include 'budget/view/budget_calendar.jinja2' %}
            </div>
        </div>
    </div>


{% endblock page_content %}


