{% set mode='Create' %}
{% set user=entity %}

<div class="row-fluid">

    <div class="span12">
        {% include 'auth/dialog/user_basic_information_form.jinja2' %}
    </div>

</div>



<script type="text/javascript">

    function init_dialog() {

        console.debug('starting to initialize user dialog!!!');

        $('#dialog_template_label').find('span').remove();
        $('#dialog_template_label').append('<span>New User</span>')

        //$('#dialog_template').attr('style', "width:700px; height:800px");

        {# ***************************************************************** #}
        {# Submit Button #}

        $('#dialog_template_submit_button').on('click', function (e) {
            {#            e.stopPropagation();#}
            {#            e.preventDefault();#}

            var user_form = $('#user_form');

            if (user_form.validate()) {

                $.post(
                                user_form.attr('action'),
                                user_form.serialize()
                        ).done(function () {
                            window.location.replace('{{ came_from }}');
                        });

            }
        });


        {# Form #}
        $(document).ready(function () {

            $('#user_form').validate({
                errorElement: 'span',
                errorClass: 'help-inline',
                focusInvalid: true,
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password2: {
                        required: true,
                        minlength: 5,
                        equalTo: "#user_password"
                    },
                    name: {
                        required: true
                    },
                    login: {
                        required: true
                    }
                },

                messages: {
                    email: {
                        required: "Please provide a valid email.",
                        email: "Please provide a valid email."
                    },
                    password: {
                        required: "Please specify a password.",
                        minlength: "Please specify a secure password."
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    $('.alert-error', $('.login-form')).show();
                },

                highlight: function (e) {
                    $(e).closest('.control-group').removeClass('info').addClass('error');
                },

                success: function (e) {
                    $(e).closest('.control-group').removeClass('error').addClass('info');
                    $(e).remove();
                },

                errorPlacement: function (error, element) {
                    if (element.is(':checkbox') || element.is(':radio')) {
                        var controls = element.closest('.controls');
                        if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                        else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                    }
                    else if (element.is('.select2')) {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }
                    else if (element.is('.chosen-select')) {
                        error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                    }
                    else error.insertAfter(element);
                },

                submitHandler: function (form) {
                    form.submit();
                }

            });
        });


        console.debug('finished initializing the user dialog!')
    }

</script>

<script type="text/javascript">

    function destruct_dialog() {

        console.debug('starting to destruct user dialog!!!');

        $('#user_form').unbind();
        $('#user_name').unbind();
        $('#user_login').unbind();
        $('#user_email').unbind();
        $('#user_password').unbind();
        $('#user_password2').unbind();
        $('#dialog_template_submit_button').unbind();

        $('#dialog_template').data('modal', null);

        console.debug('finished to destruct user dialog!!!');

    }

</script>
