{% set user=entity %}
<script class="dialog_loaded"></script>

<div class="row-fluid padding-2">

    <div class="span12">
        {% set mode='Create' %}
        {% include 'auth/dialog/user_basic_information_form.jinja2' %}
    </div>

</div>

<script type="text/javascript">

    function init_dialog() {
        console.debug('starting to initialize user dialog!!!');

        var dialog_template_label = window.jQuery('#dialog_template_label');
        dialog_template_label.find('span').remove();
        dialog_template_label.append('<span>New User</span>');

        //window.jQuery('#dialog_template').attr('style', "width:700px; height:800px");


        // {# ***************************************************************** #}
        // {# Submit Button #}
        var submit_button = window.jQuery('#dialog_template_submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            setTimeout(function(){submit_button.button('loading')}, 0)

            var user_form = window.jQuery('#user_form');
            if (user_form.validate().errorList.length === 0) {
                window.jQuery.post(
                    user_form.attr('action'),
                    user_form.serialize()
                ).done(function () {
                    //window.location.assign('{{ came_from }}');
                    window.location.reload();
                }).fail(function (jqXHR) {
                    bootbox.alert(jqXHR.responseText);
                    setTimeout(function(){submit_button.button('reset')}, 0);
                });
            } else {
                setTimeout(function(){submit_button.button('reset')}, 0);
                bootbox.alert("There are invalid fields!");
            }
        });

        console.debug('finished initializing the user dialog!')
    }
</script>

<script type="text/javascript">

    function destruct_dialog() {
        window.jQuery('#user_form').unbind();
        window.jQuery('#user_name').unbind();
        window.jQuery('#user_login').unbind();
        window.jQuery('#user_email').unbind();
        window.jQuery('#user_password').unbind();
        window.jQuery('#user_password2').unbind();
        window.jQuery('#dialog_template_submit_button').unbind();

        window.jQuery('#dialog_template').data('modal', null);

    }
</script>
