<div class="row-fluid">

    <div class="span5">
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-grey">
                <h4 class="smaller">
                    <i class="icon-info-sign"></i>
                    Basic Information
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {% include 'auth/dialog/user_basic_information_form.jinja2' %}
                    <div class="form-actions">
                        <button id='submit_button' type="button"
                                class="btn btn-info btn-primary">
                            <i class="icon-ok"></i>Ok
                        </button>
                        <button type="button" class="btn">
                            <i class="icon-remove"></i>Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="span7">
        <div class="row-fluid">
            <div class="span4">
                {% set address=request.route_path('get_entity_projects', id=user.id) %}
                {% set list_item_type='Project' %}
                {% include 'components/editable_list.jinja2' %}
                <div class="space-6"></div>
            </div>
            <div class="span4">
                {% set address=request.route_path('get_entity_departments', id=user.id) %}
                {% set list_item_type='Department' %}
                {% include 'components/editable_list.jinja2' %}
                <div class="space-6"></div>
            </div>
            <div class="span4">

                {% set address=request.route_path('get_entity_groups', id=user.id) %}
                {% set list_item_type='Group' %}
                {% include 'components/editable_list.jinja2' %}
                <div class="space-6"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = $('#submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();
    
            submit_button.button('loading');
            var user_form = $('#user_form');
            if (user_form.validate()) {
                $.post(
                    user_form.attr('action'),
                    user_form.serialize()
                ).done (function () {
                    window.location.assign('{{ came_from }}');
                }).fail(function () {
                    submit_button.button('reset');
                });
            }
        });
    });


</script>
