<form id='user_form'
      class='form-horizontal'
      role='form'
      method="post"
        {% if mode == 'Create' %}
      action="{{ request.route_url(mode.lower()+'_user') }}"
        {% elif mode == 'Update' %}
      action="{{ request.route_url(mode.lower()+'_user', id=user.id) }}"
        {% endif %}
        >
    <div class="row-fluid">
        {% if mode == 'Update' %}
            <div class="span3">
                {% include 'components/avatar.jinja2' %}
            </div>
            <div class="span9">
        {% else %}
            <div class="span12">
        {% endif %}

        {# Name #}
        <div class="control-group">
            <label class="span2 control-label"
                   for="user_name">Name</label>

            <div class="span6">
                <input id="user_name"
                       name='name'
                       type="text"
                       class="form-control"
                       placeholder="Name"
                       {% if mode == 'Update' %}
                       value='{{ user.name }}'
                       {% endif %}
                       pattern="^[_A-z0-9\ ]{1,}window.jQuery"
                       required>
            </div>
        </div>
        {# Login #}
        <div class="control-group">
            <label for="user_login"
                   class="span2 control-label">Login</label>

            <div class="span6">
                <input id="user_login"
                       name='login'
                       type="text"
                       class="form-control"
                       placeholder="Login"
                       {% if mode == 'Update' %}
                       value='{{ user.login }}'
                       {% endif %}
                       pattern="^[_A-z0-9]{1,}window.jQuery"
                       required>
            </div>
        </div>
        </div>

        </div>
        <h4 class="header blue bolder smaller">Type</h4>

        <div class="row-fluid">
            {# Email #}
            <div class="control-group">
                <label for="user_type"
                       class="span2 control-label">Type</label>

                <div class="span6">
                      <input id="user_type"
                             name='type_name'
                             placeholder="Type"
                             class='input-block-level'
                             type='text'
                              {% if mode == 'Update' %}
                             value='{{ user.type.name }}'
                              {% endif %}
                             required>

                </div>
            </div>
        </div>
        <h4 class="header blue bolder smaller">Contact</h4>

        <div class="row-fluid">
            {# Email #}
            <div class="control-group">
                <label for="user_email"
                       class="span2 control-label">Email</label>

                <div class="span6">
                      <span class="input-icon input-icon-left">
                          <input id="user_email"
                                 name='email'
                                 type="email"
                                 class="form-control"
                                 placeholder="Email"
                                  {% if mode == 'Update' %}
                                 value='{{ user.email }}'
                                  {% endif %}
                                 required>
                          <i class="icon-envelope icon-flip-horizontal"></i>
                       </span>
                </div>
            </div>
        </div>

        <h4 class="header blue bolder smaller">Password</h4>

        <div class="row-fluid">
            {# Password #}
            <div class="control-group">
                <label for="user_password"
                       class="span2 control-label">Password</label>

                <div class="span6">
                    <input id="user_password"
                           name='password'
                           type="password"
                           class="form-control"
                           placeholder="Password"
                            {% if mode == 'Update' %}
                           value='DONTCHANGE'
                            {% endif %}
                           required>
                </div>
            </div>

            {# Confirm Password #}
            <div class="control-group">
                <label for="user_password2"
                       class="span2 control-label">Confirm Password</label>

                <div class="span6">
                    <input id="user_password2"
                           name='password2'
                           type="password"
                           class="form-control"
                           placeholder="Confirm Password"
                            {% if mode == 'Update' %}
                           value='DONTCHANGE'
                            {% endif %}
                           required>
                </div>
            </div>

        </div>

</form>

{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.validate.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/additional-methods.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.gritter.min.js") }}'></script>#}

{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.ui.touch-punch.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/x-editable/bootstrap-editable.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/x-editable/ace-editable.min.js") }}'></script>#}


<script type="text/javascript">
    {# Form #}
    window.jQuery(document).ready(function () {

        {# ***************************************************************** #}
        {# ROLE #}
        var user_type = window.jQuery('#user_type');
        {% raw %}
            var user_type_option_template = window.dot_template('<option value={{=it.id}}>{{=it.name}}</option>');
        {% endraw %}
        window.jQuery.getJSON('/types/?target_entity_type=User').then(function(available_type){
            // map available types to an array
            var available_type_as_list = [];
            for (var i=0; i < available_type.length; i++){
                available_type_as_list.push(available_type[i].name);
            }

            user_type.autocomplete({
                delay: 0,
                source: available_type_as_list,
                minLength: 0
            });
        });

        var user_form = window.jQuery('#user_form');

        var submit_button = window.jQuery('#dialog_template_submit_button');

        submit_button.on('click', function(e) {
            e.stopPropagation();
            e.preventDefault();

            // disable submit button
            setTimeout(function(){submit_button.button('loading')}, 0);

            if ( user_form.validate().errorList.length === 0 ){
                user_form.submit();
            } else {
                setTimeout(function(){submit_button.button('reset')}, 0);
                bootbox.alert("There are invalid fields!");
            }

        });

        user_form.validate({
            errorElement: 'span',
            errorClass: 'help-inline',
            focusInvalid: true,
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                },
                password2: {
                    required: true,
                    minlength: 5,
                    equalTo: "#user_password"
                },
                name: {
                    required: true
                },
                login: {
                    required: true
                }
            },
            messages: {
                email: {
                    required: "Please provide a valid email.",
                    email: "Please provide a valid email."
                },
                password: {
                    required: "Please specify a password.",
                    minlength: "Please specify a secure password."
                }
            },

            invalidHandler: function (event, validator) { //display error alert on form submit
                window.jQuery('.alert-error', window.jQuery('.login-form')).show();
            },

            highlight: function (e) {
                window.jQuery(e).closest('.control-group').removeClass('info').addClass('error');
            },

            success: function (e) {
                window.jQuery(e).closest('.control-group').removeClass('error').addClass('info');
                window.jQuery(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is(':checkbox') || element.is(':radio')) {
                    var controls = element.closest('.controls');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            }

            // submitHandler: function (form) {
            //     form.validate();
            //     form.submit();
            // }
        });
    });
</script>
