<form id='budget_form'
          class='form-horizontal'
          role='form'
          method="post"
            >
        <div class="row-fluid">
            {# Name #}
            <div class="control-group">
                <label class="span3 control-label"
                       for="budget_name">Adi</label>
                <div class="span9">

                    <input id="budget_name"
                           name='name'
                           type="text"
                           class="form-control"
                           placeholder="Adi"
                           {% if mode=='Update' %}
                            value='{{ budget.name }}'
                           {% endif %}
                           required>
                </div>
            </div>
            {#Type #}
            <div class='control-group'>
                <label class='span3 control-label'
                       for='budget_type'>Tip</label>
                <div class="span5">
                    <select id='budget_type'
                            class='input'
                            name='type_id'
                            required>
                    </select>
                </div>
            </div>
        {% if mode=='Update' %}
            {# Start Date #}
            <div class="control-group">
                <label for="start_date_picker"
                       class="span3 control-label">Tarih</label>
                <div class="span9 input-prepend">
                    <input class="date-picker"
                           id='start_date_picker'
                           name='start_and_end_dates'
                           type="text"
                           data-date-format="dd/mm/yyyy"
                           placeholder="Start & End Dates"
                            >
                    <span class="add-on">
                        <i class="icon-calendar"></i>
                    </span>

                    <span id="duration" class="add-on">
                    </span>
                </div>
            </div>
        {% endif %}
            {#Description #}
            <div class="control-group'">
                <label for="budget_description"
                       class="span3 control-label">Tanim</label>
                <div class="span9">
                    <textarea id="budget_description"
                              name='description'
                              class="autosize-transition"
                              style="overflow: hidden;
                                     word-wrap: break-word;
                                     resize: horizontal;
                                     height: 50px;"
                            >{% if mode=='Update' %}{{ budget.description }}{% endif %}</textarea>
                </div>
            </div>
        </div>
    </form>

<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.validate.min.js") }}'></script>
<script type="text/javascript">

    {# Form #}
    $(document).ready(function () {
        var dialog_label = $('#dialog_template_label');
        dialog_label.find('span').remove();

        dialog_label.append('<span>Teklif</span>');

        var duration = 0;

        {#Type ----------------------------------------------------------------#}
        {% raw %}
            var budget_type_option_template = doT.template(
                '<option value={{=it.id}}>{{=it.name}}</option>'
            );
        {% endraw %}

        $.getJSON('/types/?target_entity_type=Budget').then(function (data) {
            var budget_type = $('#budget_type');

            for (var i = 0; i < data.length; i++) {
                budget_type.append(budget_type_option_template(data[i]));
            }

            budget_type.chosen({
                search_contains: true,
                enable_split_word_search: true,
                allow_single_deselect: true
            });

            {% if mode=='Update' %}
                budget_type.val('{{ budget.type.id }}');
            {% endif %}
            budget_type.trigger('liszt:updated');
        });

        {#Start Date ----------------------------------------------------------#}
        {% if mode == 'Update' %}
            var start_date_picker = $('#start_date_picker').datepicker();

            $('.date-picker').datepicker().next().on(ace.click_event, function(){
                        $(this).prev().focus();
                    });

            start_date_picker.on('shown', function (e) {
                e.stopPropagation();
            });
            start_date_picker.on('hidden', function (e) {
                e.stopPropagation();
            });

            var start_date = moment({{ budget.get_generic_text_attr('start_date') }});
            var end_date = moment({{ budget.get_generic_text_attr('end_date') }});
            duration = end_date.diff(start_date, 'days');

            $('#duration').text(duration+ " Days");
            $('#duration').attr("duration",duration);
            start_date_picker.val(start_date.format('DD/MM/YYYY'));

        {% endif %}
    });


</script>
