<script class="dialog_loaded"></script>

<div class="row-fluid">

    <form id='budget_form'
          class='form-horizontal'
          role='form'
          method="post"
            >

        <div class="row-fluid">
            {# Name #}
            <div class="control-group">
                <label class="span3 control-label"
                       for="budget_name">Name</label>
                <div class="span9">
                    <input id="budget_name"
                           name='name'
                           type="text"
                           class="form-control"
                           placeholder="Name"
                           {% if mode=='Update' %}
                            value='{{ budget.name }}'
                           {% endif %}
                           required>
                </div>
            </div>

            {#Status #}
            <div class='control-group'>
                <label class='span3 control-label'
                       for='budget_status'>Status</label>
                <div class="span9">
                    <select id='budget_status'
                            class='input'
                            name='status_id'
                            required>
                    </select>
                </div>
            </div>

            {#Description #}
            <div class="control-group'">
                <label for="budget_description"
                       class="span3 control-label">Description</label>
                <div class="span9">
                    <textarea id="budget_description"
                              name='description'
                              class="autosize-transition"
                              style="overflow: hidden;
                                         word-wrap: break-word;
                                         resize: horizontal;
                                         height: 50px;"

                            >{% if mode=='Update' %}{{ budget.description }}{% endif %}</textarea>
                </div>
            </div>

        </div>

    </form>
</div>


<script type="text/javascript">

    function init_dialog() {

        console.debug('starting to initialize budget dialog!!!');

        var dialog_label = $('#dialog_template_label');
        dialog_label.find('span').remove();
        dialog_label.append('<span>{{ mode}} Budget</span>');

        {% raw %}
            var budget_status_option_template = doT.template(
                '<option value={{=it.id}}>{{=it.name}}</option>'
            );
        {% endraw %}

        $.getJSON('{{ request.route_path('get_statuses_for', target_entity_type='Budget') }}').then(function (data) {
            var budget_status = $('#budget_status');
            for (var i = 0; i < data.length; i++) {
                budget_status.append(budget_status_option_template(data[i]));
            }

            budget_status.chosen({
                search_contains: true,
                enable_split_word_search: true,
                allow_single_deselect: true
            });

            {% if mode=='Update' %}
                budget_status.val({{ budget.status.id }});
                budget_status.trigger('liszt:updated');
            {% endif %}

        });
        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = $('#dialog_template_submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');
            var budget_form = $('#budget_form');

            var url = '/budgets/create';
            {% if mode=='Update' %}
                url='/budgets/{{ budget.id }}/update';
                {% set project = budget.project %}
            {% endif %}

            $.post(
                url,
                budget_form.serialize() + '&' +
                $.param({
                    'project_id': {{ project.id }}
                })
            ).done(function (jqXHR) {
                //$('#new_outputs_storage').text(JSON.stringify(jqXHR));
                window.location.reload();
            }).fail(function (jqXHR) {
                bootbox.alert(jqXHR.responseText);
                submit_button.button('reset');
            });
        });

        console.debug('finished initializing the budget dialog!')
    }
</script>

<script type="text/javascript">
    function destruct_dialog() {
        $('#budget_name').unbind();
        $('#budget_description').unbind();
        $('#dialog_template_submit_button').unbind();

        $('#dialog_template').data('modal', null);
    }
</script>



