<script class="dialog_loaded"></script>

<div class="row-fluid">
    {% if item.type == "task"%}
        {% include 'budget/dialog/task_form.jinja2' %}
    {% else %}
        {% include 'budget/dialog/item_form.jinja2' %}
    {% endif %}
</div>

{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/bootstrap-datepicker.min.js") }}'></script>#}

<script type="text/javascript">
    function init_dialog() {
        console.debug('starting to initialize calendar_task dialog!!!');
        var event_dialog = window.jQuery('#dialog_template');

        var dialog_label = window.jQuery('#dialog_template_label');
        dialog_label.find('span').remove();
        dialog_label.append('<span>{{mode}} {{ item.type }}</span>');

        {# Start Date ******************************************************* #}
        window.jQuery('.date-picker').datepicker().next().on(ace.click_event, function(){
            window.jQuery(this).prev().focus();
        });

        init_item_form_objects();

        {# ***************************************************************** #}
        console.log(event_dialog.attr('name'));
        if(event_dialog.attr('name')){
           window.jQuery('#name').val(event_dialog.attr('name'));
        }

        if(event_dialog.attr('description')){
           window.jQuery('#description').val(event_dialog.attr('description'));
        }

        window.jQuery('#calendar_start_date').val((new Date({{ item.start_date }})).format("dd/mm/yyyy"));

        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = window.jQuery('#dialog_template_submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');

            var start_date = get_date_picker('calendar_start_date');

            var item_form = window.jQuery('#item_form');
            var params = {
                'id': '{{ item.id }}',
                'start_date': start_date.getTime(),
                'mode': '{{ mode }}',
                'folder_id':'{{ item.folder_id }}',
                'index':'{{ item.index }}',
                'dialog_action': 'dialog_action'
            };

            var url = '/budgets/{{ budget.id }}/calendar/{{ item.type }}/action';
            window.jQuery.post(
                url,
                item_form.serialize()+"&"+
                window.jQuery.param(params)
            ).done(function (jqXHR) {

                window.jQuery('#dialog_template').modal('hide');
                submit_button.button('reset');
                window.location.reload();
            }).fail(function (jqXHR) {
                bootbox.alert(jqXHR.responseText);
                submit_button.button('reset');
            });
        });

        {# ***************************************************************** #}
        {# Delete Button #}
        {% if mode=='Update' %}
            var delete_btn = window.jQuery('#dialog_template_delete_button');
            delete_btn.show();
            delete_btn.on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();

                // disable the submit_button
                var delete_button = window.jQuery(this);
                delete_button.button('loading');

                deleteItem('{{item.id }}');
{#                var confirm_message =#}
{#                    '<h3 class="header red"><i class="icon-warning-sign">' +#}
{#                    '</i> Warning</h3>' +#}
{#                    '<div id="message" class="alert alert-info bigger-110">' +#}
{#                    'Are you sure you want to  delete this item?' +#}
{#                    '</div>';#}
{##}
{#                bootbox.confirm(confirm_message, function (result) {#}
{#                    if (result) {#}
{#                        window.jQuery.post(#}
{#                                '/budgets/{{ budget.id }}/calendar/{{ item.type }}/delete?id={{item.id }}'#}
{#                        ).done(function (jqXHR) {#}
{#                            deleteTaskFromGantt('{{ item.id }}');#}
{#                            window.jQuery('#dialog_template').modal('hide');#}
{#                        }).fail(function (jqXHR) {#}
{#                            bootbox.alert(jqXHR.responseText);#}
{#                        });#}
{#                    } else {#}
{#                        delete_button.button('reset');#}
{#                    }#}
{#                });#}
            });
        {% endif %}
        console.debug('finished initializing the calendar_task dialog!')
    }
</script>





