<script class="dialog_loaded"></script>

<div class="row-fluid">

    <form id='budgetentry_form'
          class='form-horizontal'
          role='form'
          method="post">

        <div class="row-fluid">
            {# Good #}
            <div class='control-group'>
                <label class='span3 control-label'
                       for='budgetentry_good'>Good</label>
                <div class="span5">
                     <select id='budgetentry_good'
                            name='id'
                            data-placeholder='Client'
                            required>
                    </select>
                </div>
            </div>

            {#Amount #}
            <div class='control-group'>
                <label class='span3 control-label'
                       for='budgetentry_amount'>Amount</label>
                <div class="span5">
                    <input id='budgetentry_amount'
                           class='input-block-level'
                           name='amount'
                           type='text'
                           placeholder="Amount"
                           is_updating=false
                           >
                </div>
            </div>
            {#Price #}
            <div class="control-group">
                <label class="span3 control-label"
                       for="budgetentry_price">Price</label>
                <div class="span9">
                    <input id="budgetentry_price"
                           name='price'
                           type="text"
                           class="form-control"
                           placeholder="Price"
                           required>
                </div>
            </div>
            {#Description #}
            <div class="control-group'">
                <label for="budgetentry_description"
                       class="span3 control-label">Description</label>
                <div class="span9">
                    <textarea id="budgetentry_description"
                              name='description'
                              class="autosize-transition"
                              style="overflow: hidden;
                                         word-wrap: break-word;
                                         resize: horizontal;
                                         height: 50px;"

                            ></textarea>
                </div>
            </div>

        </div>

    </form>
</div>


<script type="text/javascript">

    function init_dialog() {

        console.debug('starting to initialize budgetentry dialog!!!');

        var dialog_label = $('#dialog_template_label');
        dialog_label.find('span').remove();
        dialog_label.append('<span>{{ mode}} BudgetEntry</span>');

        {% raw %}
            var good_option_template = doT.template(
                    '<option value={{=it.id}}>{{=it.name}}</option>'
            );
        {% endraw %}
        var budgetentry_good = $('#budgetentry_good');
        var deferred = chosen_searchable_field_creator(budgetentry_good,'/goods/', good_option_template);

        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = $('#dialog_template_submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');
            var budgetentry_form = $('#budgetentry_form');

            var url = '/budgetentries/create';


            $.post(
                url,
                budgetentry_form.serialize() + '&' +
                $.param({
                    'budget_id': {{ budget.id }}
                })
            ).done(function (jqXHR) {
                //$('#new_outputs_storage').text(JSON.stringify(jqXHR));
                window.location.reload();
            }).fail(function (jqXHR) {
                bootbox.alert(jqXHR.responseText);
                submit_button.button('reset');
            });
        });

        console.debug('finished initializing the budgetentry dialog!')
    }
</script>

<script type="text/javascript">
    function destruct_dialog() {
        $('#budgetentry_name').unbind();
        $('#budgetentry_description').unbind();
        $('#dialog_template_submit_button').unbind();

        $('#dialog_template').data('modal', null);
    }
</script>



