<script class="dialog_loaded"></script>

<div class="row-fluid">

    <form id='budget_form'
          class='form-horizontal'
          role='form'
          method="post"
            >

        <div class="row-fluid">
            {# Name #}
            <div class="control-group">
                <label class="span3 control-label"
                       for="budget_name">Name</label>
                <div class="span9">

                    <input id="budget_name"
                           name='name'
                           type="text"
                           class="form-control"
                           placeholder="Name"
                           {% if mode=='Update' %}
                            value='{{ budget.name }}'
                           {% endif %}
                           required>
                </div>
            </div>

            {#Type #}
{#            {% if mode=='Update' %}#}
            <div class='control-group'>
                <label class='span3 control-label'
                       for='budget_type'>Type</label>
                <div class="span5">
                    <select id='budget_type'
                            class='input'
                            name='type_name'
                            required>
                    </select>
                </div>
            </div>
{#            {% endif %}#}
        {% if mode=='Update' %}
            {# Start & End Dates #}
            <div class="control-group">
                <label for="start_end_date_range_picker"
                       class="span3 control-label">Date</label>

                <div class="span9 input-prepend">
                    <input id='start_end_date_range_picker'
                           name='start_and_end_dates'
                           type="text"
                           data-date-format="yyyy-mm-dd"
                           placeholder="Start & End Dates">
                        <span class="add-on">
                            <i class="icon-calendar"></i>
                        </span>
                </div>
            </div>
        {% endif %}
            {#Description #}
            <div class="control-group'">
                <label for="budget_description"
                       class="span3 control-label">Description</label>
                <div class="span9">
                    <textarea id="budget_description"
                              name='description'
                              class="autosize-transition"
                              style="overflow: hidden;
                                     word-wrap: break-word;
                                     resize: horizontal;
                                     height: 50px;"

                            >{% if mode=='Update' %}{{ budget.description }}{% endif %}</textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/bootstrap-datepicker.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/daterangepicker.min.js") }}'></script>
<script type="text/javascript">

    function init_dialog() {

        console.debug('starting to initialize budget dialog!!!');

        var dialog_label = $('#dialog_template_label');
        dialog_label.find('span').remove();
        dialog_label.append('<span>{{ mode}} Budget</span>');

        {% raw %}
            var budget_type_option_template = doT.template(
                '<option value={{=it.name}}>{{=it.name}}</option>'
            );
        {% endraw %}

        $.getJSON('/types/?target_entity_type=Budget').then(function (data) {
            var budget_type = $('#budget_type');

            for (var i = 0; i < data.length; i++) {
                budget_type.append(budget_type_option_template(data[i]));
            }

            budget_type.chosen({
                search_contains: true,
                enable_split_word_search: true,
                allow_single_deselect: true
            });
            {% if mode=='Update' %}
                budget_type.val({{ budget.type.name }});
            {% endif %}
            budget_type.trigger('liszt:updated');
        });

        var start_end_date_range_picker = $('#start_end_date_range_picker').daterangepicker();
        start_end_date_range_picker.next().on('click', function () {
            $(this).prev().focus();
        });

        // fix z-index of the container
{#            start_end_date_range_picker.data().daterangepicker.container.css({'z-index': 1060});#}
        start_end_date_range_picker.on('shown', function (e) {
            e.stopPropagation();
        });
        start_end_date_range_picker.on('hidden', function (e) {
            e.stopPropagation();
        });

        // fill data if mode is update
        {% if mode == 'Update' %}

            var start_date = new Date({{ budget.get_generic_text_attr('start') }});
            var end_date = new Date({{ budget.get_generic_text_attr('end') }});
            start_end_date_range_picker.val(
                    start_date.format('mm/dd/yyyy') + ' - ' + end_date.format('mm/dd/yyyy')
            );
            start_end_date_range_picker.data().daterangepicker.updateFromControl();

        {% endif %}

        {# ***************************************************************** #}
        {# Submit Button #}
        var submit_button = $('#dialog_template_submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');
            var budget_form = $('#budget_form');

            var url = '/budgets/create';
            {% if mode=='Update' %}
                url='/budgets/{{ budget.id }}/update';
                {% set project = budget.project %}
            {% endif %}

            $.post(
                url,
                budget_form.serialize() + '&' +
                $.param({
                    'project_id': {{ project.id }}
                })
            ).done(function (jqXHR) {
                //$('#new_outputs_storage').text(JSON.stringify(jqXHR));
                window.location.reload();
            }).fail(function (jqXHR) {
                bootbox.alert(jqXHR.responseText);
                submit_button.button('reset');
            });
        });

        console.debug('finished initializing the budget dialog!')
    }
</script>

<script type="text/javascript">
    function destruct_dialog() {
        $('#budget_name').unbind();
        $('#budget_description').unbind();
        $('#dialog_template_submit_button').unbind();

        $('#dialog_template').data('modal', null);
    }
</script>



