<script class="dialog_loaded"></script>

<div class='row-fluid'>

    <form id='dup_budget_form'
          class='form-horizontal'
          role='form'
          method='post'
          action='/budgets/{{ budget.id }}/duplicate'>

        <div class='row-fluid'>
            <div class='control-group'>
                <label class='span3 control-label' for='budget_name'>Duplicated Budget Name</label>
                <div class='span9'>
                        <input type='text'
                               id='budget_name'
                               class='input-block-level'
                               name='name'
                               value='{{ budget.name }}' required>
                </div>
            </div>
            <div class='control-group'>
                <label class='span3 control-label' for='budget_description'>Duplicated Budget Description</label>
                <div class='span9'>
                        <textarea id='budget_description'
                                  name='description'
                                  class='autosize-transition span12'
                                  style='overflow: hidden; word-wrap: break-word;resize: horizontal;height: 150px;'></textarea>
                </div>
            </div>

        </div>

    </form>


</div>

{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/chosen.window.jQuery.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.autosize-min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.inputlimiter.1.3.1.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.validate.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/window.jQuery.easy-pie-chart.min.js") }}'></script>#}


<script>
function init_dialog() {
    console.debug('starting to initialize time_log dialog!!!');

    var dialog_template_label = window.jQuery('#dialog_template_label');
    dialog_template_label.find('span').remove();
    dialog_template_label.append('<span>Duplicate Budget</span>');

    window.jQuery('#dialog_template_body').attr('style', "height: 350px");
    var timeout_buffer;
    var submit_button = window.jQuery('#dialog_template_submit_button');


    {# ***************************************************************** #}
    {# Submit Button #}
    submit_button.on('click', function (e) {
        e.stopPropagation();
        e.preventDefault();


        submit_button.button('loading');

        var dup_budget_form = window.jQuery('#dup_budget_form');

        var form_data_as_array = dup_budget_form.serializeArray();
        var form_data = {};



        form_data['description'] = window.jQuery('#dup_budget_description').val();
        form_data['name'] = window.jQuery('#dup_budget_name').val();

        if (dup_budget_form.validate()) {
            // merge end_date and end_time

            window.jQuery.post(
                dup_budget_form.attr('action'),
                dup_budget_form.serialize()
            ).done(function () {
                window.location.reload();
                // close the dialog
                submit_button.button('reset');
                window.jQuery('#dialog_template').modal('hide');
            }).fail(function (jqXHR) {
                bootbox.alert('<div id="message" class="alert alert-danger bigger-110">'+jqXHR.responseText+'</div>');
                submit_button.button('reset');
            });
        }
    });

    window.jQuery('#dup_budget_form').validate({
        errorElement: 'span',
        errorClass: 'help-inline',
        focusInvalid: true,
        rules: {
            resource_id: {
                required: true
            },
            budget_id: {
                required: true
            },
            comment: {
                required: true
            }
        },

        messages: {
        },

        invalidHandler: function (event, validator) { //display error alert on form submit
            window.jQuery('.alert-error', window.jQuery('.login-form')).show();
        },

        highlight: function (e) {
            window.jQuery(e).closest('.control-group').removeClass('info').addClass('error');
        },

        success: function (e) {
            window.jQuery(e).closest('.control-group').removeClass('error').addClass('info');
            window.jQuery(e).remove();
        },

        errorPlacement: function (error, element) {
            if (element.is(':checkbox') || element.is(':radio')) {
                var controls = element.closest('.controls');
                if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if (element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if (element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element);
        },

        submitHandler: function (form) {
            form.submit();
        }

    });

    console.debug('finished initializing the dup_budget dialog!')
}
</script>

<script type="text/javascript">
    function destruct_dialog() {

        window.jQuery('#dup_budget_description').unbind();
        window.jQuery('#dup_budget_name').unbind();
        window.jQuery('#dialog_template_submit_button').unbind();

        window.jQuery('#dialog_template').data('modal', null);

    }
</script>
