{% extends "base.jinja2" %}

{% block pre_header %}
    {% include 'task/list/list_tasks_preheader.jinja2' %}
{% endblock pre_header %}

{% block breadcrumbs %}
    {% set page_title='Tasks' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{% block page_content %}
    {% set page_title='You are responsible from these tasks ' %}
    {% include 'page_header.jinja2' %}

    {% set address=request.route_path('get_entity_tasks_by_filter', id=-1, f_id=entity.id) %}
    {% set list_item_type='Task' %}
    {% include 'components/data_table.jinja2' %}


{% endblock page_content %}

{# EXTRA-SCRIPTS #}
{% block extrascripts %}

    {% raw %}
    <script id="tmpl_itemThead" type="text/x-dot-template">
        <tr>
            <th>Resource</th>
            <th>Name</th>
            <th>Responsible</th>
            <th>Type</th>
            <th>Completed</th>
            <th>Status</th>
        </tr>
    </script>
    {% endraw %}


    {% raw %}
    <script id="tmpl_itemRow" type="text/x-dot-template">
        <tr>
            <td>
                <a href='/users/{{=it.resource_id}}/view'>{{=it.resource_name}}</a>
            <td><a href='/tasks/{{=it.id}}/view'>{{=it.name}}</a>
            <td><a href='/users/{{=it.responsible_id}}/view'>{{=it.responsible_name}}</a>
            <td>{{=it.type}}</td>
            <td data-sType="num-html">
                <div class="progress progress-success">
                    <div style="width:{{=it.percent_complete}}%"
                         class="bar">
                        <span class="pull-left">{{= it.percent_complete.toFixed(0) }}%</span>
                    </div>
                </div>
            </td>
            <td>
                <span class="label label-{{=it.status_color}}">{{=it.status}}</span>
            </td>

        </tr>
    </script>
    {% endraw %}

{% endblock extrascripts %}
