{#<link rel='stylesheet' type='text/css' media='all' charset='utf-8'#}
{#      href='{{ request.static_url("stalker_pyramid:static/stalker/css/stalker.css") }}'/>#}

{# DOJO COMPRESSED #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/dojo/resources/dojo.css") }}'/>
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/dijit/themes/claro/claro.css") }}'/>
{#<link rel='stylesheet' type='text/css' media='all' charset='utf-8'#}
{#      href='{{ request.static_url("stalker_pyramid:static/dojox/form/resources/UploaderFileList.css") }}'/>#}
{#<link rel='stylesheet'#}
{#      href='{{ request.static_url("stalker_pyramid:static/dojox/form/resources/FileInput.css") }}'/>#}

{# DGRID GANTT #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/stalker/css/GanttGrid.css") }}'/>

{# DGRID #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/skins/claro.css") }}'/>
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/columnset.css") }}'/>
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/dgrid.css") }}'/>
{#<link rel='stylesheet' type='text/css' media='all' charset='utf-8'#}
{#  href='{{ request.static_url("stalker_pyramid:static/dgrid/css/has-transforms3d.css") }}'/>#}

{# DOJO MODIFIED CSS #}
<link rel='stylesheet' type='text/css' media='all' charset='utf-8'
      href='{{ request.static_url("stalker_pyramid:static/stalker/css/dojo_modified.css") }}'/>

{# DOJO JAVA SCRIPTS #}
{#<script type='text/javascript'#}
{#        data-dojo-config="async: true, parseOnLoad: true"#}
{#        src='{{ request.static_url("stalker_pyramid:static/dojo/dojo.js") }}'>#}
{#</script>#}
