{% set mode='Create' %}
{% set department=entity %}
<div class="row-fluid">
    <div class="span12">
        <form id='department_form'
              class='form-horizontal'
              role='form'
              method="post"
                {% if mode.title() == 'Create' %}
              action="{{ request.route_url(mode.title().lower()+'_department') }}?came_from={{ request.current_route_path() }}"
                {% elif mode.title() == 'Update' %}
              action="{{ request.route_url(mode.title().lower()+'_department', id=department.id) }}?came_from={{ request.current_route_path() }}"
                {% endif %}
                >

            {# Thumbnail #}
            <div class="row-fluid">
                <div class="span3">
                    <div class="profile-picture"
                         style="text-align: center; overflow: hidden; width: 150px">
                        <img id="avatar"
                             class="editable"
                             alt="Avatar"
                             style="height: 150px; width: auto; max-width: none;
                      position: relative; left: 100%; margin-left: -200%"
                             src="{%- if department.thumbnail -%}
                            /{{ department.thumbnail.full_path }}
                        {%- else -%}
                            {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}
                        {%- endif -%}"/>
                    </div>
                </div>
                {#            <div class="control-group">#}
                {#                <label class="span2 control-label"#}
                {#                       for="department_thumbnail">Thumbnail</label>#}
                {##}
                {#                <div class="span3">#}
                {#                    <input id="department_thumbnail"#}
                {#                           name='thumbnail'#}
                {#                           type="file"#}
                {#                           class="form-control"#}
                {#                            >#}
                {#                </div>#}
                {#            </div>#}
                <div class="span6">
                    {# Name #}
                    <div class="control-group">
                        <label class="span2 control-label"
                               for="department_name">Name</label>

                        <div class="span6">
                            <input id="department_name"
                                   name='name'
                                   type="text"
                                   class="form-control"
                                   placeholder="Name"
                                    {% if mode.title() == 'Update' %}
                                   value='{{ department.name }}'
                                    {% endif %}
                                   required>
                        </div>
                    </div>
                    {# Lead #}
                    <div class="control-group">
                        <label for="department_lead"
                               class="span2 control-label">Lead</label>

                        <div class="span6">
                            <select id="department_lead"
                                    name='lead'
                                    type="lead"
                                    class="form-control"
                                    placeholder="Lead"
                                    {% if mode.title() == 'Update' %}
                                    value='{{ department.lead }}'
                                    {% endif %}
                                    >
                            </select>

                        </div>
                    </div>
                </div>
            </div>

            {# TAGS #}
            <div class="control-group">
                <label class="control-label" for="form-field-tags">Tag
                    input</label>

                <div class="controls">
                    <input type="text"
                           name="tags"
                           id="form-field-tags"
                           placeholder="Enter tags ..."/>
                </div>
            </div>

            {# Description #}
            <div class="control-group">
                <label for="department_description"
                       class="span2 control-label">Description</label>

                <div class="span10">
                    <div class="wysiwyg-editor"
                         id="department_description"
                         name="description"></div>


                </div>
            </div>


            {#            <input type='hidden' name='came_from'#}
            {#                   value='{{ came_from }}'>#}

            {#    Form Buttons #}
            {#            <div class="form-actions">#}
            {#                <button type="submit"#}
            {#                        class="btn btn-info btn-primary">#}
            {#                    <i class="icon-ok"></i>Ok#}
            {#                </button>#}
            {#                <button type="button" class="btn">#}
            {#                    <i class="icon-remove"></i>Cancel#}
            {#                </button>#}
            {#            </div>#}
        </form>


    </div>
</div>

<script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootstrap-wysiwyg.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootstrap-tag.min.js") }}'></script>
<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.validate.min.js") }}'></script>

{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery-ui-1.10.3.custom.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.ui.touch-punch.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/markdown/markdown.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/markdown/bootstrap-markdown.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.hotkeys.min.js") }}'></script>#}
{##}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootbox.min.js") }}'></script>#}
{##}
{##}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/chosen.jquery.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/moment.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/date-time/daterangepicker.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/bootstrap-colorpicker.min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.autosize-min.js") }}'></script>#}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.inputlimiter.1.3.1.min.js") }}'></script>#}
{##}
{#<script src='{{ request.static_url("stalker_pyramid:static/ace/js/additional-methods.min.js") }}'></script>#}


<script type="text/javascript">

    function init_dialog() {

        console.debug('starting to initialize department dialog!!!');

        $('#dialog_template_label').find('span').remove();
        $('#dialog_template_label').append('<span>New Department</span>')


        $('#department_description').ace_wysiwyg({
            toolbar: [
                'font',
                null,
                'fontSize',
                null,
                {name: 'bold', className: 'btn-info'},
                {name: 'italic', className: 'btn-info'},
                {name: 'strikethrough', className: 'btn-info'},
                {name: 'underline', className: 'btn-info'},
                null,
                {name: 'insertunorderedlist', className: 'btn-success'},
                {name: 'insertorderedlist', className: 'btn-success'},
                {name: 'outdent', className: 'btn-purple'},
                {name: 'indent', className: 'btn-purple'},
                null,
                {name: 'justifyleft', className: 'btn-primary'},
                {name: 'justifycenter', className: 'btn-primary'},
                {name: 'justifyright', className: 'btn-primary'},
                {name: 'justifyfull', className: 'btn-inverse'},
                null,
                {name: 'createLink', className: 'btn-pink'},
                {name: 'unlink', className: 'btn-pink'},
                null,
                {name: 'insertImage', className: 'btn-success'},
                null,
                'foreColor',
                null,
                {name: 'undo', className: 'btn-grey'},
                {name: 'redo', className: 'btn-grey'}
            ],
            'wysiwyg': {
                fileUploadError: showErrorAlert
            }
        }).prev().addClass('wysiwyg-style3');


        {# Chosen Field Updater #}
        var chosen_field_creator = function (field, url, data_template) {
            // fill image format with new json data
            return $.getJSON(url).then(function (data) {
                // remove current data
                field.empty();

                // append new options to the select
                for (var i = 0; i < data.length; i++) {
                    field.append(data_template(data[i]));
                }

                // convert it to chosen
                field.chosen();
            });
        };

        function showErrorAlert(reason, detail) {
            var msg = '';
            if (reason === 'unsupported-file-type') {
                msg = "Unsupported format " + detail;
            }
            else {
                console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
        }

        {# ***************************************************************** #}
        {# User #}
        $(document).ready(function () {
            {% raw %}
            var user_option_template = doT.template(
                    '<option value={{=it.id}}>{{=it.name}}</option>'
            );
            {% endraw %}

            var user = $('#department_lead');
            var deferred = chosen_field_creator(user, '/users/', user_option_template);

        });

        {# ***************************************************************** #}
        {# Submit Button #}

        var submit_button = $('#dialog_template_submit_button');
        submit_button.on('click', function (e) {
            e.stopPropagation();
            e.preventDefault();

            submit_button.button('loading');
            var department_form = $('#department_form');

            if (department_form.validate()) {
                $.post(
                    department_form.attr('action'),
                    department_form.serialize()
                ).done(function () {
                    window.location.assign('{{ came_from }}');
                }).fail(function () {
                    submit_button.button('reset');
                });
            }
        });


        console.debug('finished initializing the department dialog!')
    }
</script>

<script type="text/javascript">

    function destruct_dialog() {

        $('#department_name').unbind();
        $('#department_lead').unbind();
        $('#form-field-tags').unbind();
        $('#department_description').unbind();
        $('#dialog_template_submit_button').unbind();

        $('#dialog_template').data('modal', null);

    }
</script>



