<div class="widget-box transparent">
    <div class="widget-header widget-header-small header-color-grey">
        <h4 class="smaller grey"><i class="icon-cogs green"></i> Progress   </h4>
        <div class="widget-toolbar"></div>
    </div>
    <div class="widget-body" style="background-color: rgba(255,255,255,.4)">
        <div class="widget-main">
            <div id='entity_children' class="profile-skills"></div>
        </div>
    </div>
</div>

{% raw %}
<script id="tmpl_child" type="text/x-dot-template">
    <div class="row-fluid" >
       <a class="blue" href='/tasks/{{=it.id}}/view'>
           <div class="progress progress-{{=it.status}}" style="background-color: rgba(50, 50, 50, .4)">
            <div class="bar"
                 style="width:{{=it.bar_width}}%;">
                <span class="pull-left">{{=it.name}}</span>
                <span class="pull-right">{{=it.completed.toFixed(1)}}%</span>
            </div>
        </div>
       </a>
    </div>
</script>
{% endraw %}


<script class="code" type="text/javascript">
    $.getJSON('/tasks/?parent_id={{ entity.id }}').then(function (data) {
        $(function () {
            var entity_children = $('#entity_children');
            var child_template = doT.template($('#tmpl_child').html());

            for (var i = 0; i < data.length; i++) {
                if (!data[i].completed) {
                    data[i].bar_width = 100;
                    data[i].completed = 0;
                } else {
                    data[i].bar_width =  data[i].completed;
                }
                entity_children.append(child_template(data[i]));
            }
        });
    });
</script>
