{% extends "base.jinja2" %}

{% block breadcrumbs %}
    {% set page_title='Departments' %}
    {% include 'breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}


{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{% block page_content %}

    {% set departments=entity.departments %}
    {% set page_title='Departments' %}
    {% include 'page_header.jinja2' %}

    <div class="row-fluid">
        <ul class="thumbnails">
            {% for department in departments %}
                <li class="span2">
                    {% include 'department/list_item_department.jinja2' %}
                </li>
            {% endfor %}

        </ul>
    </div>


{% endblock page_content %}
