<div class="col-lg-2">
    <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="300x200"
             style='width:auto; height: auto; overflow: hidden;'
             class="thumbnail" src="{%- if department.thumbnail -%}
                    /{{ department.thumbnail.full_path }}
                {%- else -%}
                    {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_Team.jpg") }}
                {%- endif -%}">

        <div class="caption">
            <h3>{{ department.name }}</h3>

            <p>
            <table>
                {% if department.lead %}
                    <tr>
                        <td style='text-align: right'>
                            <b>Lead</b></td>
                        <td>&nbsp;</td>
                        <td>
                            {% if has_permission('Read_User') %}
                                <a href="{{ request.route_url('view_user', id=department.lead.id) }}">
                                    {{ department.lead.name }}
                                </a>
                            {% else %}
                                {{ department.lead.name }}
                            {% endif %}
                            ({{ department.lead.login }})
                        </td>
                    </tr>
                {% endif %}
                {% if department.description %}
                    <tr>
                        <td style='text-align: right'>
                            <strong>Description</strong>
                        </td>
                        <td>&nbsp;</td>
                        <td>{{ department.description }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td style='text-align: right'><strong>Created
                        By</strong>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        {% if has_permission('Read_User') %}
                            <a href="{{ request.route_url('view_user', id=department.created_by.id) }}">
                                {{ department.created_by.name }}
                            </a>
                        {% else %}
                            {{ department.created_by.name }}
                        {% endif %}
                    </td>
                </tr>
            </table>


            </p>
            <p>
                <a href="{{ request.route_url('view_department', id=department.id) }}"
                   class="btn btn-primary">View</a> <a href="#"
                                                       class="btn btn-default">Update</a>
            </p>
        </div>
    </div>
</div>