{% extends "base.jinja2" %}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{% block main_content %}

    {% set departments=entity.departments %}
    <div class="page-header">
        <h3>{{ entity.name }}
            <small>DEPARTMENTS</small>
        </h3>
    </div>

    <div class='col-lg-12'>
        <div class="row">
            {% for department in departments %}
                {% include 'department/list_item_department.jinja2' %}
            {% endfor %}
        </div>
    </div>

{% endblock main_content %}
