<div class="widget-box">
        <div class="widget-header widget-header-small header-color-shot">
            <h5 class="smaller"></h5>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">


            </div>
        </div>
    </div>