<ul id="breadcrumb_task" class="breadcrumb">

    <li>
        <a href="{{ request.route_url('view_project', id=task.project.id) }}">{{ task.project.name }}</a>
        <span class="divider">
          <i class="icon-angle-right arrow-icon"></i>
        </span>
    </li>

    {% for parent in task.parents %}
        <li>
            <a href="{{ request.route_url('view_task', id=parent.id) }}">{{ parent.name }}</a>
            <span class="divider">
                <i class="icon-angle-right arrow-icon"></i>
            </span>
        </li>
    {% endfor %}
    <li>
        <div class="btn-group">
            <button tabindex="-1"
                    data-toggle="dropdown"
                    class="btn btn-mini btn-danger dropdown-toggle">{{ task.name }}&nbsp;
                <i class="icon-angle-down icon-on-right"></i>
            </button>

            <ul class="dropdown-menu dropdown-danger">
                {% for sibling_task in task.parent.children|sort(attribute='name') %}
                    <li><a href="{{ request.route_url('view_task', id=sibling_task.id) }}">{{ sibling_task.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </li>
</ul>
<!--.breadcrumb-->
