{% extends "base.jinja2" %}

{% block sidebar %}
    {% include 'studio/studio_sidebar.jinja2' %}
{% endblock sidebar %}

{% block page_content %}
  {% set page_title='Dashboard' %}
  {% include 'page_header.jinja2' %}
{% endblock page_content %}
