{% extends "base.jinja2" %}


{% block pre_header %}
   {% include 'task/list_tasks_preheader.jinja2' %}
{% endblock pre_header %}

{% block post_header %}
    <style>
        /* Fix expando triangle after bootstrap */
        .dgrid-expando-icon {
            position: inherit;
        }
    </style>
{% endblock post_header %}

{% block breadcrumbs %}
    {% set page_title='Tasks' %}
    {% include 'breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{% block page_content %}
    {% set page_title='Tasks' %}
    {% include 'page_header.jinja2' %}
    <!--/.page-header-->
   {% include 'task/list_tasks.jinja2' %}
{% endblock page_content %}
