{% extends "base.jinja2" %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# BREADCRUMBS #}
{% block breadcrumbs %}
    {% set page_title='Projects' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{# PAGE-CONTENT #}
{% block page_content %}
{#    {% set page_title='Projects' %}#}
{#    {% include 'page_header.jinja2' %}#}

<div class="row-fluid">
    {% set inline_update_url='/projects/%s/update/inline' % entity.id%}
    {% include 'components/description.jinja2' %}
</div>
<div class="row-fluid">

    {% set note_type="Simple Text" %}
    {% include 'note/dialog/add_note_dialog.jinja2' %}

</div>

{% endblock page_content %}


