<div class="span2 widget-container-span">
    <div class='widget-box'>
    
        <div class='widget-header header-color-green2'>
            {{ asset.name }}
        </div>

        <div class='widget-body'>
            <div class="ace-thumbnails">
                <img data-src="holder.js/300x200" alt="300x200"
                     style='width:auto; height: auto; overflow: hidden;'
                     class="thumbnail" src="{%- if asset.thumbnail -%}
                            /{{ asset.thumbnail.full_path }}
                        {%- else -%}
                            {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}
                        {%- endif -%}">
            
                <div class="caption">
                    <h3>{{ asset.name }}</h3>
                </div>
            </div>
        </div>

        <div class='widget-toolbox padding-2 clearfix'>
            <a href="#" class="btn btn-mini btn-default pull-right">Update</a>
            <a href="{{ request.route_url('view_asset', id=asset.id) }}" class="btn btn-mini btn-primary pull-right">View</a>
        </div>
    
    </div>
</div>
