{% extends "base.jinja2" %}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{% block page_content %}

    {% set assets=entity.assets %}
    <div class='column-fluid'>
    
        {% for asset in assets %}
            
            {% if (loop.index0 % 6) == 0 %}
                <div class="row-fluid">
            {% endif %}
            
            {% include 'asset/list_item_asset.jinja2' %}


            {% if (loop.index0 % 6) == 5 %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock page_content %}
