<div class='dataTables_wrapper'>
    <div>
        <!-- Table -->
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th>Action Name</th>
                <th>Create</th>
                <th>Read</th>
                <th>Update</th>
                <th>Delete</th>
                <th>List</th>
            </tr>
            </thead>
            <tbody>
            {% for entity_type in entity_types %}
                <tr>
                    <td>{{ entity_type.name }}</td>
                    <td>
                        <label>
                            <input name="form-field-checkbox" type="checkbox"
                                   class="ace">
                            <span class="lbl"></span>
                        </label>
                        {% for permission in group.permissions %}
                            {% if permission.action == 'Create' and  permission.class_name == entity_type.name %}
                                <i class="icon-unlock green"></i>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <label>
                            <input name="form-field-checkbox" type="checkbox"
                                   class="ace">
                            <span class="lbl"></span>
                        </label>
                        {% for permission in group.permissions %}
                            {% if permission.action == 'Read' and  permission.class_name == entity_type.name %}
                                <i class="icon-unlock green"></i>
                            {% endif %}
                        {% endfor %}

                    </td>
                    <td>
                        <label>
                            <input name="form-field-checkbox" type="checkbox"
                                   class="ace">
                            <span class="lbl"></span>
                        </label>
                        {% for permission in group.permissions %}
                            {% if permission.action == 'Update' and  permission.class_name == entity_type.name %}
                                <i class="icon-unlock green"></i>
                            {% endif %}
                        {% endfor %}

                    </td>
                    <td>

                        <label>
                            <input name="form-field-checkbox" type="checkbox"
                                   class="ace">
                            <span class="lbl"></span>
                        </label>
                        {% for permission in group.permissions %}
                            {% if permission.action == 'Delete' and  permission.class_name == entity_type.name %}
                                <i class="icon-unlock green"></i>
                            {% endif %}
                        {% endfor %}

                    </td>
                    <td>
                    <label>
                            <input name="form-field-checkbox" type="checkbox"
                                   class="ace">
                            <span class="lbl"></span>
                        </label>
                        {% for permission in group.permissions %}
                            {% if permission.action == 'List' and  permission.class_name == entity_type.name %}
                                <i class="icon-unlock green"></i>
                            {% endif %}
                        {% endfor %}

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>