<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">New Group</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    {{ mode.title().lower() }}
                    <form id='user_form'
                          class='form-horizontal'
                          role='form'
                          method="post"
                            {% if mode.title() == 'Create' %}
                          action="{{ request.route_url(mode.title().lower()+'_group') }}"
                            {% elif mode.title() == 'Update' %}
                          action="{{ request.route_url(mode.title().lower()+'_group', id=group.id) }}"
                            {% endif %}
                            >


                        {# Thumbnail #}
                        <div class="control-group">
                            <label class="span2 control-label"
                                   for="group_thumbnail">Thumbnail</label>

                            <div class="span3">
                                <input id="group_thumbnail"
                                       name='thumbnail'
                                       type="file"
                                       class="form-control"
                                        >
                            </div>
                        </div>

                        {# Name #}
                        <div class="control-group">
                            <label class="span2 control-label"
                                   for="group_name">Name</label>

                            <div class="span6">
                                <input id="group_name"
                                       name='name'
                                       type="text"
                                       class="form-control"
                                       placeholder="Name"
                                        {% if mode.title() == 'Update' %}
                                       value='{{ group.name }}'
                                        {% endif %}
                                       required>
                            </div>
                        </div>

                        {# Description #}
                        <div class="control-group">
                            <label for="group_description"
                                   class="span2 control-label">Description</label>

                            <div class="span10">
                                <div class="wysiwyg-editor"
                                     id="group_description"
                                     name="description"></div>
                            </div>
                        </div>

                        {# Permissions #}
                        <div class="control-group">
                            <label for="group_description"
                                   class="span2 control-label">Permissions</label>

                            <div class="span10">
                                {% include 'group/list/list_group_permissions.jinja2' %}
                            </div>
                        </div>


                        <input type='hidden' name='came_from'
                               value='{{ came_from }}'>

                        {#    Form Buttons #}
                        <div class="form-actions">
                            <button type="submit"
                                    class="btn btn-info btn-primary">
                                <i class="icon-ok"></i>Ok
                            </button>
                            <button type="button" class="btn">
                                <i class="icon-remove"></i>Cancel
                            </button>
                        </div>
                    </form>


                </div>
                <!-- /widget-main -->
            </div>
            <!-- /widget-body -->
        </div>
    </div>
</div>
