<table class="table table-striped table-bordered">
    <thead>
        <tr style="background-color: #6abd45; color:#FFFFFF">
            <th style="width:25%">PROJE ADI</th>
            <th style="width:25%">PROJE TIPI</th>
            <th style="width:25%">PROJE KODU</th>
            <th style="width:25%">PROJE ICERIGI</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.type.name }}</td>
            <td>{{ project.code }}</td>
            <td>{{ project.status.name }}</td>
        </tr>
    </tbody>
</table>
