{# Render Project Side Bar #}


<ul id="sidebar_list" class='nav nav-list'>


</ul>

<script type="text/javascript">

    window.jQuery(document).ready(function () {
        page_of(
            '{{ project.name }}',
            '{{ project.code }}',
            "{%- if project.thumbnail -%}/{{ project.thumbnail.full_path }}{%- else -%}{{ request.static_url("stalker_pyramid:static/stalker/images/T_NO_IMAGE.gif")}}{%- endif -%}",
            '{%- if has_permission('Update_Project') -%}/projects/{{ project.id }}/update/details/view?mode=Update{%- endif -%}'
        );

        menu_of(
            'Dashboard',
            "{%- if request.current_route_path() == request.route_path('view_project', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_project', id=project.id) }}',
            get_icon('dashboard'),
            ''
        );
        {% if project.get_generic_text_attr('active_budget_id') %}
            menu_of(
                'Calendar',
                "{%- if request.current_route_path() == request.route_path('view_budget_calendar', id=project.get_generic_text_attr('active_budget_id')) -%}'active',{%- else -%},{%- endif -%}",
                '{{ request.route_url('view_budget_calendar', id=project.get_generic_text_attr('active_budget_id')) }}',
                get_icon('timelog'),
                ''
            );
        {% endif %}

        menu_of(
            'Tickets',
            "{%- if request.current_route_path() == request.route_path('list_entity_tickets', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_tickets', id=project.id) }}',
            get_icon('ticket'),
            {{ project.open_tickets | count }}
        );

        menus_under_title('Tasks',
                              'task',
                              [
                               {'name': 'Gantt',
                                'link':'{{ request.route_url('list_entity_tasks', id=project.id) }}',
                                'state':"{%- if request.current_route_path() == request.route_path('list_entity_tasks', id=project.id) -%}'active',{%- else -%},{%- endif -%}"},
                              {'name': 'List',
                                'link':'{{ request.route_url('view_project_tasks', id=project.id) }}',
                                'state':"{%- if request.current_route_path() == request.route_path('view_project_tasks', id=project.id) -%}'active',{%- else -%},{%- endif -%}"}
            ]);

{#        menu_of(#}
{#            'Tasks',#}
{#            "{%- if request.current_route_path() == request.route_path('list_entity_tasks', id=project.id) -%}'active',{%- else -%},{%- endif -%}",#}
{#            '{{ request.route_url('list_entity_tasks', id=project.id) }}',#}
{#            get_icon('task'),#}
{#            '/projects/{{ project.id }}/tasks/count/?leaf=1'#}
{#        );#}

        menu_of(
            'Assets',
            "{%- if request.current_route_path() == request.route_path('list_project_assets', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_project_assets', id=project.id) }}',
            get_icon('asset'),
            '/projects/{{ project.id }}/assets/count/'
        );

        menu_of(
            'Sequences',
            "{%- if request.current_route_path() == request.route_path('list_project_sequences', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_project_sequences', id=project.id) }}',
            get_icon('sequence'),
            '/projects/{{ project.id }}/sequences/count/'
        );

        menu_of('Scenes',
            "{%- if request.current_route_path() == request.route_path('list_entity_scenes', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_scenes', id=project.id) }}',
            get_icon('shot'),
            '/entities/{{ project.id }}/scenes/count/'
        );

        menu_of(
            'Users',
            "{%- if request.current_route_path() == request.route_path('list_project_users', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_project_users', id=project.id) }}',
            get_icon('user'),
            '/entities/{{ project.id }}/users/count/'
        );
        menu_of(
            'Authlogs',
            "{%- if request.current_route_path() == request.route_path('list_entity_authlogs', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_authlogs', id=project.id) }}',
            get_icon('report'),
            ''
        );

{#        menu_of(#}
{#            'Roles',#}
{#            "{%- if request.current_route_path() == request.route_path('list_entity_users_role', id=project.id) -%}'active',{%- else -%},{%- endif -%}",#}
{#            '{{ request.route_url('list_entity_users_role', id=project.id) }}',#}
{#            get_icon('user'),#}
{#            '/entities/{{ project.id }}/users/count/'#}
{#        );#}

        menu_of(
            'References',
            "{%- if request.current_route_path() == request.route_path('list_entity_references', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_entity_references', id=project.id) }}',
            get_icon('reference'),
            '/entities/{{ project.id }}/references/count/'
        );

        menu_of(
            'Brief',
            "{%- if request.current_route_path() == request.route_path('list_project_notes', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_project_notes', id=project.id) }}',
            get_icon('note'),
            ''
        );

        menu_of(
            'Reviews',
            "{%- if request.current_route_path() == request.route_path('list_project_reviews', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_project_reviews', id=project.id) }}',
            get_icon('review'),
            '/projects/{{ project.id }}/reviews/count/'
        );

        menu_of(
            'Dailies',
            "{%- if request.current_route_path() == request.route_path('list_project_dailies', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('list_project_dailies', id=project.id) }}',
            get_icon('daily'),
            '/projects/{{ project.id }}/dailies/count/'
        );

        menu_of(
            'Reports',
            "{%- if request.current_route_path() == request.route_path('view_project_reports', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_project_reports', id=project.id) }}',
            get_icon('report'),
            ''
        );
        menu_of(
            'Results',
            "{%- if request.current_route_path() == request.route_path('view_entity_result', id=project.id) -%}'active',{%- else -%},{%- endif -%}",
            '{{ request.route_url('view_entity_result', id=project.id) }}',
            get_icon('report'),
            ''
        );
        {% if  has_permission('Create_Budget') %}

            menus_under_title('Production',
                              'budget',
                              [
                               {'name': 'Teklifler',
                                'link':'{{ request.route_url('list_project_budgets', id=project.id) }}',
                                'state':"{%- if request.current_route_path() == request.route_path('list_project_budgets', id=project.id) -%}'active',{%- else -%},{%- endif -%}"}
{#                              {'name': 'Invoices',#}
{#                                'link':'{{ request.route_url('list_entity_invoices', id=project.id) }}',#}
{#                                'state':"{%- if request.current_route_path() == request.route_path('list_entity_invoices', id=project.id) -%}'active',{%- else -%},{%- endif -%}"},#}
{#                              {'name': 'Cost Sheet',#}
{#                                'link':'{{ request.route_url('view_project_cost_sheet', id=project.id) }}',#}
{#                                'state':"{%- if request.current_route_path() == request.route_path('view_project_cost_sheet', id=project.id) -%}'active',{%- else -%},{%- endif -%}"}#}
            ]);
        {% endif %}

    });
</script>

<script type="text/javascript">
    window.jQuery.getJSON('/projects/{{ project.id }}/tasks/count/').then(function (data) {
        window.jQuery(function(){
            window.jQuery('#Tasks_count').text(data);
        })
    });
</script>

<script type="text/javascript">
    window.jQuery.getJSON('/projects/{{ project.id }}/assets/count/').then(function (data) {
        window.jQuery(function(){
            window.jQuery('#Assets_count').text(data);
        })
    });
</script>

<script type="text/javascript">
    window.jQuery.getJSON('/projects/{{ project.id }}/sequences/count/').then(function (data) {
        window.jQuery(function () {
            window.jQuery('#Sequences_count').text(data);
        });
    });
</script>

<script type="text/javascript">
    window.jQuery.getJSON('/projects/{{ project.id }}/shots/count/').then(function (data) {
        window.jQuery(function () {
            window.jQuery('#Shots_count').text(data);
        });
    });
</script>

<script type="text/javascript">
    window.jQuery.getJSON('/entities/{{ project.id }}/users/count/').then(function (data) {
        window.jQuery(function (){
            window.jQuery('#Users_count').text(data);
        });
    });
</script>


