<div class="row-fluid">
    <div class="span12 label label-large label-success arrowed-in arrowed-right">
        <b>Project Info</b>
    </div>
</div>
<div class="row-fluid">
    <ul class="unstyled spaced" id="project_role_list">

{#        <li id="creative_director">#}
{##}
{#        </li>#}
{#        <li id="customer_director">#}
{#            <i class="icon-caret-right blue" ></i>#}
{#        </li>#}
{#        <li id="agency_producer">#}
{#            <i class="icon-caret-right blue" ></i>#}
{#        </li>#}
{#        <li id="director">#}
{#            <i class="icon-caret-right blue" ></i>#}
{#        </li>#}
{#        <li id="producer">#}
{#            <i class="icon-caret-right blue" ></i>#}
{#        </li>#}

    </ul>
</div>

<div class="hr hr8 hr-double hr-dotted"></div>

<script type="text/javascript">
    window.$(document).ready(function () {
        function set_field_value(role_name, url){
            console.log("set_field_value");
            var project_role_list = $("#project_role_list");
            $.getJSON(url).then(function (data) {
                console.log("loaded: " +data);
{#                if(data.name != ""){#}
                    project_role_list.append("<li><span><i class='icon-caret-right blue' ></i> <b>"+role_name+ "</b>: "+data.name+"</span></li>");
{#                }#}


            });
        }

        set_field_value("Creative Director", '/entities/{{ project.id }}/role_user/?role_name=Creative%20Director');
        set_field_value("Client Director", '/entities/{{ project.id }}/role_user/?role_name=Client%20Director');
        set_field_value("Agency Producer", '/entities/{{ project.id }}/role_user/?role_name=Agency%20Producer');
        set_field_value("Director", '/entities/{{ project.id }}/role_user/?role_name=Director');
        set_field_value("Producer", '/entities/{{ project.id }}/role_user/?role_name=Producer');
    });
</script>
