<table class="table table-striped table-bordered">
    <thead>
        <tr style="background-color: #6abd45; color:#FFFFFF">
            <th style="width:25%">PROJECT NAME</th>
            <th style="width:25%">PROJECT TYPE</th>
            <th style="width:25%">PROJECT CODE</th>
            <th style="width:25%">PROJECT STATUS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.type.name }}</td>
            <td>{{ project.code }}</td>
            <td>{{ project.status.name }}</td>
        </tr>
    </tbody>
</table>
