{% extends "base.jinja2" %}

{# PRE-HEADER#}
{% block pre_header %}

    {% include 'charts/chart_preheader.jinja2' %}

{% endblock pre_header %}
{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title='Dashboard' %}
    {% include 'breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# PAGE-CONTENT #}
{% block page_content %}

    {% set page_title='Dashboard' %}
    {% include 'page_header.jinja2' %}


    <!--PAGE CONTENT BEGINS-->
    <div class="row-fluid">

        <div class="span6">
            <div class="progress progress-success progress-striped"
                 data-percent='{{ entity.percent_complete }}%'>
                <div class="bar"
                     style="width:{{ entity.percent_complete }}%"></div>
            </div>
            <div class="space-12"></div>
            <div class="hr hr8 hr-double"></div>
{#            <div class="space-18"></div>#}
            <div id="pie_chart"
                 address='/entities/{{ entity.id }}/tasks_stats/'
                 class="pull-left"
                 style="width:250px; height:250px;">
            </div>
        </div>
        <div class="span6">
            <h4 class="header smaller light-blue">
                <i class="icon-time"></i>
                Daily Working Hours
            </h4>

            <div id="zoom_chart" style="height:200px;"></div>

        </div>
    </div>


    <div class="hr hr8 hr-double"></div>


    <div class="row-fluid">

        <div class="span6">
            <h4 class="header smaller purple">
                <i class="icon-list"></i>
                Tasks In Progress Today
            </h4>

            <div id="loading_spinner_for_start" class="well well-sm">

                <div class="inline middle blue bigger-110"><i
                        class="icon-spinner icon-spin orange bigger-125"></i>
                    Loading
                    content...
                </div>
            </div>

            <table id="tasks_supposed_to_start"
                   class="table table-striped table-bordered table-hover hide">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Resources</th>
                    <th>Created By</th>
                    <th>Completed</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="span6">

            <h4 class="header smaller green">
                <i class="icon-list"></i>
                Tasks End Today
            </h4>

            <div id="loading_spinner_for_end" class="well well-sm">

                <div class="inline middle blue bigger-110"><i
                        class="icon-spinner icon-spin orange bigger-125"></i>
                    Loading
                    content...
                </div>
            </div>

            <table id="tasks_supposed_to_end"
                   class="table table-striped table-bordered table-hover hide">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Resources</th>
                    <th>Created By</th>
                    <th>Completed</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>


    </div>

{% endblock page_content %}

{% block extrascripts %}




    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.dataTables.min.js") }}'></script>
    <script src='{{ request.static_url("stalker_pyramid:static/ace/js/jquery.dataTables.bootstrap.js") }}'></script>

    {% raw %}
    <script id="tmpl_taskRow" type="text/x-dot-template">
        <tr>
            <td><a href='/tasks/{{=it.task_id }}/view'>{{=it.task_name}}</a>
            </td>
            <td>{{=it.resources}}
            </td>
            <td><a href='/users/{{=it.created_by_id}}/view'>{{=it.created_by_name}}</a>
            </td>
            <td>
                <div>
                    <span>{{=it.status}}</span>
                </div>
                <div class="progress progress-success">
                    <div style="width:{{=it.completed}}%"
                         class="bar">
                        <span class="center">{{=it.percent_complete}}%</span>
                    </div>
                </div>

                <div class="progress" data-percent="66%">
                    <div class="progress-bar" style="width:66%;"></div>
                </div>

            </td>
        </tr>
    </script>
    {% endraw %}



    <script>
        // fill projects table with dynamic data
        $(document).ready(function () {

            $.getJSON('/projects/{{ entity.id }}/tasks/start/today/').then(function (data) {


                var project_template = doT.template($('#tmpl_taskRow').html());

                // wait until document is ready
                $(function () {

                    var i;
                    var table_body = $('#tasks_supposed_to_start>tbody');
                    for (i = 0; i < data.length; i++) {

                        // append it to the table
                        table_body.append(project_template(data[i]));
                    }

                    var oTable1 = $('#tasks_supposed_to_start').dataTable();

                });
                $('#tasks_supposed_to_start').show();
                $('#loading_spinner_for_start').hide();
            });


            $.getJSON('/projects/{{ entity.id }}/tasks/end/today/').then(function (data) {


                var project_template = doT.template($('#tmpl_taskRow').html());

                // wait until document is ready
                $(function () {

                    var i;
                    var table_body = $('#tasks_supposed_to_end>tbody');
                    for (i = 0; i < data.length; i++) {

                        // append it to the table
                        table_body.append(project_template(data[i]));
                    }

                    var oTable1 = $('#tasks_supposed_to_end').dataTable();

                });

                $('#tasks_supposed_to_end').show();
                $('#loading_spinner_for_end').hide();
            });
        });

    </script>


    {% include 'charts/chart_extrascripts.jinja2' %}

    {% include 'charts/pie_chart.jinja2' %}
    {% include 'charts/zoom_chart.jinja2' %}

{% endblock extrascripts %}