{% extends "base.jinja2" %}

{# PRE-HEADER#}
{% block pre_header %}

    {% include 'charts/chart_preheader.jinja2' %}

{% endblock pre_header %}

{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title=filter.name %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# PAGE-CONTENT #}
{% block page_content %}

    <div class="hr hr8 hr-double"></div>
    <div class="space12"></div>
    <div class="row-fluid">
        <div class="span10">
            <div id="infobox"
                 address='/entities/{{ entity.id }}/tasks_stats/'
                 class="infobox-container pull-left">
                {% include 'components/infobox.jinja2' %}
            </div>
        </div>

        <div class="span2">
            <h5 class="green"><i class="icon-bolt"></i> Progress</h5>

            <div class="progress progress-success progress-striped"
                 data-percent="{{ "%2.1f" | format(entity.percent_complete) }}%">
                <div class="bar"
                     style="width: {{ entity.percent_complete }}%;"></div>
            </div>

        </div>
    </div>
    <div class="hr hr8 hr-double"></div>
    <div class="space"></div>
    <div class="row-fluid" id="table_row">
    <div class="widget-box">
        <div class="widget-header widget-header-small header-color-{{ filter.html_class }}">
            <h5 id="items_header" class="smaller">{{ filter.name }}</h5>

            <div class="widget-toolbar">

                <a href="#" data-action="collapse">
                    <i class="icon-chevron-down"></i>
                </a>

            </div>

        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">

                {% include 'task/list/list_entity_tasks_by_filter.jinja2' %}

            </div>
        </div>
    </div>
    </div>

{% endblock page_content %}

{% block extrascripts %}


{% raw %}
<script id="tmpl_itemThead" type="text/x-dot-template">
    <tr>
        <th>Start</th>
        <th>Name</th>
        <th>Resource</th>
        <th>Responsible</th>
        <th>Type</th>
        <th>Completed</th>
        <th>Hours Based on Bid</th>
        <th>Hours to Complete</th>
        <th>Priority</th>
        <th></th>
    </tr>
</script>
{% endraw %}


{% raw %}
<script id="tmpl_itemRow" type="text/x-dot-template">
    <tr>
        <td>{{=it.start}}</td>
        <td><a href='/tasks/{{=it.id}}/view'>{{=it.name}}</a></td>
        <td>{{ for(var i=0;i<it.resources.length;i++){ }}<a href='/users/{{=it.resources[i].id}}/view'>{{=it.resources[i].name}}</a><br/>{{ } }}</td>
        <td>{{ for(var j=0;j<it.responsible.length;j++){ }}<a href='/users/{{=it.responsible[j].id}}/view'>{{=it.responsible[j].name}}</a><br/>{{ } }}</td>

        <td>{{=it.task_type}}</td>
        <td data-sType="num-html">
            <div class="progress progress-success">
                <div style="width:{{=it.completed}}%"
                     class="bar">
                    <span class="pull-left">{{= it.completed.toFixed(0) }}%</span>
                </div>
            </div>
        </td>
        <td {{ if (it.hour_based_on_bid<0) { }}style="background-color: #ff0000; opacity:0.8;"{{ } }}>{{=it.hour_based_on_bid}} h</td>
        <td {{ if (it.hour_to_complete<0) { }}style="background-color: #ff0000; opacity:0.8;"{{ } }}>{{=it.hour_to_complete}} h</td>
        <td>{{=it.priority}}</td>
        <td>
                <div class="hidden-phone visible-desktop action-buttons">
                    <a class="blue" href='/tasks/{{=it.id}}/view'>
                        <i class="icon-zoom-in bigger-130"></i>
                    </a>

                    {{ if (it.request_extra_time)  { }}
                        <a
                            class="red"
                            data-target="#dialog_template"
                            data-toggle="modal"
                            data-keyboard=false
                            data-rel="tooltip"
                            data-placement="top"
                            title="Request Extra Time"
                            href="{{=it.request_extra_time}}">
                            <i class="icon-time bigger-130"></i>
                        </a>
                    {{ } }}

                    {{ if (it.request_review) { }}
                        <a
                            class="green"
                            data-target="#dialog_template"
                            data-toggle="modal"
                            data-keyboard=false
                            data-rel="tooltip"
                            data-placement="top"
                            title="Request Review"
                            href="{{=it.request_review}}">
                            <i class="icon-comment-alt bigger-130"></i>
                        </a>

                    {{ } }}
                    {{ if (it.review) { }}
                        <a
                            class="purple"
                            data-target="#dialog_template"
                            data-toggle="modal"
                            data-keyboard=false
                            data-rel="tooltip"
                            data-placement="top"
                            title="Review"
                            href="{{=it.review }}">
                            <i class="icon-comments bigger-130"></i>
                        </a>
                    {{ } }}


                </div>
        </td>

    </tr>
</script>
{% endraw %}

    <script>
        $(document).ready(function () {
            init_html_modal()
        })
    </script>

{% endblock extrascripts %}
