{% extends "base.jinja2" %}

{# PRE-HEADER#}
{% block pre_header %}

    {% include 'charts/chart_preheader.jinja2' %}

{% endblock pre_header %}

{# BREADCRUMBS #}
{% block breadcrumbs %}

    {% set page_title='Dashboard' %}
    {% include 'breadcrumb/breadcrumbs.jinja2' %}

{% endblock breadcrumbs %}

{# SIDEBAR #}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{# PAGE-CONTENT #}
{% block page_content %}

{#    {% set page_title='Dashboard' %}#}
{#    {% include 'page_header.jinja2' %}#}

    <div class="row-fluid">
        <div class="widget-box transparent invoice-box">

            <div class="widget-header widget-header-large ">
                <h4 class="position-relative ">{{entity.name}}</h4>

                <div class="widget-toolbar no-border invoice-info">
                    <span class="invoice-info-label">Status:</span>
                    <span class="label label-{{ entity.status.html_class }}">{{ entity.status.name }}</span>
                    <br>

                    <div class="progress progress-mini progress-success progress-striped {% if entity.status.code == 'WIP' %}active{% endif %}"
                         style="width: 120px;"
                         data-percent="{{ "%2.1f" | format(entity.percent_complete) }}%">
                        <div class="bar"
                             style="width: {{ entity.percent_complete }}%;"></div>
                    </div>
                </div>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row-fluid">
                        <div class="span9">
                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Name</div>
                                    <div class="profile-info-value">
                                                    <span id="project_name">{{ entity.name }} ({{ entity.code }})</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Image Format</div>
                                    <div class="profile-info-value">
                                            <span id="project_img_format">{{ entity.image_format.name }}</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Repository</div>
                                    <div class="profile-info-value">
                                        <span id="project_repo">{{ entity.repository.name }}</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Fps</div>
                                    <div class="profile-info-value">
                                            <span id="project_fps">{{ entity.fps }}</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Lead</div>
                                    <div class="profile-info-value">
                                            <span id="project_lead">{{ entity.lead.name }}</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Status</div>
                                    <div class="profile-info-value">
                                            <span id="project_status">{{ entity.status.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span3">
                            {#            <h5 class="green"><i class="icon-bolt"></i> Progress</h5>#}
                            {##}
                            {#            <div class="progress progress-success progress-striped"#}
                            {#                 data-percent="{{ "%2.1f" | format(entity.percent_complete) }}%">#}
                            {#                <div class="bar"#}
                            {#                     style="width: {{ entity.percent_complete }}%;"></div>#}
                            {#            </div>#}

                                        <div class="span10">
                                            {% include 'project/view/project_timing.jinja2' %}
                                        </div>


                        </div>
                    </div>
                    <div class="hr hr8 hr-double"></div>
                    <div class="space"></div>
                    <div class="row-fluid ">
                        <div class="span9">
                            <div id="infobox"
                                 address='/entities/{{ entity.id }}/tasks_stats/'
                                 class="infobox-container pull-left">
                                {% include 'components/infobox.jinja2' %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock page_content %}


