<div class="row-fluid">
    <div class="span12">
        <!--PAGE CONTENT BEGINS-->

        <div class="row-fluid">
            <ul class="ace-thumbnails">
                {% for user in users %}
                    {% include 'auth/list_item_user.jinja2' %}
                {% endfor %}

            </ul>
        </div>
        <!--PAGE CONTENT ENDS-->
    </div>
    <!--/.span-->
