<div class="row-fluid">
    <div class="span12">
        <!--PAGE CONTENT BEGINS-->

        <div class="row-fluid">
            <ul class="ace-thumbnails">
                {% for user in users %}
                    {% include 'auth/list_item_user.jinja2' %}
                {% endfor %}

            </ul>
        </div>
        <!--PAGE CONTENT ENDS-->
    </div>
    <!--/.span-->
{#</div>#}
{#<div class="row-fluid">#}
{#    <div class="profile-users clearfix">#}
{#        {% for user in users %}#}
{#            <div class="itemdiv memberdiv">#}
{#                <div class="inline position-relative">#}
{#                    <div class="user">#}
{#                        <a href="#">#}
{#                            <img src="{%- if user.thumbnail -%}#}
{#                    /{{ user.thumbnail.full_path }}#}
{#                {%- else -%}#}
{#                    {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_0.png") }}#}
{#           {%- endif -%}"#}
{#                                 alt={{ user.name }}"'s avatar">#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                    <div class="body">#}
{#                        <div class="name">#}
{#                            <a href="#">#}
{#                                <span class="user-status status-online"></span>#}
{#                                {{ user.name }}#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="popover right">#}
{#                        <div class="arrow"></div>#}
{##}
{#                        <div class="popover-content">#}
{#                            <div class="bolder">Content Editor</div>#}
{##}
{#                            <div class="time">#}
{#                                <i class="icon-time middle bigger-120 orange"></i>#}
{#                                <span class="green"> 20 mins ago </span>#}
{#                            </div>#}
{##}
{#                            <div class="hr dotted hr-8"></div>#}
{##}
{#                            <div class="tools action-buttons">#}
{#                                <a href="#">#}
{#                                    <i class="icon-facebook-sign blue bigger-150"></i>#}
{#                                </a>#}
{##}
{#                                <a href="#">#}
{#                                    <i class="icon-twitter-sign light-blue bigger-150"></i>#}
{#                                </a>#}
{##}
{#                                <a href="#">#}
{#                                    <i class="icon-google-plus-sign red bigger-150"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{#</div>#}