{% extends "base.jinja2" %}
{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{% block main_content %}

    {% set users=entity.users %}
    <div class='col-lg-10'>
        <div class="page-header">
            <h3>{{ entity.name }}
                <small>USERS</small>
            </h3>
        </div>


        <div class="row">
            {% for user in users %}
                {% include 'auth/list_item_user.jinja2' %}
            {% endfor %}
        </div>
    </div>

{% endblock main_content %}
