{% extends "base.jinja2" %}

{% block breadcrumbs %}
  {% if entity %}
        {% set groups=entity.groups %}
    {% else %}
        {% set entity=studio %}
    {% endif %}
    {% set page_title='Groups' %}
    {% include 'breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}

{% block sidebar %}
  {% if entity %}
        {% set groups=entity.groups %}
    {% else %}
        {% set entity=studio %}
    {% endif %}

    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{% block page_content %}
    {% if entity %}
        {% set groups=entity.groups %}
    {% else %}
        {% set entity=studio %}
    {% endif %}

    {% set page_title='Groups' %}
    {% include 'page_header.jinja2' %}

    <div class="row-fluid">
        <ul class="thumbnails">
            {% for group in groups %}
                <li class="span2">
                    {% include 'auth/list_item_group.jinja2' %}
                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock page_content %}