{% extends "base.jinja2" %}

{% block breadcrumbs %}
    {% set listed_type=group.plural_class_name %}
    {% set page_title=group.name %}
    {% include 'breadcrumbs_detail.jinja2' %}
{% endblock breadcrumbs %}

{% block sidebar %}
    {% include 'sidebar.jinja2' %}
{% endblock sidebar %}

{% block page_content %}
    {% set users=group.users %}
    <div class="row-fluid">
        <div class="media">
            <a class="pull-left" href="#" style="width: 132px; height: 132px">
                <img style='width:auto; height: auto;' class="img-thumbnail"
                     src="{%- if group.thumbnail -%}
                    /{{ group.thumbnail.full_path }}
                {%- else -%}
                    {{ request.static_url("stalker_pyramid:static/stalker/images/Placeholder_Team.jpg") }}
                {%- endif -%}">
            </a>

            <div class="media-body">
                <h2 class="media-heading">{{ group.name }}
                    <small> {{ group.description }}</small>
                </h2>
                <button class='btn btn-mini btn-info'><i class="icon-edit"></i> Edit Group »</button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#group_permissions"
                           data-toggle="tab"><i class="icon-key"></i> Permissions</a>
                    </li>
                    <li class="">
                        <a href="#group_users" data-toggle="tab">
                          <i class="icon-user"></i> Users</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="group_permissions">
                        {% include 'auth/list_permissions.jinja2' %}
                    </div>
                    <div class="tab-pane fade" id="group_users">
                        {% include 'auth/list_users.jinja2' %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {#    </div>#}

{% endblock page_content %}