<div id='dialog_template'
     aria-labelledby="dialog_template_label"
     class='modal hide fade'
     tabIndex='-1'
     zIndex='2'
     role='dialog'
     aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h3 id="dialog_template_label" class="blue"></h3>
    </div>
    <div id='dialog_message'></div>
    <div id="dialog_template_body" class="modal-body"></div>
    <div class="modal-footer">

        <button id="dialog_template_delete_button" type="button"
                class="btn btn-small btn-danger pull-left"
                style="display: none">
            <i class="icon-trash"></i>Delete
        </button>
        <button type="button" class="btn btn-small" data-dismiss="modal">
            <i class="icon-remove"></i>
            Cancel
        </button>

        <button id='dialog_template_submit_button'
                type="button"
                class="btn btn-small btn-primary">
            <i class="icon-ok"></i>
            Ok
        </button>
    </div>
</div>
