<div id='html_template'
     style="width: 1200px;"
     aria-labelledby="html_template_label"
     class='modal pull-left hide fade'
     tabIndex='-1'
     zIndex='2'
     role='dialog'
     aria-hidden="true">
    <div class="modal-header no-padding">
        <div class="row-fluid">
            <div id="html_template_header" class="table-header header-color-red">
                <button type="button" class="close" data-dismiss="modal">×
                </button>
                <div id="html_template_label"></div>

            </div>
        </div>
    </div>

    <div id="html_template_body" class="modal-body no-padding">
    </div>
    {#    <div id="html_template_footer"  class="modal-footer no-padding">#}
    {#         <button type="button" class="btn btn-small btn-primary" data-dismiss="modal">#}
    {#            <i class="icon-remove"></i>#}
    {#            Ok#}
    {#        </button>#}
    {#    </div>#}
</div>